{% extends 'index.njk' %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from 'govuk/components/error-summary/macro.njk' import govukErrorSummary %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from 'govuk/components/button/macro.njk' import govukButton %}
{% import '../../components/form-buttons.njk' as formButtons %}

{% block pageTitle %}
  {{ CONTENT_STRINGS.PAGE_TITLE }}
{% endblock %}

{% block content %}

  {{ govukBackLink({
    text: CONTENT_STRINGS.LINKS.BACK,
    href: BACK_LINK,
    attributes: {
      "data-cy": DATA_CY.BACK_LINK
    }
  }) }}

  {% if validationErrors.summary %}
    {{ govukErrorSummary({
      titleText: CONTENT_STRINGS.ERROR_MESSAGES.THERE_IS_A_PROBLEM,
      errorList: validationErrors.summary
    }) }}
  {% endif %}

  <span class="govuk-caption-l" data-cy="heading-caption">{{ CONTENT_STRINGS.HEADING_CAPTION }}</span>
  <h1 class="govuk-heading-xl" data-cy="{{ DATA_CY.HEADING }}">{{ CONTENT_STRINGS.PAGE_TITLE }}</h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters-from-desktop">

      <p class="govuk-body" data-cy="{{ DATA_CY.INTRO }}">{{ CONFIDENTIALITY_CONTENT.INTRO }}</p>

      <ol class="counter-list counter-list--bold">

        {% for level1Item in CONFIDENTIALITY_CONTENT.LIST %}

          <li class="govuk-!-margin-bottom-7 counter-list-item">
            <span class="govuk-!-margin-bottom-7" data-cy="list-level-1-item-{{ loop.index }}">{{ level1Item.text }}</span>

            {% if level1Item.children %}

              <ol class="lower-alpha-counter-list">

                {% for level2Item in level1Item.children %}

                <li class="govuk-!-margin-bottom-7 counter-list-item">
                  <span class="govuk-!-margin-bottom-7" data-cy="list-level-2-item-{{ loop.index }}">{{ level2Item.text }}</span>

                  {% if level2Item.children %}

                    <ol class="lower-roman-counter-list">

                      {% for level3Item in level2Item.children %}

                      <li class="govuk-!-margin-bottom-7 counter-list-item">
                        <span data-cy="list-level-3-item-{{ loop.index }}">{{ level3Item.text }}</span>
                      </li>

                      {% endfor %}

                    </ol>

                  {% endif %}

                </li>

                {% endfor %}

              </ol>

            {% endif %}

          </li>

        {% endfor %}

      </ol>

    </div>
  </div>

  <form method="POST" data-cy="form" enctype="application/x-www-form-urlencoded" novalidate>

    <input type="hidden" name="_csrf" value="{{ csrfToken }}">

    {% set legendHtml %}
      <span class="govuk-fieldset__legend govuk-fieldset__legend--m" data-cy="{{ FIELD.ID }}-label">{{ FIELD.LABEL }}</span>
    {% endset %}

    {{ govukCheckboxes({
      name: FIELD.ID,
      classes: "govuk-checkboxes--small",
      fieldset: {
        legend: {
          html: legendHtml
        }
      },
      items: [
        {
          text: FIELD.OPTION.TEXT,
          value: FIELD.OPTION.VALUE,
          attributes: {
            'data-cy': FIELD.ID + '-input'
          },
          checked: application.declaration[FIELD.ID]
        }
      ],
      errorMessage: validationErrors.errorList[FIELD.ID] and {
        text: validationErrors.errorList[FIELD.ID].text,
        attributes: {
          "data-cy": FIELD.ID + "-error-message"
        }
      }
    }) }}

    {{ formButtons.render({
      contentStrings: CONTENT_STRINGS.BUTTONS,
      saveAndBackUrl: SAVE_AND_BACK_URL
    }) }}

  </form>

{% endblock %}
