{% extends 'index.njk' %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from 'govuk/components/error-summary/macro.njk' import govukErrorSummary %}
{% import '../../components/yes-no-radio-buttons.njk' as yesNoRadioButtons %}
{% import '../../components/form-buttons.njk' as formButtons %}

{% block pageTitle %}
  {{ CONTENT_STRINGS.PAGE_TITLE }}
{% endblock %}

{% block content %}

  {{ govukBackLink({
    text: CONTENT_STRINGS.LINKS.BACK,
    href: BACK_LINK,
    attributes: {
      "data-cy": DATA_CY.BACK_LINK
    }
  }) }}

  {% if validationErrors.summary %}
    {{ govukErrorSummary({
      titleText: CONTENT_STRINGS.ERROR_MESSAGES.THERE_IS_A_PROBLEM,
      errorList: validationErrors.summary
    }) }}
  {% endif %}

  <span class="govuk-caption-l" data-cy="heading-caption">{{ CONTENT_STRINGS.HEADING_CAPTION }}</span>
  <h1 class="govuk-heading-xl" data-cy="{{ DATA_CY.HEADING }}">{{ CONTENT_STRINGS.PAGE_TITLE }}</h1>

  <form method="POST" data-cy="form" enctype="application/x-www-form-urlencoded" novalidate>

    <input type="hidden" name="_csrf" value="{{ csrfToken }}">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters-from-desktop">

          {{ yesNoRadioButtons.render({
            fieldId: FIELDS.WILL_ADHERE_TO_ALL_REQUIREMENTS.ID,
            legendText: FIELDS.WILL_ADHERE_TO_ALL_REQUIREMENTS.LABEL,
            legendClass: 'govuk-fieldset__legend--s',
            legendSpan: true,
            errorMessage: validationErrors.errorList[FIELDS.WILL_ADHERE_TO_ALL_REQUIREMENTS.ID],
            dataCyLegend: FIELDS.WILL_ADHERE_TO_ALL_REQUIREMENTS.ID + '-legend',
            horizontalRadios: HORIZONTAL_RADIOS
          }) }}

          {{ yesNoRadioButtons.render({
            fieldId: FIELDS.HAS_NO_OFFENSES_OR_INVESTIGATIONS.ID,
            legendText: FIELDS.HAS_NO_OFFENSES_OR_INVESTIGATIONS.LABEL,
            legendClass: 'govuk-fieldset__legend--s',
            legendSpan: true,
            errorMessage: validationErrors.errorList[FIELDS.HAS_NO_OFFENSES_OR_INVESTIGATIONS.ID],
            dataCyLegend: FIELDS.HAS_NO_OFFENSES_OR_INVESTIGATIONS.ID + '-legend',
            horizontalRadios: HORIZONTAL_RADIOS
          }) }}

          {{ yesNoRadioButtons.render({
            fieldId: FIELDS.IS_NOT_AWARE_OF_EXISTING_SLAVERY.ID,
            legendText: FIELDS.IS_NOT_AWARE_OF_EXISTING_SLAVERY.LABEL,
            legendClass: 'govuk-fieldset__legend--s',
            legendSpan: true,
            errorMessage: validationErrors.errorList[FIELDS.IS_NOT_AWARE_OF_EXISTING_SLAVERY.ID],
            dataCyLegend: FIELDS.IS_NOT_AWARE_OF_EXISTING_SLAVERY.ID + '-legend',
            horizontalRadios: HORIZONTAL_RADIOS
          }) }}
      </div>
    </div>

    {{ formButtons.render({
      contentStrings: CONTENT_STRINGS.BUTTONS,
      saveAndBackUrl: SAVE_AND_BACK_URL
    }) }}

  </form>

{% endblock %}
