@import 'node_modules/govuk-frontend/dist/govuk/all';
// TODO: EMS-2475
// @import 'node_modules/@ministryofjustice/frontend/moj/all';
@import './accessible-autocomplete.min.scss';
@import './task-list.scss';
@import './declarations.scss';

.ukef-white-text {
  color: govuk-colour('white');
  &:link {
    color: govuk-colour('white');
  }
  &:visited {
    color: govuk-colour('white');
  }
}

.ukef-all-sections-second-column {
  @include govuk-media-query($from: desktop) {
    float: right;
  }
}

.ukef-task-list-column {
  @include govuk-media-query($from: desktop) {
    max-width: 630px;
  }
}

.companies-house-input-width {
  width: 50%;
}

.companies-house-search {
  flex: 1;
  margin-bottom: 0;
  vertical-align: top;
  align-items: flex-end;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.ukef-application-submitted {
  max-width: 360px;
}

.ukef-hide-iframe {
  display: none;
  visibility: hidden;
}
