{% extends 'index.njk' %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from 'govuk/components/button/macro.njk' import govukButton %}

{% block pageTitle %}
  {{ CONTENT_STRINGS.PAGE_TITLE }}
{% endblock %}

{% block content %}

  {{ govukBackLink({
    text: CONTENT_STRINGS.LINKS.BACK,
    href: BACK_LINK,
    attributes: {
      "data-cy": "back-link"
    }
  }) }}

  <h1 class="govuk-heading-l" data-cy="heading">{{ CONTENT_STRINGS.PAGE_TITLE }}</h1>

  <p>id: {{ application.id }}</p>
  <p>referenceNumber: {{ application.referenceNumber }}</p>
  <p>submissionDeadline: {{ application.submissionDeadline }}</p>
  <p>submissionType: {{ application.submissionType }}</p>
  <p>createdAt: {{ application.createdAt }}</p>
  <p>updatedAt: {{ application.updatedAt }}</p>

{% endblock %}
