{% extends 'index.njk' %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% block pageTitle %}
  {{ CONTENT_STRINGS.PAGE_TITLE }}
{% endblock %}

{% block content %}

  {% set titleHtml %}
    <span class="govuk-!-display-inline-block ukef-white-text ukef-application-submitted" data-cy="{{ DATA_CY.HEADING }}">{{ CONTENT_STRINGS.PAGE_TITLE }}</span>
  {% endset %}

  {% set panelHtml %}
      <p class="govuk-body govuk-!-font-size-24 ukef-white-text" data-cy="your-reference">{{ CONTENT_STRINGS.YOUR_REFERENCE }}</p>

      <p class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-36 ukef-white-text" data-cy="reference-number">{{ application.referenceNumber }}</p>
  {% endset %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters-from-desktop">

      {{ govukPanel({
        titleHtml: titleHtml,
        html: panelHtml,
        classes: "govuk-!-margin-bottom-9"
      }) }}

      <h3 class="govuk-heading-m" data-cy="what-happens-next-heading">{{ CONTENT_STRINGS.WHAT_HAPPENS_NEXT.HEADING}}</h3>

      <p class="govuk-body" data-cy="what-happens-next-intro">{{ CONTENT_STRINGS.WHAT_HAPPENS_NEXT.INTRO }}</p>

      <p class="govuk-body" data-cy="what-happens-next-will-send-email">{{ CONTENT_STRINGS.WHAT_HAPPENS_NEXT.WILL_SEND_EMAIL }}</p>

      <p class="govuk-body" data-cy="what-happens-next-may-also-contact">{{ CONTENT_STRINGS.WHAT_HAPPENS_NEXT.MAY_ALSO_CONTACT }}</p>

      <h3 class="govuk-heading-m" data-cy="decision-from-us-heading">{{ CONTENT_STRINGS.DECISION_FROM_US.HEADING}}</h3>

      <p class="govuk-body" data-cy="decision-from-us-timeframe">{{ CONTENT_STRINGS.DECISION_FROM_US.TIMEFRAME }}</p>

      <p class="govuk-body">
        <span data-cy="decision-from-us-questions-intro">{{ CONTENT_STRINGS.DECISION_FROM_US.HAVE_ANY_QUESTIONS.INTRO }}</span>
        <a class="govuk-link govuk-link--no-visited-state" href="{{ CONTENT_STRINGS.DECISION_FROM_US.HAVE_ANY_QUESTIONS.LINK.HREF }}" data-cy="decision-from-us-questions-link">{{ CONTENT_STRINGS.DECISION_FROM_US.HAVE_ANY_QUESTIONS.LINK.TEXT }}</a>.
      </p>

      <h3 class="govuk-heading-m" data-cy="help-us-improve-heading">{{ CONTENT_STRINGS.HELP_US_IMPROVE.HEADING}}</h3>

      <p class="govuk-body">
        <span data-cy="help-us-improve-carry-out">{{ CONTENT_STRINGS.HELP_US_IMPROVE.CARRY_OUT }}</span>
        <a class="govuk-link govuk-link--no-visited-state" href="{{ CONTENT_STRINGS.HELP_US_IMPROVE.TAKE_PART.HREF }}" data-cy="help-us-improve-take-part-link">{{ CONTENT_STRINGS.HELP_US_IMPROVE.TAKE_PART.TEXT }}</a>
        <span data-cy="help-us-improve-if-you-like">{{ CONTENT_STRINGS.HELP_US_IMPROVE.IF_YOU_LIKE }}</span>

        <span data-cy="help-us-improve-feedback-intro">{{ CONTENT_STRINGS.HELP_US_IMPROVE.FEEDBACK.INTRO }}</span>
        <span data-cy="help-us-improve-feedback-text">
          <a class="govuk-link govuk-link--no-visited-state" href="{{ CONTENT_STRINGS.HELP_US_IMPROVE.FEEDBACK.LINK.HREF }}" data-cy="help-us-improve-feedback-link">{{ CONTENT_STRINGS.HELP_US_IMPROVE.FEEDBACK.LINK.TEXT }}</a>.
        </span>
      </p>

    </div>
  </div>

{% endblock %}
