{% extends 'index.njk' %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% import '../components/dashboard-table.njk' as dashboardTable %}

{% block pageTitle %}
  {{ CONTENT_STRINGS.PAGE_TITLE }}
{% endblock %}

{% block content %}

  {{ govukBackLink({
    text: CONTENT_STRINGS.LINKS.BACK,
    href: BACK_LINK,
    attributes: {
      "data-cy": "back-link"
    }
  }) }}

  <h1 class="govuk-heading-xl" data-cy="heading">{{ CONTENT_STRINGS.PAGE_TITLE }}</h1>

  {% if applications.length %}

    {{ dashboardTable.render({
      tableHeaders: CONTENT_STRINGS.TABLE_HEADERS,
      applications: applications,
      insuranceRoute: ROUTES.INSURANCE_ROOT,
      allSectionsRoute: ROUTES.ALL_SECTIONS,
      submittedStatus: SUBMITTED_STATUS
    }) }}

    <a class="govuk-button govuk-button--secondary" href="{{ CONTENT_STRINGS.START_NEW_APPLICATION.HREF }}" data-cy="start-new-application">{{ CONTENT_STRINGS.START_NEW_APPLICATION.TEXT }}</a>

    {% else %}

    <p class="govuk-body" data-cy="no-applications">{{ CONTENT_STRINGS.NO_APPLICATIONS }}</p>

    <a class="govuk-button" href="{{ CONTENT_STRINGS.START_NEW_APPLICATION.HREF }}" data-cy="start-new-application">{{ CONTENT_STRINGS.START_NEW_APPLICATION.TEXT }}</a>

  {% endif %}

{% endblock %}
