{% extends 'index.njk' %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% block pageTitle %}
  {{ CONTENT_STRINGS.PAGE_TITLE }}
{% endblock %}

{% block content %}

  {{ govukBackLink({
    text: CONTENT_STRINGS.LINKS.BACK,
    href: BACK_LINK,
    attributes: {
      "data-cy": DATA_CY.BACK_LINK
    }
  }) }}

  <h1 class="govuk-heading-xl" data-cy="{{ DATA_CY.HEADING }}">{{ CONTENT_STRINGS.PAGE_TITLE }}</h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <p class="govuk-body">
        <span data-cy="{{ DATA_CY.INTRO }}">{{ CONTENT_STRINGS.INTRO }}</span>

        <span data-cy="email-prefix">{{ CONTENT_STRINGS.CONTACT_DETAILS.EMAIL.PREFIX }} </span>

        <a class="govuk-link" href="{{ CONTENT_STRINGS.CONTACT_DETAILS.EMAIL.VALUE }}" data-cy="email-link">{{ CONTENT_STRINGS.CONTACT_DETAILS.EMAIL.TEXT }}</a>
      </p>

    </div>
  </div>

{% endblock %}
