{% extends 'index.njk' %}

{% block pageTitle %}
  {{ CONTENT_STRINGS.PAGE_TITLE }}
{% endblock %}

{% block content %}

  <h1 class="govuk-heading-xl" data-cy="heading">{{ CONTENT_STRINGS.PAGE_TITLE }}</h1>

  <p class="govuk-body" data-cy="body">{{ CONTENT_STRINGS.BODY }} </p>

  <a class="govuk-button" href="#" data-cy="reactivate-account-link-button">{{ CONTENT_STRINGS.BUTTONS.REACTIVATE_ACCOUNT }}</a>
      
{% endblock %}
