version: '3.8'

services:
  database:
    image: mysql:8.4.1
    container_name: exip_db
    restart: always
    command: --mysql-native-password=ON
    ports:
      - '${DATABASE_PORT}:${DATABASE_PORT}'
    volumes:
      - ./database/exip.sql:/docker-entrypoint-initdb.d/database.sql:rw
    environment:
      MYSQL_DATABASE:
      MYSQL_ROOT_PASSWORD:
    healthcheck:
      test: ['CMD', 'mysqladmin', 'ping', '-h', 'localhost']
      retries: 3
      interval: 60s
      timeout: 10s
      start_period: 60s

  api:
    build:
      context: ./src/api
      args:
        PORT: ${API_PORT}
        SESSION_SECRET: ${SESSION_SECRET}
        GOV_NOTIFY_API_KEY: ${GOV_NOTIFY_API_KEY}
    image: api
    container_name: exip_api
    restart: always
    command: npm run start
    depends_on:
      - database
    ports:
      - '${API_PORT}:${API_PORT}'
    volumes:
      - ./.api/src:/app/src:ro
      - ./.api/src/.keystone:/app/src/.keystone:ro
    environment:
      TLS_CERTIFICATE:
      TLS_KEY:
      NODE_ENV:
      TZ:
      PORT: ${API_PORT}
      DATABASE_URL:
      API_KEY:
      SESSION_SECRET:
      COMPANIES_HOUSE_API_URL:
      COMPANIES_HOUSE_API_KEY:
      JWT_SIGNING_KEY:
      GOV_NOTIFY_API_KEY:
      GOV_NOTIFY_EMAIL_RECIPIENT_1:
      GOV_NOTIFY_EMAIL_RECIPIENT_2:
      UNDERWRITING_TEAM_EMAIL:
      FEEDBACK_EMAIL_RECIPIENT:
      MOCK_ACCOUNT_PASSWORD:
      APIM_MDM_URL:
      APIM_MDM_KEY:
      APIM_MDM_VALUE:
      ORDNANCE_SURVEY_API_KEY:
      ORDNANCE_SURVEY_API_URL:
      LOSS_PAYEE_ENCRYPTION_KEY:
      CRON_SCHEDULE_UNVERIFIED_ACCOUNT:
      CRON_SCHEDULE_INACTIVE_APPLICATION:
      CRON_SCHEDULE_SUBMISSION_DEADLINE_REMINDER_EMAIL:
      APPLICATION_URL:

  ui:
    build:
      context: ./src/ui
      args:
        PORT: ${UI_PORT}
    image: ui
    container_name: exip_ui
    restart: always
    depends_on:
      - database
      - api
    ports:
      - '${UI_PORT}:${UI_PORT}'
    volumes:
      - ./src/ui/server:/app/server:ro
      - ./src/ui/public:/app/public:ro
      - ./src/ui/templates:/app/templates:ro
    environment:
      TLS_CERTIFICATE:
      TLS_KEY:
      NODE_ENV:
      TZ:
      PORT: ${UI_PORT}
      API_URL:
      API_KEY:
      SESSION_SECRET:
      GOOGLE_ANALYTICS_ID:
      GOOGLE_TAG_MANAGER_ID:
      GOV_NOTIFY_EMAIL_RECIPIENT_1:
      GOV_NOTIFY_EMAIL_RECIPIENT_2:
      UNDERWRITING_TEAM_EMAIL:
      MOCK_ACCOUNT_PASSWORD:
    command: npx nodemon server/index.ts -L
