{% extends 'index.njk' %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from 'govuk/components/button/macro.njk' import govukButton %}
{% import '../../../components/form-buttons.njk' as formButtons %}

{% block pageTitle %}
  {{ CONTENT_STRINGS.PAGE_TITLE }}
{% endblock %}

{% block content %}

  {{ govukBackLink({
    text: CONTENT_STRINGS.LINKS.BACK,
    href: BACK_LINK,
    attributes: {
      "data-cy": DATA_CY.BACK_LINK
    }
  }) }}

  <form method="POST" data-cy="form" enctype="application/x-www-form-urlencoded" novalidate>

    <input type="hidden" name="_csrf" value="{{ csrfToken }}">

    <h1 class="govuk-heading-xl" data-cy="{{ DATA_CY.HEADING }}">{{ CONTENT_STRINGS.PAGE_TITLE }}</h1>

    <p data-cy="not-verified">{{ CONTENT_STRINGS.NOT_VERIFIED }}</p>

    <p data-cy="can-send-new-link">{{ CONTENT_STRINGS.CAN_SEND_NEW_LINK }}</p>

    {{ formButtons.render({
      contentStrings: CONTENT_STRINGS.REQUEST_NEW_LINK,
      submitText: CONTENT_STRINGS.REQUEST_NEW_LINK.TEXT
    }) }}

  </form>

{% endblock %}
