{% extends 'index.njk' %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from 'govuk/components/error-summary/macro.njk' import govukErrorSummary %}
{% import '../../../components/text-input.njk' as textInput %}
{% import '../../../components/password-input.njk' as passwordInput %}
{% import '../../../components/submit-button.njk' as submitButton %}

{% block pageTitle %}
  {{ CONTENT_STRINGS.PAGE_TITLE }}
{% endblock %}

{% block content %}

  {{ govukBackLink({
    text: CONTENT_STRINGS.LINKS.BACK,
    href: BACK_LINK,
    attributes: {
      "data-cy": DATA_CY.BACK_LINK
    }
  }) }}

  {% if validationErrors.summary %}
    {{ govukErrorSummary({
      titleText: CONTENT_STRINGS.ERROR_MESSAGES.THERE_IS_A_PROBLEM,
      errorList: validationErrors.summary
    }) }}
  {% endif %}

  <h1 class="govuk-heading-xl" data-cy="{{ DATA_CY.HEADING }}">{{ CONTENT_STRINGS.PAGE_TITLE }}</h1>

  <p data-cy="{{ DATA_CY.INTRO }}">{{ CONTENT_STRINGS.INTRO }}</p>

  <form method="POST" data-cy="form" enctype="application/x-www-form-urlencoded" novalidate>

    <input type="hidden" name="_csrf" value="{{ csrfToken }}">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half-from-desktop">

        {{ textInput.render({
          id: FIELDS.FIRST_NAME.ID,
          labelText: FIELDS.FIRST_NAME.LABEL,
          labelClasses: "govuk-!-font-weight-bold govuk-!-font-size-24",
          value: submittedValues[FIELDS.FIRST_NAME.ID],
          errorMessage: validationErrors.errorList[FIELDS.FIRST_NAME.ID]
        }) }}

        {{ textInput.render({
          id: FIELDS.LAST_NAME.ID,
          labelText: FIELDS.LAST_NAME.LABEL,
          labelClasses: "govuk-!-font-weight-bold govuk-!-font-size-24",
          value: submittedValues[FIELDS.LAST_NAME.ID],
          errorMessage: validationErrors.errorList[FIELDS.LAST_NAME.ID]
        }) }}

        {{ textInput.render({
          id: FIELDS.EMAIL.ID,
          labelText: FIELDS.EMAIL.LABEL,
          labelClasses: "govuk-!-font-weight-bold govuk-!-font-size-24",
          type: "email",
          value: submittedValues[FIELDS.EMAIL.ID],
          errorMessage: validationErrors.errorList[FIELDS.EMAIL.ID]
        }) }}

      </div>
    </div>

    {% set PASSWORD_FIELD_ID = FIELDS.PASSWORD.ID %}

    {% set passwordHintHtml %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters-from-desktop">

          <p class="govuk-hint" data-cy="{{ PASSWORD_FIELD_ID }}-hint-intro">{{ FIELDS.PASSWORD.HINT.INTRO }}</p>

          <ul>
            {% for rule in FIELDS.PASSWORD.HINT.RULES %}
              <li data-cy="{{ PASSWORD_FIELD_ID }}-hint-list-item-{{ loop.index }}">{{ rule }}</li>
            {% endfor %}
          </ul>

        </div>
      </div>
    {% endset %}

    {{ passwordInput.render({
      id: FIELDS.PASSWORD.ID,
      labelText: FIELDS.PASSWORD.LABEL,
      hintHtml: passwordHintHtml,
      value: submittedValues[FIELDS.PASSWORD.ID],
      errorMessage: validationErrors.errorList[FIELDS.PASSWORD.ID]
    }) }}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters-from-desktop">
        <h2 class="govuk-heading-m" data-cy="privacy-notice-heading">{{ CONTENT_STRINGS.PRIVACY.HEADING }}</h1>

        <p class="govuk-body" data-cy="privacy-notice-text">
          {{ CONTENT_STRINGS.PRIVACY.MAIN_TEXT }} <a class="govuk-link" data-cy="privacy-notice-link" href="{{ CONTENT_STRINGS.PRIVACY.LINK.HREF }}">{{ CONTENT_STRINGS.PRIVACY.LINK.TEXT }}</a>
        </p>
      </div>
    </div>

    <div class="govuk-button-group govuk-!-margin-top-5">
      {{ submitButton.render({
        text: CONTENT_STRINGS.BUTTONS.CONTINUE
      }) }}
    </div>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <h2 class="govuk-heading-m" data-cy="already-got-an-account">{{ CONTENT_STRINGS.ALREADY_GOT_AN_ACCOUNT }}</h2>

    <a class="govuk-button govuk-button--secondary" href="{{ SIGN_IN_LINK }}" data-cy="sign-in">{{ CONTENT_STRINGS.BUTTONS.SIGN_IN }}</a>

  </form>

  <script src="/assets/js/mojFrontend.js" type="module" integrity="{{ SRI.MOJ }}" crossorigin="anonymous"></script>

{% endblock %}
