{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% macro render(params) %}
  {% set heading = params.heading %}
  {% set warning = params.warning %}

  <h1 class='govuk-heading-l' data-cy='heading'>{{ heading }}</h1>
  
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      {{ govukWarningText({
        text: warning,
        iconFallbackText: "Warning",
        html: "<strong data-cy='warning'>" + warning + "</strong>"
      }) }}
    </div>
  </div>

{% endmacro %}
