{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}

{# maxlength: FIELDS.HAS_NO_OFFENSES_OR_INVESTIGATIONS.CONDITIONAL_REASON.MAXIMUM, #}

{% set fieldId = FIELDS.HAS_NO_OFFENSES_OR_INVESTIGATIONS.CONDITIONAL_REASON.ID %}
{% set label = FIELDS.HAS_NO_OFFENSES_OR_INVESTIGATIONS.CONDITIONAL_REASON.LABEL %}

{{ govukCharacterCount({
  name: fieldId,
  id: fieldId,
  maxlength: 123,
  value: submittedValues[fieldId],
  label: {
    text: label,
    attributes: {
      'data-cy': fieldId + '-label'
    }
  },
  errorMessage: validationErrors.errorList[fieldId] and {
    text: validationErrors.errorList[fieldId].text,
    attributes: {
      "data-cy": fieldId + "-error-message"
    }
  },
  attributes: {
    'data-cy': fieldId
  }
}) }}
