{% extends 'index.njk' %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from 'govuk/components/error-summary/macro.njk' import govukErrorSummary %}
{% from "govuk/components/error-message/macro.njk" import govukErrorMessage %}
{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}
{% import '../../components/text-input.njk' as textInput %}
{% import '../../components/form-buttons.njk' as formButtons %}

{% block pageTitle %}
  {{ CONTENT_STRINGS.PAGE_TITLE }}
{% endblock %}

{% block content %}

  {{ govukBackLink({
    text: CONTENT_STRINGS.LINKS.BACK,
    href: BACK_LINK,
    attributes: {
      "data-cy": DATA_CY.BACK_LINK
    }
  }) }}

  {% if validationErrors.summary %}
    {{ govukErrorSummary({
      titleText: CONTENT_STRINGS.ERROR_MESSAGES.THERE_IS_A_PROBLEM,
      errorList: validationErrors.summary
    }) }}
  {% endif %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full-from-desktop">
      <span class="govuk-caption-l" data-cy="heading-caption">{{ CONTENT_STRINGS.HEADING_CAPTION }}</span>
      <h1 class="govuk-heading-xl" data-cy="{{ DATA_CY.HEADING }}">{{ CONTENT_STRINGS.PAGE_TITLE }}</h1>
    </div>
  </div>

  <form method="POST" data-cy="form" enctype="application/x-www-form-urlencoded" novalidate>
    <input type="hidden" name="_csrf" value="{{ csrfToken }}">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters-from-desktop">

        <h2 class="govuk-heading-m govuk-!-margin-bottom-4" data-cy="intro">{{ CONTENT_STRINGS.INTRO }}</h2>

        <h3 class="govuk-!-font-weight-bold govuk-!-font-size-19 govuk-!-margin-bottom-2" data-cy="{{FIELDS.COUNTRY.ID}}-heading">{{ FIELDS.COUNTRY.LABEL }}</h3>

        <p class="govuk-body-l" data-cy="{{FIELDS.COUNTRY.ID}}">{{ application.eligibility.buyerCountry.name }}</p>

        {{ textInput.render({
          id: FIELDS.NAME.ID,
          labelText: FIELDS.NAME.ID,
          labelClasses: "govuk-!-font-weight-bold govuk-!-font-size-19",
          inputClasses: "govuk-!-width-one-half",
          hintText: FIELDS.NAME.HINT,
          value: submittedValues[FIELDS.NAME.ID] or application.buyer[FIELDS.NAME.ID],
          errorMessage: validationErrors.errorList[FIELDS.NAME.ID]
        }) }}

        {{ govukCharacterCount({
          name: FIELDS.ADDRESS.ID,
          id: FIELDS.ADDRESS.ID,
          maxlength: FIELDS.ADDRESS.MAXIMUM,
          classes: "govuk-!-width-one-half",
          attributes: {
            'data-cy': FIELDS.ADDRESS.ID + '-input'
          },
          value: submittedValues[FIELDS.ADDRESS.ID] or application.buyer[FIELDS.ADDRESS.ID],
          errorMessage: validationErrors.errorList[FIELDS.ADDRESS.ID] and {
            text: validationErrors.errorList[FIELDS.ADDRESS.ID].text,
            attributes: {
              "data-cy": FIELDS.ADDRESS.ID + "-error-message"
            }
          },
          label: {
            text: FIELDS.ADDRESS.LABEL,
            classes: "govuk-!-font-weight-bold govuk-!-font-size-19",
            attributes: {
              id: FIELDS.ADDRESS.ID + '-label',
              'data-cy': FIELDS.ADDRESS.ID + '-label'
            }
          }
        }) }}

        {{ textInput.render({
          id: FIELDS.REGISTRATION_NUMBER.ID,
          labelText: FIELDS.REGISTRATION_NUMBER.ID,
          labelClasses: "govuk-!-font-weight-bold govuk-!-font-size-19",
          inputClasses: "govuk-!-width-one-half",
          hintText: FIELDS.REGISTRATION_NUMBER.HINT,
          value: submittedValues[FIELDS.REGISTRATION_NUMBER.ID] or application.buyer[FIELDS.REGISTRATION_NUMBER.ID],
          errorMessage: validationErrors.errorList[FIELDS.REGISTRATION_NUMBER.ID]
        }) }}

        {{ textInput.render({
          id: FIELDS.WEBSITE.ID,
          labelText: FIELDS.WEBSITE.ID,
          labelClasses: "govuk-!-font-weight-bold govuk-!-font-size-19",
          inputClasses: "govuk-!-width-one-half",
          hintText: FIELDS.WEBSITE.HINT,
          value: submittedValues[FIELDS.WEBSITE.ID] or application.buyer[FIELDS.WEBSITE.ID],
          errorMessage: validationErrors.errorList[FIELDS.WEBSITE.ID]
        }) }}
      </div>

      {{ formButtons.render({
        contentStrings: CONTENT_STRINGS.BUTTONS,
        saveAndBackUrl: SAVE_AND_BACK_URL
      }) }}
    </div>
  </form>

{% endblock %}
