{% extends 'index.njk' %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from 'govuk/components/error-summary/macro.njk' import govukErrorSummary %}
{% import '../components/currency-radio-inputs.njk' as currencyRadios %}
{% import '../components/submit-button.njk' as submitButton %}

{% block pageTitle %}
  {{ CONTENT_STRINGS.PAGE_TITLE }}
{% endblock %}

{% block content %}


  {{ govukBackLink({
    text: CONTENT_STRINGS.LINKS.BACK,
    href: BACK_LINK,
    attributes: {
      "data-cy": DATA_CY.BACK_LINK
    }
  }) }}

  {% if validationErrors.summary %}
    {{ govukErrorSummary({
      titleText: CONTENT_STRINGS.ERROR_MESSAGES.THERE_IS_A_PROBLEM,
      errorList: validationErrors.summary,
      attributes: {
        'data-cy': 'error-summary'
      }
    }) }}
  {% endif %}

  <form method="POST" data-cy="form" enctype="application/x-www-form-urlencoded" novalidate>
    <input type="hidden" name="_csrf" value="{{ csrfToken }}">

    <span class="govuk-caption-xl" data-cy="heading-caption">
      {{ CONTENT_STRINGS.HEADING_CAPTION }}
    </span>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters-from-desktop">
        {{ currencyRadios.render({
          id: FIELDS.CURRENCY_CODE.ID,
          legend: FIELDS.CURRENCY_CODE.LEGEND,
          isPageHeading: true,
          hint: FIELDS.CURRENCY_CODE.HINT,
          supportedCurrencies: currencies,
          errors: validationErrors.errorList,
          submittedValue: submittedValues[FIELDS.CURRENCY_CODE.ID] or applicationAnswer,
          alternativeCurrencies: alternativeCurrencies,
          alternativeCurrencyFieldId: FIELDS.ALTERNATIVE_CURRENCY_CODE.ID
        }) }}
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters-from-desktop">
        <div class="govuk-button-group">
          {{ submitButton.render({
            text: CONTENT_STRINGS.BUTTONS.CONTINUE
          }) }}
        </div>
      </div>
    </div>

  </form>

{% endblock %}
