{% extends 'index.njk' %}
{% import '../components/submit-button.njk' as submitButton %}

{% block pageTitle %}
  {{ CONTENT_STRINGS.PAGE_TITLE }}
{% endblock %}

{% block content %}

  <h1 class="govuk-heading-l" data-cy="{{ DATA_CY.HEADING }}">{{ CONTENT_STRINGS.PAGE_TITLE }}</h1>

  <p class="govuk-body" data-cy="reason">{{ CONTENT_STRINGS.REASON }}</p>

  <form method="POST" id="form" novalidate>

    <input type="hidden" name="_csrf" value="{{ csrfToken }}">

    {{ submitButton.render({
      text: CONTENT_STRINGS.LINKS.START_AGAIN.TEXT
    }) }}

  </form>

{% endblock %}
