{% extends 'index.njk' %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from 'govuk/components/error-summary/macro.njk' import govukErrorSummary %}
{% import '../components/single-radio.njk' as singleRadio %}

{% block pageTitle %}
  {{ CONTENT_STRINGS.PAGE_TITLE }}
{% endblock %}

{% block content %}

  {{ govukBackLink({
    text: CONTENT_STRINGS.LINKS.BACK,
    href: BACK_LINK,
    attributes: {
      "data-cy": DATA_CY.BACK_LINK
    }
  }) }}

  {% if validationErrors.summary %}
    {{ govukErrorSummary({
      titleText: CONTENT_STRINGS.ERROR_MESSAGES.THERE_IS_A_PROBLEM,
      errorList: validationErrors.summary
    }) }}
  {% endif %}

  {# if applicationAnswer is null or undefined, then should set submitted answer to submittedValues value #}
  {% set hasNoApplicationAnswer = applicationAnswer === null or applicationAnswer === undefined %}

  {% if hasNoApplicationAnswer %}
    {% set submittedAnswer = submittedValues[FIELD_ID] %}
  {% else %}
    {% set submittedAnswer = submittedValues[FIELD_ID] or applicationAnswer %}
  {% endif %}

  <span class="govuk-caption-l" data-cy="heading-caption">{{ CONTENT_STRINGS.HEADING_CAPTION }}</span>

  <form method="POST" data-cy="form" enctype="application/x-www-form-urlencoded" novalidate>

    <input type="hidden" name="_csrf" value="{{ csrfToken }}">

    {{ singleRadio.render({
      application: application,
      conditionalNo: CONDITIONAL_NO_HTML,
      conditionalYes: CONDITIONAL_YES_HTML,
      CONTENT_STRINGS: CONTENT_STRINGS,
      continueButtonText: CONTENT_STRINGS.BUTTONS.CONTINUE,
      customContentHTML: CUSTOM_CONTENT_HTML,
      errorMessage: validationErrors.errorList[FIELD_ID],
      fieldId: FIELD_ID,
      FIELDS: FIELDS,
      hasHintHtml: HINT_HTML,
      hintText: FIELD_HINT,
      horizontalRadios: HORIZONTAL_RADIOS,
      legendClass: legendClass,
      legendText: CONTENT_STRINGS.PAGE_TITLE,
      saveAndBackButtonText: CONTENT_STRINGS.BUTTONS.SAVE_AND_BACK,
      saveAndBackUrl: SAVE_AND_BACK_URL,
      submittedAnswer: submittedAnswer,
      submittedValues: submittedValues,
      validationErrors: validationErrors
    }) }}

  </form>

{% endblock %}
