{% import './list-item.njk' as listItem %}

{% macro render(params) %}

  {% if params.type === 'ordered' %}
    <ol class="govuk-list counter-list">

      {% for child in params.content %}

        {{ listItem.render({
          content: child,
          loopIndex: loop.index,
          class: params.listItemClass
        }) }}
        
      {% endfor %}

    </ol>
  {% endif %}

  {% if params.type === 'unordered' %}
    <ul class="govuk-list govuk-list--bullet">

      {% for child in params.content %}

        {{ listItem.render({
          content: child,
          loopIndex: loop.index,
          class: params.listItemClass
        }) }}

      {% endfor %}

    </ul>
  {% endif %}

{% endmacro %}
