{% macro render(params) %}

  <p class="govuk-body">
    {% for child in params.content %}

      {% if child.type and child.type === 'link' %}
        <a class="govuk-link" href={{ child.href }}>{{ child.children[0].text}}</a>
      {% endif %}

      {% if child.text %}
        {{ child.text }}
      {% endif %}

    {% endfor %}
  </p>

{% endmacro %}
