{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  attributes: {
    "data-cy": "phase-banner"
  },
  html: '<span data-cy="phase-banner-text">This is a new service - your <a class="govuk-link" href="/give-feedback" data-cy="phase-banner-feedback-link">feedback</a> will help us to improve it.</span>'
}) }}
