{% extends 'index.njk' %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% import '../../components/submit-button.njk' as submitButton %}

{% block pageTitle %}
  {{ CONTENT_STRINGS.PAGE_TITLE }}
{% endblock %}

{% block content %}

  {{ govukBackLink({
    text: CONTENT_STRINGS.LINKS.BACK,
    href: BACK_LINK,
    attributes: {
      "data-cy": DATA_CY.BACK_LINK
    }
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters-from-desktop">
      <h1 class="govuk-heading-l" data-cy="{{ DATA_CY.HEADING }}">{{ CONTENT_STRINGS.PAGE_TITLE }}</h1>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <p class="govuk-body" data-cy="intro">{{ CONTENT_STRINGS.INTRO }}</p>

      <ul>
        {% for item in CONTENT_STRINGS.WILL_ASK_QUESTIONS %}
          <li data-cy="will-ask-questions-list-item-{{ loop.index }}">{{ item }}</li>
        {% endfor %}
      </ul>

      <p class="govuk-body" data-cy="will-need-companies-house-number">{{ CONTENT_STRINGS.WILL_NEED_COMPANIES_HOUSE_NUMBER }}</p>
      <p class="govuk-body" data-cy="if-eligible">{{ CONTENT_STRINGS.IF_ELIGIBLE }}</p>
      <p class="govuk-body" data-cy="get-immediate-answer">{{ CONTENT_STRINGS.GET_IMMEDIATE_ANSWER }}</p>
    </div>
  </div>

  <form method="POST" id="form" novalidate>

    <input type="hidden" name="_csrf" value="{{ csrfToken }}">

    {{ submitButton.render({
      text: CONTENT_STRINGS.BUTTONS.CONTINUE
    }) }}

  </form>

{% endblock %}
