{% extends 'index.njk' %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% block pageTitle %}
  {{ CONTENT_STRINGS.PAGE_TITLE }}
{% endblock %}

{% block content %}

  {{ govukBackLink({
    text: CONTENT_STRINGS.LINKS.BACK,
    href: BACK_LINK,
    attributes: {
      "data-cy": DATA_CY.BACK_LINK
    }
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters-from-desktop">
      <h1 class="govuk-heading-xl" data-cy="{{ DATA_CY.HEADING }}">{{ CONTENT_STRINGS.PAGE_TITLE }}</h1>
    </div>

    <div class="govuk-grid-column-three-quarters-from-desktop">
      <p class="govuk-body" data-cy="reason">{{ CONTENT_STRINGS.ERROR_REASON }}</p>

      <p class="govuk-body" data-cy="try-again">{{ CONTENT_STRINGS.TRY_AGAIN_PREFIX }} <a class="govuk-link" data-cy="try-again-link" href="{{COMPANIES_HOUSE_NUMBER}}">{{ CONTENT_STRINGS.TRY_AGAIN }}</a></p>

      <p class="govuk-body" data-cy="continue">
        {{ CONTENT_STRINGS.CONTINUE_PREFIX }} <a class="govuk-link" data-cy="continue-link" href="{{ ALL_SECTIONS }}">{{ CONTENT_STRINGS.CONTINUE_LINK }}</a> {{ CONTENT_STRINGS.CONTINUE_SUFFIX }}
      </p>

      <p class="govuk-body" data-cy="information">{{ CONTENT_STRINGS.INFORMATION }}</p>
    </div>

  </div>

{% endblock %}
