{% extends 'index.njk' %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% block pageTitle %}
  {{ CONTENT_STRINGS.PAGE_TITLE }}
{% endblock %}

{% block content %}

  {{ govukBackLink({
    text: CONTENT_STRINGS.LINKS.BACK,
    href: BACK_LINK,
    attributes: {
      "data-cy": DATA_CY.BACK_LINK
    }
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters-from-desktop">

      <h1 class="govuk-heading-l" data-cy="{{ DATA_CY.HEADING }}">{{ CONTENT_STRINGS.PAGE_TITLE }}</h1>

      <p class="govuk-body" data-cy="{{ DATA_CY.INTRO }}">{{ CONTENT_STRINGS.INTRO }}</p>

      <p class="govuk-body" data-cy="can-still-apply">{{ CONTENT_STRINGS.CAN_STILL_APPLY }}</p>

      <p class="govuk-body">
        <span data-cy="actions-intro">{{ CONTENT_STRINGS.CONTACT_EFM.INTRO }}</span>
        <span data-cy="action-contact-efm">
          <a class="govuk-link" data-cy="action-contact-efm-link" href="{{ CONTENT_STRINGS.CONTACT_EFM.LINK.HREF }}">{{ CONTENT_STRINGS.CONTACT_EFM.LINK.TEXT }}</a> {{ CONTENT_STRINGS.CONTACT_EFM.TEXT }}
        </span>
      </p>

    </div>
  </div>

{% endblock %}
