{% extends 'index.njk' %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from 'govuk/components/error-summary/macro.njk' import govukErrorSummary %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from 'govuk/components/button/macro.njk' import govukButton %}
{% from "govuk/components/error-message/macro.njk" import govukErrorMessage %}
{% import '../../components/yes-no-radio-buttons.njk' as yesNoRadioButtons %}
{% import '../../components/submit-button.njk' as submitButton %}

{% block pageTitle %}
  {{ CONTENT_STRINGS.PAGE_TITLE }}
{% endblock %}

{% block content %}

  {{ govukBackLink({
    text: CONTENT_STRINGS.LINKS.BACK,
    href: BACK_LINK,
    attributes: {
      "data-cy": DATA_CY.BACK_LINK
    }
  }) }}

  {% if validationErrors.summary %}
    {{ govukErrorSummary({
      titleText: CONTENT_STRINGS.ERROR_MESSAGES.THERE_IS_A_PROBLEM,
      errorList: validationErrors.summary
    }) }}
  {% endif %}

  <form method="POST" id="form" enctype="application/x-www-form-urlencoded" novalidate>

    <input type="hidden" name="_csrf" value="{{ csrfToken }}">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters-from-desktop">

        {{ yesNoRadioButtons.render({
          fieldId: FIELD_ID,
          legendText: CONTENT_STRINGS.PAGE_TITLE,
          hintText: FIELD_HINT,
          submittedAnswer: submittedValues[FIELD_ID],
          errorMessage: validationErrors.errorList[FIELD_ID]
        }) }}


        {% set detailsHtml %}
          <p data-cy="pre-credit-period-body-1">{{ CONTENT_STRINGS.PRE_CREDIT_PERIOD_DESCRIPTION.BODY_1 }}</p>

          <p data-cy="pre-credit-period-list-intro">{{ CONTENT_STRINGS.PRE_CREDIT_PERIOD_DESCRIPTION.LIST_INTRO }}</p>

          <ul class="govuk-list govuk-list--bullet">

            {% for item in CONTENT_STRINGS.PRE_CREDIT_PERIOD_DESCRIPTION.LIST %}
              <li data-cy="pre-credit-period-list-item-{{ loop.index }}">
                {{ item.TEXT }}
              </li>
            {% endfor %}

          </ul>

          <p data-cy="pre-credit-period-body-2">{{ CONTENT_STRINGS.PRE_CREDIT_PERIOD_DESCRIPTION.BODY_2 }}</p>
          <p data-cy="pre-credit-period-body-3">{{ CONTENT_STRINGS.PRE_CREDIT_PERIOD_DESCRIPTION.BODY_3 }}</p>
        {% endset %}

        {{ govukDetails({
          summaryText: CONTENT_STRINGS.PRE_CREDIT_PERIOD_DESCRIPTION.INTRO,
          html: detailsHtml,
          attributes: {
            "data-cy": "pre-credit-period"
          }
        }) }}

      </div>
    </div>

    {{ submitButton.render({
      text: CONTENT_STRINGS.BUTTONS.CONTINUE
    }) }}

  </form>

{% endblock %}
