{% extends 'index.njk' %}
{% import '../../../components/submit-button.njk' as submitButton %}

{% block pageTitle %}
  {{ CONTENT_STRINGS.PAGE_TITLE }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters-from-desktop">

      <h1 class="govuk-heading-xl" data-cy="{{ DATA_CY.HEADING }}">{{ CONTENT_STRINGS.PAGE_TITLE }}</h1>

      <p class="govuk-body" data-cy="password-not-reset">{{ CONTENT_STRINGS.PASSWORD_NOT_RESET }}</p>

      <p class="govuk-body" data-cy="if-you-would-like">{{ CONTENT_STRINGS.IF_YOU_WOULD_LIKE }}</p>

      <form method="POST" data-cy="form" enctype="application/x-www-form-urlencoded" novalidate>

        <input type="hidden" name="_csrf" value="{{ csrfToken }}">

        <div class="govuk-button-group">
          {{ submitButton.render({
            text: CONTENT_STRINGS.BUTTONS.SEND_NEW_LINK
          }) }}
        </div>

      </form>

    </div>
  </div>

{% endblock %}
