{% extends 'index.njk' %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from 'govuk/components/error-summary/macro.njk' import govukErrorSummary %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% import '../../../components/submit-button.njk' as submitButton %}

{% block pageTitle %}
  {{ CONTENT_STRINGS.PAGE_TITLE }}
{% endblock %}

{% block content %}

  {{ govukBackLink({
    text: CONTENT_STRINGS.LINKS.BACK,
    href: BACK_LINK,
    attributes: {
      "data-cy": DATA_CY.BACK_LINK
    }
  }) }}

  {% if validationErrors.summary %}
    {{ govukErrorSummary({
      titleText: CONTENT_STRINGS.ERROR_MESSAGES.THERE_IS_A_PROBLEM,
      errorList: validationErrors.summary
    }) }}
  {% endif %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters-from-desktop">
      <h1 class="govuk-heading-xl" data-cy="{{ DATA_CY.HEADING }}">{{ CONTENT_STRINGS.PAGE_TITLE }}</h1>
    </div>
  </div>

  <form method="POST" data-cy="form" enctype="application/x-www-form-urlencoded" novalidate>

    <input type="hidden" name="_csrf" value="{{ csrfToken }}">

    {% set passwordHintHtml %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters-from-desktop">

        <p class="govuk-hint" data-cy="{{ FIELD.ID }}-hint-intro">{{ FIELD.HINT.INTRO }}</p>

        <ul>
          {% for rule in FIELD.HINT.RULES %}
            <li data-cy="{{ FIELD.ID }}-hint-list-item-{{ loop.index }}">{{ rule }}</li>
          {% endfor %}
        </ul>

      </div>
    </div>
    {% endset %}

    {{ govukInput({
      label: {
        text: FIELD.LABEL,
        classes: "govuk-!-font-weight-bold govuk-!-font-size-24",
        attributes: {
          id: FIELD.ID + '-label',
          'data-cy': FIELD.ID + '-label'
        }
      },
      attributes: {
        'data-cy': FIELD.ID + '-input',
        'data-module': 'moj-password-reveal'
      },
      id: FIELD.ID,
      name: FIELD.ID,
      type: 'password',
      hint: {
        html: passwordHintHtml
      },
      classes: "govuk-!-width-one-half",
      value: submittedValues[FIELD.ID],
      errorMessage: validationErrors.errorList[FIELD.ID] and {
        text: validationErrors.errorList[FIELD.ID].text,
        attributes: {
          "data-cy": FIELD.ID + "-error-message"
        }
      }
    }) }}

    <div class="govuk-button-group">
      {{ submitButton.render({
        text: CONTENT_STRINGS.BUTTONS.SUBMIT
      }) }}
    </div>

  </form>

  {# TODO: EMS-2475 #}
  {# <script src="/assets/js/mojFrontend.js" type="module" integrity="{{ SRI.MOJ }}" crossorigin="anonymous"></script> #}

{% endblock %}
