{% extends 'index.njk' %}
{% from 'govuk/components/button/macro.njk' import govukButton %}
{% import './components/text-list.njk' as textList %}

{% block pageTitle %}
  {{ CONTENT_STRINGS.PAGE_TITLE }}
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-l" data-cy="heading">{{ CONTENT_STRINGS.HEADING }}</h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <p class="govuk-body" data-cy="intro-1">{{ CONTENT_STRINGS.INTRO_1 }}</p>
    </div>
  </div>

  <p class="govuk-body" data-cy="intro-2">{{ CONTENT_STRINGS.INTRO_2 }}</p>
  <p class="govuk-body" data-cy="intro-3">{{ CONTENT_STRINGS.INTRO_3 }}</p>

  <h2 class="govuk-heading-m" data-cy="covers-heading">{{ CONTENT_STRINGS.COVERS.HEADING }}</h2>

  
  <p class="govuk-body" data-cy="covers-intro">{{ CONTENT_STRINGS.COVERS.INTRO }}</p>

  <ul class="govuk-list govuk-list--bullet" data-cy="covers-list">
    <li>{{ CONTENT_STRINGS.COVERS.LIST[0].text }}</li>
    <li class="govuk-!-width-two-thirds">
      {{ CONTENT_STRINGS.COVERS.LIST[1].text }}
    </li>
  </ul>

  <p class="govuk-body" data-cy="use-service-to-intro">{{ CONTENT_STRINGS.USE_SERVICE_TO.INTRO }}</p>

  {{textList.render({
    items: CONTENT_STRINGS.USE_SERVICE_TO.LIST,
    dataCy: 'use-service-to-list'
  })}}

  <p class="govuk-body" data-cy="you-will-need">{{ CONTENT_STRINGS.YOU_WILL_NEED }}</p>

  <p class="govuk-body" data-cy="completion-time">{{ CONTENT_STRINGS.COMPLETION_TIME }}</p>

  <form method="POST">

    <input type="hidden" name="_csrf" value="{{ csrfToken }}">

    {{ govukButton({
      text: CONTENT_STRINGS.SUBMIT_BUTTON,
      attributes: {
        'data-cy': 'submit-button'
      },
      isStartButton: true,
      href: SUBMIT_URL,
      classes: 'govuk-!-margin-bottom-9'
    }) }}
  
  </form>

  {{textList.render({
    items: CONTENT_STRINGS.BEFORE_YOU_START.LIST,
    dataCy: 'before-you-start-list'
  })}}

{% endblock %}
