{% extends "index.njk" %}

{% block pageTitle %}
  Check if you can apply for export insurance
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-l">Check if you can apply for export insurance</h1>

  <p class="govuk-body">We can help UK based exporters manage risks in challenging markets, ensuring that they get paid even where the private market is not able to offer insurance.</p>
{% endblock %}
