{% extends 'index.njk' %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from 'govuk/components/error-summary/macro.njk' import govukErrorSummary %}
{% from 'govuk/components/radios/macro.njk' import govukRadios %}
{% from 'govuk/components/button/macro.njk' import govukButton %}

{% block pageTitle %}
  {{ CONTENT_STRINGS.PAGE_TITLE }}
{% endblock %}

{% block content %}

  <h1 class="govuk-heading-xl">{{ CONTENT_STRINGS.HEADING }}</h1>

{% endblock %}
