{% extends 'index.njk' %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from 'govuk/components/error-summary/macro.njk' import govukErrorSummary %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from 'govuk/components/hint/macro.njk' import govukHint %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-message/macro.njk" import govukErrorMessage %}

{% block pageTitle %}
  {{ CONTENT_STRINGS.PAGE_TITLE }}
{% endblock %}


{% block content %}

  {{ govukBackLink({
    text: CONTENT_STRINGS.LINKS.BACK,
    href: BACK_LINK,
    attributes: {
      "data-cy": "back-link"
    }
  }) }}

  {% if validationErrors.summary %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: validationErrors.summary
    }) }}
  {% endif %}

  <h1 class="govuk-heading-l" data-cy="heading">{{ CONTENT_STRINGS.HEADING }}</h1>

  <p class="govuk-body govuk-!-margin-bottom-7">
    <span class="govuk-caption-m" data-cy="description">{{ CONTENT_STRINGS.DESCRIPTION }}</span>
  </p>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters-from-desktop">

      <form method="POST" novalidate>

        <input type="hidden" name="_csrf" value="{{ csrfToken }}">

        {% call govukFieldset({
          legend: {
            html: "<span data-cy='" + FIELDS.AMOUNT_CURRENCY.ID + "-legend'>" + FIELDS.AMOUNT_CURRENCY.LEGEND + "</span>",
            classes: "govuk-fieldset__legend--m"
          }
        }) %}

          {{ govukSelect({
            id: FIELDS.CURRENCY.ID,
            name: FIELDS.CURRENCY.ID,
            label: {
              text: FIELDS.CURRENCY.LABEL,
              attributes: {
                "data-cy": FIELDS.CURRENCY.ID + "-label"
              }
            },
            items: currencies,
            classes: "govuk-grid-column-one-quarter-from-desktop",
            attributes: {
              "data-cy": FIELDS.CURRENCY.ID + "-input"
            },
            errorMessage: validationErrors.errorList[FIELDS.CURRENCY.ID]and {
              text: validationErrors.errorList[FIELDS.CURRENCY.ID].text,
              attributes: {
                "data-cy": FIELDS.CURRENCY.ID + "-error-message"
              }
            }
          }) }}

          {{ govukInput({
            label: {
              text: FIELDS.AMOUNT.LABEL,
              attributes: {
                "data-cy": FIELDS.AMOUNT.ID + "-label"
              }
            },
            id: FIELDS.AMOUNT.ID,
            name: FIELDS.AMOUNT.ID,
            spellcheck: false,
            value: submittedValues[FIELDS.AMOUNT.ID],
            classes: "govuk-!-width-one-third",
            attributes: {
              "data-cy": FIELDS.AMOUNT.ID + "-input"
            },
            errorMessage: validationErrors.errorList[FIELDS.AMOUNT.ID]and {
              text: validationErrors.errorList[FIELDS.AMOUNT.ID].text,
              attributes: {
                "data-cy": FIELDS.AMOUNT.ID + "-error-message"
              }
            }
          }) }}

        {% endcall %}

        {% set singlePolicyLengthHtml %}
          {{ govukInput({
            label: {
              text: FIELDS.SINGLE_POLICY_LENGTH.LABEL,
              attributes: {
                'data-cy': FIELDS.SINGLE_POLICY_LENGTH.ID + '-label'
              }
            },
            hint: {
              text: FIELDS.SINGLE_POLICY_LENGTH.HINT,
              attributes: {
                'data-cy': FIELDS.SINGLE_POLICY_LENGTH.ID + '-hint'
              }
            },
            classes: "govuk-input--width-4 govuk-!-margin-bottom-4",
            attributes: {
              'data-cy': FIELDS.SINGLE_POLICY_LENGTH.ID + '-input'
            },
            id: FIELDS.SINGLE_POLICY_LENGTH.ID,
            name: FIELDS.SINGLE_POLICY_LENGTH.ID,
            inputmode: "numeric",
            pattern: "[0-9]*",
            suffix: {
              text: "months"
            },
            spellcheck: false,
            errorMessage: validationErrors.errorList[FIELDS.SINGLE_POLICY_LENGTH.ID]and {
              text: validationErrors.errorList[FIELDS.SINGLE_POLICY_LENGTH.ID].text,
              attributes: {
                "data-cy": FIELDS.SINGLE_POLICY_LENGTH.ID + "-error-message"
              }
            },
            value: submittedValues[FIELDS.SINGLE_POLICY_LENGTH.ID]
          }) }}
        {% endset %}

        {% set multiPolicyLengthHtml %}
          {{ govukInput({
            label: {
              text: FIELDS.MULTI_POLICY_LENGTH.LABEL,
              attributes: {
                'data-cy': FIELDS.MULTI_POLICY_LENGTH.ID + '-label'
              }
            },
            hint: {
              text: FIELDS.MULTI_POLICY_LENGTH.HINT,
              attributes: {
                'data-cy': FIELDS.MULTI_POLICY_LENGTH.ID + '-hint'
              }
            },
            classes: "govuk-input--width-4 govuk-!-margin-bottom-4",
            attributes: {
              'data-cy': FIELDS.MULTI_POLICY_LENGTH.ID + '-input'
            },
            id: FIELDS.MULTI_POLICY_LENGTH.ID,
            name: FIELDS.MULTI_POLICY_LENGTH.ID,
            inputmode: "numeric",
            pattern: "[0-9]*",
            suffix: {
              text: "months"
            },
            spellcheck: false,
            errorMessage: validationErrors.errorList[FIELDS.MULTI_POLICY_LENGTH.ID]and {
              text: validationErrors.errorList[FIELDS.MULTI_POLICY_LENGTH.ID].text,
              attributes: {
                "data-cy": FIELDS.MULTI_POLICY_LENGTH.ID + "-error-message"
              }
            },
            value: submittedValues[FIELDS.MULTI_POLICY_LENGTH.ID]
          }) }}
        {% endset %}


        {% if validationErrors.errorList[FIELDS.POLICY_TYPE.ID] %}
          {% set validationError = validationErrors.errorList[FIELDS.POLICY_TYPE.ID] %}
        {% endif %}

        {% if validationErrors.errorList[FIELDS.SINGLE_POLICY_TYPE.ID] %}
          {% set validationError = validationErrors.errorList[FIELDS.SINGLE_POLICY_TYPE.ID] %}
        {% endif %}

        {{ govukRadios({
          idPrefix: FIELDS.POLICY_TYPE.ID,
          name: FIELDS.POLICY_TYPE.ID,
          fieldset: {
            legend: {
              html: "<span class='govuk-heading-m' data-cy='" + FIELDS.POLICY_TYPE.ID + "-legend'>" + FIELDS.POLICY_TYPE.LEGEND + "</span>"
            }
          },
          classes: "govuk-!-margin-bottom-4",
          items: [
            {
              id: FIELDS.POLICY_TYPE.OPTIONS.SINGLE.ID,
              value: FIELDS.POLICY_TYPE.OPTIONS.SINGLE.VALUE,
              text: FIELDS.POLICY_TYPE.OPTIONS.SINGLE.TEXT,
              label: {
                attributes: {
                  'data-cy': FIELDS.POLICY_TYPE.ID + '-' + FIELDS.POLICY_TYPE.OPTIONS.SINGLE.VALUE + '-label'
                }
              },
              hint: {
                text: FIELDS.POLICY_TYPE.OPTIONS.SINGLE.HINT,
                attributes: {
                  'data-cy': FIELDS.POLICY_TYPE.ID + '-' + FIELDS.POLICY_TYPE.OPTIONS.SINGLE.VALUE + '-hint'
                }
              },
              attributes: {
                'data-cy': FIELDS.POLICY_TYPE.ID + '-' + FIELDS.POLICY_TYPE.OPTIONS.SINGLE.VALUE + '-input'
              },
              checked: submittedValues[FIELDS.POLICY_TYPE.ID] === FIELDS.POLICY_TYPE.OPTIONS.SINGLE.VALUE,
              conditional: {
                html: singlePolicyLengthHtml
              }
            },
            {
              id: FIELDS.POLICY_TYPE.OPTIONS.MULTI.ID,
              value: FIELDS.POLICY_TYPE.OPTIONS.MULTI.VALUE,
              text: FIELDS.POLICY_TYPE.OPTIONS.MULTI.TEXT,
              label: {
                attributes: {
                  'data-cy': FIELDS.POLICY_TYPE.ID + '-' + FIELDS.POLICY_TYPE.OPTIONS.MULTI.VALUE + '-label'
                }
              },
              hint: {
                text: FIELDS.POLICY_TYPE.OPTIONS.MULTI.HINT,
                attributes: {
                  'data-cy': FIELDS.POLICY_TYPE.ID + '-' + FIELDS.POLICY_TYPE.OPTIONS.MULTI.VALUE + '-hint'
                }
              },
              attributes: {
                'data-cy': FIELDS.POLICY_TYPE.ID + '-' + FIELDS.POLICY_TYPE.OPTIONS.MULTI.VALUE + '-input'
              },
              checked: submittedValues[FIELDS.POLICY_TYPE.ID] === FIELDS.POLICY_TYPE.OPTIONS.MULTI.VALUE,
              conditional: {
                html: multiPolicyLengthHtml
              }
            }
          ],
          errorMessage: validationError and {
            text: validationError.text,
            attributes: {
              "data-cy": FIELDS.POLICY_TYPE.ID + "-error-message"
            }
          }
        }) }}

        {{ govukInput({
          label: {
            text: FIELDS.CREDIT_PERIOD.LABEL,
            classes: "govuk-!-font-weight-bold govuk-!-font-size-24",
            attributes: {
              'data-cy': FIELDS.CREDIT_PERIOD.ID + '-label'
            }
          },
          hint: {
            text: FIELDS.CREDIT_PERIOD.HINT,
            attributes: {
              'data-cy': FIELDS.CREDIT_PERIOD.ID + '-hint'
            }
          },
          classes: "govuk-input--width-4 govuk-!-margin-bottom-4",
          attributes: {
            'data-cy': FIELDS.CREDIT_PERIOD.ID + '-input'
          },
          id: FIELDS.CREDIT_PERIOD.ID,
          name: FIELDS.CREDIT_PERIOD.ID,
          inputmode: "numeric",
          pattern: "[0-9]*",
          suffix: {
            text: "days"
          },
          spellcheck: false,
          errorMessage: validationErrors.errorList[FIELDS.CREDIT_PERIOD.ID]and {
            text: validationErrors.errorList[FIELDS.CREDIT_PERIOD.ID].text,
            attributes: {
              "data-cy": FIELDS.CREDIT_PERIOD.ID + "-error-message"
            }
          },
          value: submittedValues[FIELDS.CREDIT_PERIOD.ID]
        }) }}

        {{ govukButton({
          text: CONTENT_STRINGS.BUTTONS.CONTINUE,
          attributes: {
            'data-cy': 'submit-button'
          }
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
