{% extends 'index.njk' %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from 'govuk/components/error-summary/macro.njk' import govukErrorSummary %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from 'govuk/components/radios/macro.njk' import govukRadios %}
{% from 'govuk/components/button/macro.njk' import govukButton %}

{% block pageTitle %}
  {{ CONTENT_STRINGS.PAGE_TITLE }}
{% endblock %}

{% block content %}

  {{ govukBackLink({
    text: CONTENT_STRINGS.LINKS.BACK,
    href: BACK_LINK,
    attributes: {
      "data-cy": "back-link"
    }
  }) }}

  {% if validationErrors.summary %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: validationErrors.summary
    }) }}
  {% endif %}

  <form method="POST">

    <input type="hidden" name="_csrf" value="{{ csrfToken }}">

    {{ govukRadios({
      idPrefix: FIELD.ID,
      name: FIELD.ID,
      fieldset: {
        legend: {
          html: "<h1 class='govuk-heading-l' data-cy='heading'>" + CONTENT_STRINGS.HEADING + "</h1>"
        }
      },
      items: [
        {
          value: FIELD.OPTIONS.YES.VALUE,
          text: FIELD.OPTIONS.YES.TEXT,
          label: {
            attributes: {
              "data-cy": FIELD.ID + "-yes"
            }
          },
          attributes: {
            "data-cy": FIELD.ID + "-yes-input"
          },
          checked: submittedValues[FIELD.ID] === FIELD.OPTIONS.YES.VALUE
        },
        {
          value: FIELD.OPTIONS.NO.VALUE,
          text: FIELD.OPTIONS.NO.TEXT,
          label: {
            attributes: {
              "data-cy": FIELD.ID + "-no"
            }
          },
          attributes: {
            "data-cy": FIELD.ID + "-no-input"
          },
          checked: submittedValues[FIELD.ID] === FIELD.OPTIONS.NO.VALUE
        },
        {
          value: FIELD.OPTIONS.NOT_TRIED.VALUE,
          text: FIELD.OPTIONS.NOT_TRIED.TEXT,
          label: {
            attributes: {
              "data-cy": FIELD.ID + "-not-tried"
            }
          },
          attributes: {
            "data-cy": FIELD.ID + "-not-tried-input"
          },
          checked: submittedValues[FIELD.ID] === FIELD.OPTIONS.NOT_TRIED.VALUE
        }
      ],
      errorMessage: validationErrors.errorList[FIELD.ID] and {
        text: validationErrors.errorList[FIELD.ID].text,
        attributes: {
          "data-cy": FIELD.ID + "-error-message"
        }
      }
    }) }}

    {{ govukButton({
      text: CONTENT_STRINGS.BUTTONS.CONTINUE,
      attributes: {
        'data-cy': 'submit-button'
      }
    }) }}

  </form>

{% endblock %}


