{% extends 'index.njk' %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from 'govuk/components/error-summary/macro.njk' import govukErrorSummary %}
{% from 'govuk/components/radios/macro.njk' import govukRadios %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% import './components/details-text.njk' as detailsText %}
{% from 'govuk/components/button/macro.njk' import govukButton %}
{% from "govuk/components/error-message/macro.njk" import govukErrorMessage %}

{% block pageTitle %}
  {{ CONTENT_STRINGS.PAGE_TITLE }}
{% endblock %}

{% block content %}

  {{ govukBackLink({
    text: CONTENT_STRINGS.LINKS.BACK,
    href: BACK_LINK,
    attributes: {
      "data-cy": "back-link"
    }
  }) }}

  {% if validationErrors.summary %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: validationErrors.summary
    }) }}
  {% endif %}

  {% set class = "govuk-form-group" %}

  {% if validationErrors.errorList[FIELD_NAME] %}
    {% set class = "govuk-form-group govuk-form-group--error" %}
  {% endif %}

  <form method="POST" novalidate>

    <input type="hidden" name="_csrf" value="{{ csrfToken }}">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters-from-desktop">
        {{ govukRadios({
          classes: "govuk-radios--inline",
          idPrefix: FIELD_NAME,
          name: FIELD_NAME,
          fieldset: {
            legend: {
              html: "<h1 class='govuk-heading-l' data-cy='heading'>" + CONTENT_STRINGS.HEADING + "</h1>"
            }
          },
          items: [
            {
              value: true,
              text: "Yes",
              label: {
                attributes: {
                  "data-cy": FIELD_NAME + "-yes"
                }
              },
              attributes: {
                "data-cy": FIELD_NAME + "-yes-input"
              },
              checked: submittedValues[FIELD_NAME] === true
            },
            {
              value: false,
              text: "No",
              label: {
                attributes: {
                  "data-cy": FIELD_NAME + "-no"
                }
              },
              checked: submittedValues[FIELD_NAME] === false
            }
          ],
          errorMessage: validationErrors.errorList[FIELD_NAME]and {
            text: validationErrors.errorList[FIELD_NAME].text,
            attributes: {
              "data-cy": FIELD_NAME + "-error-message"
            }
          }
        }) }}

      </div>
    </div>

    {{ govukButton({
      text: CONTENT_STRINGS.BUTTONS.CONTINUE,
      attributes: {
        'data-cy': 'submit-button'
      }
    }) }}


    {% set detailsHtml %}
      <p data-cy="details-includes">{{ CONTENT_STRINGS.DETAILS.INCLUDES.INTRO }}</p>

      <ul class="govuk-!-margin-bottom-7">
        <li data-cy="details-includes-item-1">{{ CONTENT_STRINGS.DETAILS.INCLUDES.PRODUCTS }}</li>
        <li data-cy="details-includes-item-2">{{ CONTENT_STRINGS.DETAILS.INCLUDES.MANUFACTURED }}</li>
        <li data-cy="details-includes-item-3"><a class="govuk-link" data-cy="details-includes-item-3-link" href="{{ CONTENT_STRINGS.DETAILS.INCLUDES.STAFFING_COSTS.LINK.HREF }}">{{ CONTENT_STRINGS.DETAILS.INCLUDES.STAFFING_COSTS.LINK.TEXT }}</a> {{ CONTENT_STRINGS.DETAILS.INCLUDES.STAFFING_COSTS.TEXT }}</li>
        <li data-cy="details-includes-item-4"><a class="govuk-link"  data-cy="details-includes-item-4-link" href="{{ CONTENT_STRINGS.DETAILS.INCLUDES.NON_PHYSICAL_ASSETS.LINK.HREF }}">{{ CONTENT_STRINGS.DETAILS.INCLUDES.NON_PHYSICAL_ASSETS.LINK.TEXT }}</a> {{ CONTENT_STRINGS.DETAILS.INCLUDES.NON_PHYSICAL_ASSETS.TEXT }}</li>
      </ul>

      <h2 class="govuk-heading-s"  data-cy="details-does-not-count-heading">{{ CONTENT_STRINGS.DETAILS.DOES_NOT_COUNT.HEADING }}</h2>
      <p data-cy="details-does-not-count-copy">{{ CONTENT_STRINGS.DETAILS.DOES_NOT_COUNT.TEXT }}</p>

      <h2 class="govuk-heading-s" data-cy="details-staffing-costs-heading">{{ CONTENT_STRINGS.DETAILS.STAFFING_COSTS.HEADING }}</h2>
      <p data-cy="details-staffing-costs-copy">{{ CONTENT_STRINGS.DETAILS.STAFFING_COSTS.TEXT }}</p>

      <ul>
        {% for item in CONTENT_STRINGS.DETAILS.STAFFING_COSTS.LIST %}
          <li data-cy="details-staffing-costs-list-item-{{ loop.index }}">{{ item.TEXT }}</li>
        {% endfor %}
      </ul>

      <h2 class="govuk-heading-s" data-cy="details-non-physical-assets-heading">{{ CONTENT_STRINGS.DETAILS.NON_PHYSICAL_ASSETS.HEADING }}</h2>
      <p data-cy="details-non-physical-assets-copy">{{ CONTENT_STRINGS.DETAILS.NON_PHYSICAL_ASSETS.TEXT }}</p>


      <h2 class="govuk-heading-s" data-cy="details-not-sure-heading">{{ CONTENT_STRINGS.DETAILS.NOT_SURE.HEADING }}</h2>

{{ CONTENT_STRINGS.DETAILS.NOT_SURE |dump | safe}}
      <div data-cy="details-not-sure">
        {{ detailsText.render({
          items: CONTENT_STRINGS.DETAILS.NOT_SURE.ITEMS
        }) }}
      </div>
    {% endset %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters-from-desktop">

        {{ govukDetails({
          summaryText: CONTENT_STRINGS.DETAILS.INTRO,
          html: detailsHtml,
          attributes: {
            "data-cy": "details"
          }
        }) }}

      </div>
    </div>

  </form>

{% endblock %}
