{% extends 'index.njk' %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from 'govuk/components/error-summary/macro.njk' import govukErrorSummary %}
{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}
{% import '../../components/yes-no-radio-buttons.njk' as yesNoRadioButtons %}
{% from "govuk/components/label/macro.njk" import govukLabel %}
{% from "govuk/components/error-message/macro.njk" import govukErrorMessage %}
{% import '../../components/accessible-autocomplete-select.njk' as accessibleAutoCompleteSelect %}
{% import '../../components/single-radio.njk' as singleRadio %}
{% import '../../components/form-buttons.njk' as formButtons %}

{% block pageTitle %}
  {{ CONTENT_STRINGS.PAGE_TITLE }}
{% endblock %}

{% block content %}

  {{ govukBackLink({
    text: CONTENT_STRINGS.LINKS.BACK,
    href: BACK_LINK,
    attributes: {
      "data-cy": DATA_CY.BACK_LINK
    }
  }) }}

  {% if validationErrors.summary %}
    {{ govukErrorSummary({
      titleText: CONTENT_STRINGS.ERROR_MESSAGES.THERE_IS_A_PROBLEM,
      errorList: validationErrors.summary
    }) }}
  {% endif %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters-from-desktop">
      <div class="govuk-grid-column-three-quarters-from-desktop govuk-!-padding-right-0 govuk-!-padding-left-0">
        <span class="govuk-caption-l" data-cy="heading-caption">{{ CONTENT_STRINGS.HEADING_CAPTION }}</span>
        <h1 class="govuk-heading-l" data-cy="{{ DATA_CY.HEADING }}">{{ CONTENT_STRINGS.PAGE_TITLE }}</h1>
      </div>
    </div>
  </div>

  <form method="POST" data-cy="form" enctype="application/x-www-form-urlencoded" novalidate>

    <input type="hidden" name="_csrf" value="{{ csrfToken }}">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">
        {% set descriptionHintHtml %}
          <p class="govuk-hint" data-cy="{{ FIELDS.DESCRIPTION.ID }}-hint-intro">{{ FIELDS.DESCRIPTION.HINT.INTRO }}</p>

          <ul class="govuk-list govuk-list--bullet">
            {% for item in FIELDS.DESCRIPTION.HINT.LIST %}
              <li class="govuk-hint" data-cy="{{ FIELDS.DESCRIPTION.ID }}-hint-list-item-{{ loop.index }}">{{ item }}</li>
            {% endfor %}
          </ul>

          <p class="govuk-hint" data-cy="{{ FIELDS.DESCRIPTION.ID }}-hint-outro">{{ FIELDS.DESCRIPTION.HINT.OUTRO }}</p>
        {% endset %}

        {{ govukCharacterCount({
          name: FIELDS.DESCRIPTION.ID,
          id: FIELDS.DESCRIPTION.ID,
          label: {
            text: FIELDS.DESCRIPTION.LABEL,
            classes: "govuk-!-font-weight-bold govuk-!-font-size-24",
            attributes: {
              'data-cy': FIELDS.DESCRIPTION.ID + '-label',
              id: FIELDS.DESCRIPTION.ID + '-label'
            }
          },
          hint: {
            html: descriptionHintHtml
          },
          attributes: {
            'data-cy': FIELDS.DESCRIPTION.ID
          },
          maxlength: FIELDS.DESCRIPTION.MAXIMUM,
          value: submittedValues[FIELDS.DESCRIPTION.ID] or application.exportContract[FIELDS.DESCRIPTION.ID],
          errorMessage: validationErrors.errorList[FIELDS.DESCRIPTION.ID] and {
            text: validationErrors.errorList[FIELDS.DESCRIPTION.ID].text,
            attributes: {
              "data-cy": FIELDS.DESCRIPTION.ID + "-error-message"
            }
          }
        }) }}

      </div>
    </div>

    {% set FINAL_DESTINATION_KNOWN_ID = FIELDS.FINAL_DESTINATION_KNOWN.ID %}

    {# if applicationAnswer is null or undefined, then should set submitted answer to submittedValues value #}
    {% set hasNoApplicationAnswer = applicationAnswer === null or applicationAnswer === undefined %}

    {% if hasNoApplicationAnswer %}
      {% set submittedAnswer = submittedValues[FINAL_DESTINATION_KNOWN_ID] %}
    {% else %}
      {% set submittedAnswer = submittedValues[FINAL_DESTINATION_KNOWN_ID] or applicationAnswer %}
    {% endif %}

    {{ singleRadio.render({
      application: application,
      conditionalYes: CONDITIONAL_YES_HTML,
      CONTENT_STRINGS: CONTENT_STRINGS,
      continueButtonText: CONTENT_STRINGS.BUTTONS.CONTINUE,
      conditionalHtmlData: countries,
      errorMessage: validationErrors.errorList[FINAL_DESTINATION_KNOWN_ID],
      fieldId: FINAL_DESTINATION_KNOWN_ID,
      FIELDS: FIELDS,
      noRadioAsFirstOption: true,
      legendClass: 'govuk-fieldset__legend--m',
      legendText: FIELDS.FINAL_DESTINATION_KNOWN.LABEL,
      horizontalRadios: HORIZONTAL_RADIOS,
      noRadioAsFirstOption: NO_RADIO_AS_FIRST_OPTION,
      saveAndBackUrl: SAVE_AND_BACK_URL,
      submittedAnswer: submittedAnswer,
      submittedValues: submittedValues,
      validationErrors: validationErrors
    }) }}

  </form>

{% endblock %}
