{% extends 'index.njk' %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from 'govuk/components/error-summary/macro.njk' import govukErrorSummary %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% import '../../components/yes-no-radio-buttons.njk' as yesNoRadioButtons %}
{% import '../../components/address-input.njk' as addressInput %}

{% set brokerHTML %}
  <h2 class="govuk-heading-m govuk-!-margin-bottom-5 govuk-!-margin-top-5" data-cy="{{FIELDS.BROKER_HEADING.ID}}-heading">{{ FIELDS.BROKER_HEADING.HEADING }}</h2>

  {{ govukInput({
    id: FIELDS.BROKER_NAME.ID,
    name: FIELDS.BROKER_NAME.ID,
    value: submittedValues[FIELDS.BROKER_NAME.ID] or application.exporterBusiness[FIELDS.BROKER_NAME.ID],
    label: {
      text: FIELDS.BROKER_NAME.LABEL,
      classes: "govuk-body govuk-!-font-weight-bold",
      attributes: {
        "data-cy": FIELDS.BROKER_NAME.ID + "-label"
      }
    },
    classes: "govuk-input--width-20",
    attributes: {
      "data-cy": FIELDS.BROKER_NAME.ID
    },
    errorMessage: validationErrors.errorList[FIELDS.BROKER_NAME.ID] and {
      text: validationErrors.errorList[FIELDS.BROKER_NAME.ID].text,
      attributes: {
        "data-cy": FIELDS.BROKER_NAME.ID + "-error"
      }
    }
  }) }}

  {{ addressInput.render({
    addressLineOne: FIELDS.BROKER_ADDRESS_LINE_1,
    addressLineTwo: FIELDS.BROKER_ADDRESS_LINE_2,
    town: FIELDS.BROKER_TOWN,
    country: FIELDS.BROKER_COUNTY,
    postcode: FIELDS.BROKER_POSTCODE,
    validationErrors: validationErrors,
    submittedValues: submittedValues,
    application: application.exporterBusiness
  }) }}

{% endset %}

{% block content %}

  {{ govukBackLink({
    text: CONTENT_STRINGS.LINKS.BACK,
    href: BACK_LINK,
    attributes: {
      "data-cy": "back-link"
    }
  }) }}

  {% if validationErrors.summary %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: validationErrors.summary,
      attributes: {
        'data-cy': 'error-summary'
      }
    }) }}
  {% endif %}

  <div class="govuk-grid-row">
    <form method="POST" novalidate>
      <input type="hidden" name="_csrf" value="{{ csrfToken }}">

      <div class="govuk-grid-column-three-quarters-from-desktop">
        <span class="govuk-caption-xl" data-cy="heading-caption">
          {{CONTENT_STRINGS.HEADING_CAPTION}}
        </span>
      </div>

      <div class="govuk-grid-column-three-quarters-from-desktop">
        {{ yesNoRadioButtons.render({
          fieldId: FIELDS.USING_BROKER.ID,
          heading: CONTENT_STRINGS.PAGE_TITLE,
          submittedAnswer: submittedValues[FIELDS.USING_BROKER.ID],
          errorMessage: validationErrors.errorList[FIELDS.USING_BROKER.ID],
          headerClass: 'govuk-fieldset__legend--xl',
          datacyHeading: FIELDS.USING_BROKER.ID + '-heading',
          yesNoValueString: true,
          conditionalYesHtml: brokerHTML,
          notInlineRadios: true
        }) }}
      </div>

      <div class="govuk-grid-column-three-quarters-from-desktop">
        <div class="govuk-button-group">
          {{ govukButton({
            text: CONTENT_STRINGS.BUTTONS.CONTINUE,
            attributes: {
              'data-cy': 'submit-button'
            }
          }) }}

          {{ govukButton({
            text: CONTENT_STRINGS.BUTTONS.SAVE_AND_BACK,
            classes: "govuk-button--secondary",
            attributes: {
              'data-cy': 'save-and-back-button',
              'formaction': POST_ROUTES.SAVE_AND_BACK_URL
            }
          }) }}
        </div>
      </div>
    </form>
  </div>

{% endblock %}
