{% extends 'index.njk' %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from 'govuk/components/error-summary/macro.njk' import govukErrorSummary %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{%- from "moj/components/search/macro.njk" import mojSearch -%}
{% import '../../components/yes-no-radio-buttons.njk' as yesNoRadioButtons %}

{% block content %}

  {{ govukBackLink({
    text: CONTENT_STRINGS.LINKS.BACK,
    href: BACK_LINK,
    attributes: {
      "data-cy": "back-link"
    }
  }) }}

  {% if validationErrors.summary %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: validationErrors.summary,
      attributes: {
        'data-cy': 'error-summary'
      }
    }) }}
  {% endif %}

  <div class="govuk-grid-row">
    <form method="POST" novalidate>
      <input type="hidden" name="_csrf" value="{{ csrfToken }}">

      <div class="govuk-grid-column-three-quarters-from-desktop">
          <span class="govuk-caption-xl" data-cy="heading-caption">
            {{CONTENT_STRINGS.HEADING_CAPTION}}
          </span>
        <h1 class="govuk-heading-xl" data-cy="heading">{{ CONTENT_STRINGS.PAGE_TITLE }}</h1>
      </div>

      <div class="govuk-grid-column-three-quarters-from-desktop">
        <div class="companies-house-search">

          {{ govukInput({
            label: {
              text: CONTENT_STRINGS.CRN_HEADING,
              classes: "govuk-label--m",
              isPageHeading: false,
              attributes: {
                "data-cy": "companies-house-search-label"
              }
            },
            hint: {
              html: CONTENT_STRINGS.CRN_HINT,
              attributes: {
                "data-cy": "companies-house-search-hint"
              }
            },
            attributes: {
              "data-cy": "companies-house-search"
            },
            id: FIELDS.COMPANY_HOUSE.INPUT,
            name: FIELDS.COMPANY_HOUSE.INPUT,
            value: submittedValues[FIELDS.COMPANY_HOUSE.INPUT],
            errorMessage: validationErrors.errorList.companiesHouseNumber and {
              text: validationErrors.errorList.companiesHouseNumber.text,
              attributes: {
                "data-cy": "companies-house-search-error"
              }
            }
          }) }}

          {{ govukButton({
            text: CONTENT_STRINGS.BUTTONS.SEARCH,
            classes: "govuk-button--secondary",
            attributes: {
              'data-cy': 'companies-house-search-button',
              'formaction': POST_ROUTES.COMPANIES_HOUSE
            }
          }) }}
        </div>

        <p class="govuk-!-margin-bottom-6"><a class="govuk-link" href="{{POST_ROUTES.NO_COMPANIES_HOUSE_NUMBER}}" data-cy="do-not-have-number">{{CONTENT_STRINGS.NO_COMPANY_HOUSE_NUMER}}</a></p>
      </div>

      {% if SUMMARY_LIST %}
        <div class="govuk-grid-column-three-quarters-from-desktop">
          <h3 class="govuk-fieldset__legend--m" data-cy="your-business-heading">{{CONTENT_STRINGS.YOUR_BUSINESS_HEADING}}</h3>

          {{ govukSummaryList({
            classes: 'govuk-!-margin-bottom-9',
            rows: SUMMARY_LIST.COMPANY_DETAILS.ROWS,
            attributes: {
              'data-cy': 'companies-house-summary-list'
            }
          }) }}
        </div>
      {% endif %}

      <div class="govuk-grid-column-three-quarters-from-desktop">
        {{ yesNoRadioButtons.render({
          fieldId: FIELDS.YOUR_COMPANY.TRADING_NAME,
          heading: CONTENT_STRINGS.TRADING_NAME,
          submittedAnswer: submittedValues[FIELDS.YOUR_COMPANY.TRADING_NAME],
          errorMessage: validationErrors.errorList.tradingName,
          headerClass: 'govuk-fieldset__legend--m',
          datacyHeading: 'trading-name-heading'
        }) }}
      </div>

      <div class="govuk-grid-column-three-quarters-from-desktop">
          {{ yesNoRadioButtons.render({
            fieldId: FIELDS.YOUR_COMPANY.TRADING_ADDRESS,
            heading: CONTENT_STRINGS.TRADING_ADDRESS,
            submittedAnswer: submittedValues[FIELDS.YOUR_COMPANY.TRADING_ADDRESS],
            errorMessage: validationErrors.errorList.tradingAddress,
            headerClass: 'govuk-fieldset__legend--m',
            datacyHeading: 'trading-address-heading'
          }) }}
      </div>

      <div class="govuk-grid-column-three-quarters-from-desktop">
        {{ govukInput({
          label: {
            text: CONTENT_STRINGS.WEBSITE,
            classes: "govuk-label--m",
            isPageHeading: false,
            attributes: {
              'data-cy': 'company-website-label'
            }
          },
          id: FIELDS.YOUR_COMPANY.WEBSITE,
          name: FIELDS.YOUR_COMPANY.WEBSITE,
          classes: "input-width",
          attributes: {
            'data-cy': 'company-website',
            'aria-label': CONTENT_STRINGS.WEBSITE
          }
        }) }}
      </div>

      <div class="govuk-grid-column-three-quarters-from-desktop">
        {{ govukInput({
          label: {
            text: CONTENT_STRINGS.PHONE_NUMBER,
            classes: "govuk-label--m",
            isPageHeading: false,
            attributes: {
            'data-cy': 'company-phone-label'
            }
          },
          hint: {
            text: CONTENT_STRINGS.PHONE_NUMBER_HINT,
            attributes: {
              'data-cy': 'company-phone-hint'
            }
          },
          id: FIELDS.YOUR_COMPANY.PHONE_NUMBER,
          name: FIELDS.YOUR_COMPANY.PHONE_NUMBER,
          classes: "input-width",
          attributes: {
            'data-cy': 'company-phone',
            'aria-label': CONTENT_STRINGS.PHONE_NUMBER
          }
        }) }}
      </div>

      <div class="govuk-grid-column-three-quarters-from-desktop">
        <div class="govuk-button-group">
          {{ govukButton({
            text: CONTENT_STRINGS.BUTTONS.CONTINUE,
            attributes: {
              'data-cy': 'submit-button',
              'formaction' : POST_ROUTES.COMPANY_DETAILS
            }
          }) }}

          {{ govukButton({
            text: CONTENT_STRINGS.BUTTONS.SAVE_AND_BACK,
            classes: "govuk-button--secondary",
            attributes: {
              'data-cy': 'save-and-back-button'
            }
          }) }}
        </div>
      </div>
    </form>
  </div>

{% endblock %}