{% extends 'index.njk' %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from 'govuk/components/error-summary/macro.njk' import govukErrorSummary %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% import '../../components/yes-no-radio-buttons.njk' as yesNoRadioButtons %}
{% import '../../components/form-buttons.njk' as formButtons %}

{% block pageTitle %}
  {{ CONTENT_STRINGS.PAGE_TITLE }}
{% endblock %}

{% block content %}

  {{ govukBackLink({
    text: CONTENT_STRINGS.LINKS.BACK,
    href: BACK_LINK,
    attributes: {
      "data-cy": DATA_CY.BACK_LINK
    }
  }) }}

  {% if validationErrors.summary %}
    {{ govukErrorSummary({
      titleText: CONTENT_STRINGS.ERROR_MESSAGES.THERE_IS_A_PROBLEM,
      errorList: validationErrors.summary,
      attributes: {
        'data-cy': 'error-summary'
      }
    }) }}
  {% endif %}

  <div class="govuk-grid-row">
    <form method="POST" data-cy="form" enctype="application/x-www-form-urlencoded" novalidate>
      <input type="hidden" name="_csrf" value="{{ csrfToken }}">

      <div class="govuk-grid-column-three-quarters-from-desktop">
        <span class="govuk-caption-xl" data-cy="heading-caption">
          {{ CONTENT_STRINGS.HEADING_CAPTION }}
        </span>

        <h1 class="govuk-heading-xl" data-cy="{{ DATA_CY.HEADING }}">{{ CONTENT_STRINGS.PAGE_TITLE }}</h1>

        <p class="govuk-body" data-cy="body">{{ CONTENT_STRINGS.BODY }}</p>

        {{ govukSummaryList({
          classes: 'govuk-!-margin-bottom-9',
          rows: SUMMARY_LIST.COMPANY_DETAILS.ROWS,
          attributes: {
            'data-cy':  FIELDS.COMPANIES_HOUSE.SEARCH + '-summary-list'
          }
        }) }}

        {% set conditionalYesHtml %}
          {{ govukInput({
            id: FIELDS.YOUR_COMPANY.DIFFERENT_TRADING_NAME,
            name: FIELDS.YOUR_COMPANY.DIFFERENT_TRADING_NAME,
            value: submittedValues[FIELDS.YOUR_COMPANY.DIFFERENT_TRADING_NAME],
            label: {
              text: CONTENT_STRINGS.DIFFERENT_TRADING_NAME,
              classes: "govuk-label--m",
              attributes: {
                id: FIELDS.YOUR_COMPANY.DIFFERENT_TRADING_NAME + '-label',
                "data-cy": FIELDS.YOUR_COMPANY.DIFFERENT_TRADING_NAME + "-label"
              }
            },
            hint: {
            text: CONTENT_STRINGS.DIFFERENT_TRADING_NAME_HINT,
            attributes: {
              'data-cy': FIELDS.YOUR_COMPANY.DIFFERENT_TRADING_NAME + '-hint'
              }
            },
            classes: "govuk-input--width-20",
            attributes: {
              "data-cy": FIELDS.YOUR_COMPANY.DIFFERENT_TRADING_NAME + "-input"
            },
            errorMessage: validationErrors.errorList[FIELDS.YOUR_COMPANY.DIFFERENT_TRADING_NAME] and {
              text: validationErrors.errorList[FIELDS.YOUR_COMPANY.DIFFERENT_TRADING_NAME].text,
              attributes: {
                "data-cy": FIELDS.YOUR_COMPANY.DIFFERENT_TRADING_NAME + "-error-message"
              }
            }
          }) }}
        {% endset %}

        {{ yesNoRadioButtons.render({
          fieldId: FIELDS.YOUR_COMPANY.HAS_DIFFERENT_TRADING_NAME,
          legendText: CONTENT_STRINGS.HAS_DIFFERENT_TRADING_NAME,
          legendClass: 'govuk-fieldset__legend--m',
          legendSpan: true,
          submittedAnswer: submittedValues[FIELDS.YOUR_COMPANY.HAS_DIFFERENT_TRADING_NAME],
          errorMessage: validationErrors.errorList[FIELDS.YOUR_COMPANY.HAS_DIFFERENT_TRADING_NAME],
          dataCyLegend: FIELDS.YOUR_COMPANY.HAS_DIFFERENT_TRADING_NAME + '-legend',
          conditionalYesHtml: conditionalYesHtml,
          horizontalRadios: true
        }) }}

        {{ yesNoRadioButtons.render({
          fieldId: FIELDS.YOUR_COMPANY.TRADING_ADDRESS,
          legendText: CONTENT_STRINGS.TRADING_ADDRESS,
          legendClass: 'govuk-fieldset__legend--m',
          legendSpan: true,
          submittedAnswer: submittedValues[FIELDS.YOUR_COMPANY.TRADING_ADDRESS],
          errorMessage: validationErrors.errorList[FIELDS.YOUR_COMPANY.TRADING_ADDRESS],
          dataCyLegend: FIELDS.YOUR_COMPANY.TRADING_ADDRESS + '-legend',
          horizontalRadios: true
        }) }}

        {{ govukInput({
          label: {
            text: CONTENT_STRINGS.WEBSITE,
            classes: "govuk-label--m",
            attributes: {
              id: FIELDS.YOUR_COMPANY.WEBSITE.ID + '-label',
              'data-cy': FIELDS.YOUR_COMPANY.WEBSITE + '-label'
            }
          },
          id: FIELDS.YOUR_COMPANY.WEBSITE,
          name: FIELDS.YOUR_COMPANY.WEBSITE,
          classes: "companies-house-input-width",
          attributes: {
            'data-cy': FIELDS.YOUR_COMPANY.WEBSITE + '-input',
            'aria-label': CONTENT_STRINGS.WEBSITE
          },
          value: submittedValues[FIELDS.YOUR_COMPANY.WEBSITE],
          errorMessage: validationErrors.errorList[FIELDS.YOUR_COMPANY.WEBSITE] and {
            text: validationErrors.errorList[FIELDS.YOUR_COMPANY.WEBSITE].text,
            attributes: {
              "data-cy": FIELDS.YOUR_COMPANY.WEBSITE + "-error-message"
            }
          }
        }) }}
      </div>

      <div class="govuk-grid-column-three-quarters-from-desktop">
        {{ govukInput({
          label: {
            text: CONTENT_STRINGS.PHONE_NUMBER,
            classes: "govuk-label--m",
            attributes: {
              id: FIELDS.YOUR_COMPANY.PHONE_NUMBER.ID + '-label',
            'data-cy': FIELDS.YOUR_COMPANY.PHONE_NUMBER + '-label'
            }
          },
          hint: {
            text: CONTENT_STRINGS.PHONE_NUMBER_HINT,
            attributes: {
              'data-cy': FIELDS.YOUR_COMPANY.PHONE_NUMBER + '-hint'
            }
          },
          id: FIELDS.YOUR_COMPANY.PHONE_NUMBER,
          name: FIELDS.YOUR_COMPANY.PHONE_NUMBER,
          type: "tel",
          autocomplete: "tel",
          value: submittedValues[FIELDS.YOUR_COMPANY.PHONE_NUMBER],
          classes: "companies-house-input-width",
          attributes: {
            'data-cy': FIELDS.YOUR_COMPANY.PHONE_NUMBER + '-input',
            'aria-label': CONTENT_STRINGS.PHONE_NUMBER
          },
           errorMessage: validationErrors.errorList[FIELDS.YOUR_COMPANY.PHONE_NUMBER] and {
            text: validationErrors.errorList[FIELDS.YOUR_COMPANY.PHONE_NUMBER].text,
            attributes: {
              "data-cy": FIELDS.YOUR_COMPANY.PHONE_NUMBER + "-error-message"
            }
          }
        }) }}

        {{ formButtons.render({
          contentStrings: CONTENT_STRINGS.BUTTONS,
          saveAndBackUrl: SAVE_AND_BACK_URL
        }) }}

      </div>

    </form>
  </div>

{% endblock %}
