{% extends 'index.njk' %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from 'govuk/components/error-summary/macro.njk' import govukErrorSummary %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/hint/macro.njk" import govukHint %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% import '../../components/personal-details-input.njk' as personalDetailsInput %}
{% import '../../components/submit-button.njk' as submitButton %}
{% import '../../components/fieldset-legend.njk' as fieldsetLegend %}

{% block pageTitle %}
  {{ CONTENT_STRINGS.PAGE_TITLE }}
{% endblock %}

{% block content %}

  {{ govukBackLink({
    text: CONTENT_STRINGS.LINKS.BACK,
    href: BACK_LINK,
    attributes: {
      "data-cy": DATA_CY.BACK_LINK
    }
  }) }}

  {% if validationErrors.summary %}
    {{ govukErrorSummary({
      titleText: CONTENT_STRINGS.ERROR_MESSAGES.THERE_IS_A_PROBLEM,
      errorList: validationErrors.summary,
      attributes: {
        'data-cy': 'error-summary'
      }
    }) }}
  {% endif %}

  <div class="govuk-grid-row">
    <form method="POST" id="form" enctype="application/x-www-form-urlencoded" novalidate>
      <input type="hidden" name="_csrf" value="{{ csrfToken }}">

      <div class="govuk-grid-column-three-quarters-from-desktop">
        <span class="govuk-caption-xl" data-cy="heading-caption">
          {{CONTENT_STRINGS.HEADING_CAPTION}}
        </span>
        <h1 class="govuk-heading-xl" data-cy="{{ DATA_CY.HEADING }}">{{ CONTENT_STRINGS.PAGE_TITLE }}</h1>
      </div>

      <div class="govuk-grid-column-three-quarters-from-desktop">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-2" data-cy="{{FIELDS.COMPANY_NAME.ID}}-label">{{ FIELDS.COMPANY_NAME.LABEL }}</h2>

        {{ govukHint({
          text: FIELDS.COMPANY_NAME.HINT,
          attributes: {
          "data-cy": FIELDS.COMPANY_NAME.ID + "-hint"
          }
        }) }}

        <p class="govuk-body" data-cy="{{FIELDS.COMPANY_NAME.ID}}">{{ application.company[FIELDS.COMPANY_NAME.ID] }}</p>
      </div>

      <div class="govuk-grid-column-three-quarters-from-desktop govuk-!-margin-top-5">
        {% call govukFieldset({
          legend: {
            html: fieldsetLegend.render({ id: "contact-details", legendText: CONTENT_STRINGS.CONTACT_DETAILS.LEGEND }),
            isPageHeading: false
          }
        }) %}

          {{ govukHint({
            text: CONTENT_STRINGS.CONTACT_DETAILS.HINT,
            attributes: {
            "data-cy": "contact-details-hint"
            }
          }) }}

          {{ personalDetailsInput.render({
            class: "govuk-input--width-11",
            fieldId: FIELDS.FIRST_NAME.ID,
            label: FIELDS.FIRST_NAME.LABEL,
            labelClass: "govuk-label--s",
            validationErrors: validationErrors,
            submittedValues: submittedValues
          }) }}

          {{ personalDetailsInput.render({
            class: "govuk-input--width-11",
            fieldId: FIELDS.LAST_NAME.ID,
            label: FIELDS.LAST_NAME.LABEL,
            labelClass: "govuk-label--s",
            validationErrors: validationErrors,
            submittedValues: submittedValues
          }) }}

          {{ personalDetailsInput.render({
            class: "govuk-input--width-11",
            fieldId: FIELDS.EMAIL_ADDRESS.ID,
            label: FIELDS.EMAIL_ADDRESS.LABEL,
            labelClass: "govuk-label--s",
            validationErrors: validationErrors,
            submittedValues: submittedValues
          }) }}

          {{ personalDetailsInput.render({
            class: "govuk-input--width-11",
            fieldId: FIELDS.POSITION.ID,
            label: FIELDS.POSITION.LABEL,
            labelClass: "govuk-label--s",
            validationErrors: validationErrors,
            submittedValues: submittedValues
          }) }}
        {% endcall %}
      </div>

      <div class="govuk-grid-column-three-quarters-from-desktop govuk-!-margin-top-5">
        <div class="govuk-button-group">
          {{ submitButton.render({
            text: CONTENT_STRINGS.BUTTONS.CONTINUE
          }) }}

          {{ govukButton({
            text: CONTENT_STRINGS.BUTTONS.SAVE_AND_BACK,
            classes: "govuk-button--secondary",
            attributes: {
              'data-cy': 'save-and-back-button',
              'formaction': SAVE_AND_BACK_URL
            }
          }) }}
        </div>
      </div>
    </form>
  </div>

{% endblock %}
