{% extends 'index.njk' %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from 'govuk/components/error-summary/macro.njk' import govukErrorSummary %}
{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}
{% import '../../components/text-input.njk' as textInput %}
{% import '../../components/form-buttons.njk' as formButtons %}

{% block pageTitle %}
  {{ CONTENT_STRINGS.PAGE_TITLE }}
{% endblock %}

{% block content %}

  {{ govukBackLink({
    text: CONTENT_STRINGS.LINKS.BACK,
    href: BACK_LINK,
    attributes: {
      "data-cy": DATA_CY.BACK_LINK
    }
  }) }}

  {% if validationErrors.summary %}
    {{ govukErrorSummary({
      titleText: CONTENT_STRINGS.ERROR_MESSAGES.THERE_IS_A_PROBLEM,
      errorList: validationErrors.summary,
      attributes: {
        'data-cy': 'error-summary'
      }
    }) }}
  {% endif %}

  <div class="govuk-grid-row">
    <form method="POST" data-cy="form" enctype="application/x-www-form-urlencoded" novalidate>
      <input type="hidden" name="_csrf" value="{{ csrfToken }}">

      <div class="govuk-grid-column-three-quarters-from-desktop">
        <span class="govuk-caption-xl" data-cy="heading-caption">
          {{ CONTENT_STRINGS.HEADING_CAPTION }}
        </span>
        <h1 class="govuk-heading-xl" data-cy="{{ DATA_CY.HEADING }}">{{ CONTENT_STRINGS.PAGE_TITLE }}</h1>
      </div>

      <div class="govuk-grid-column-three-quarters-from-desktop">
        {{ govukCharacterCount({
          name: FIELDS.GOODS_OR_SERVICES.ID,
          id: FIELDS.GOODS_OR_SERVICES.ID,
          maxlength: FIELDS.GOODS_OR_SERVICES.MAXIMUM,
          value: submittedValues[FIELDS.GOODS_OR_SERVICES.ID] or application.business[FIELDS.GOODS_OR_SERVICES.ID],
          label: {
            text: FIELDS.GOODS_OR_SERVICES.LABEL,
            classes: "govuk-label--m",
            attributes: {
              id: FIELDS.GOODS_OR_SERVICES.ID + '-label',
              "data-cy": FIELDS.GOODS_OR_SERVICES.ID + "-label"
            }
          },
          hint: {
            text: FIELDS.GOODS_OR_SERVICES.HINT,
            attributes: {
              "data-cy": FIELDS.GOODS_OR_SERVICES.ID + "-hint"
            }
          },
          attributes: {
            "data-cy": FIELDS.GOODS_OR_SERVICES.ID
          },
          errorMessage: validationErrors.errorList[FIELDS.GOODS_OR_SERVICES.ID] and {
            text: validationErrors.errorList[FIELDS.GOODS_OR_SERVICES.ID].text,
            attributes: {
              "data-cy": FIELDS.GOODS_OR_SERVICES.ID + "-error-message"
            }
          }
        }) }}
      </div>

      <div class="govuk-grid-column-three-quarters-from-desktop">
        {{ textInput.render({
          id: FIELDS.YEARS_EXPORTING.ID,
          labelText: FIELDS.YEARS_EXPORTING.LABEL,
          labelClasses: "govuk-label--m",
          inputClasses: "govuk-input--width-5",
          hintText: FIELDS.YEARS_EXPORTING.HINT,
          suffixText: FIELDS.YEARS_EXPORTING.SUFFIX,
          value: submittedValues[FIELDS.YEARS_EXPORTING.ID] or application.business[FIELDS.YEARS_EXPORTING.ID],
          errorMessage: validationErrors.errorList[FIELDS.YEARS_EXPORTING.ID]
        }) }}
      </div>

      <div class="govuk-grid-column-three-quarters-from-desktop">
        {{ textInput.render({
          id: FIELDS.EMPLOYEES_UK.ID,
          labelText: FIELDS.EMPLOYEES_UK.LEGEND,
          labelClasses: "govuk-label--m",
          inputClasses: "govuk-input--width-10",
          value: submittedValues[FIELDS.EMPLOYEES_UK.ID] or application.business[FIELDS.EMPLOYEES_UK.ID],
          errorMessage: validationErrors.errorList[FIELDS.EMPLOYEES_UK.ID]
        }) }}

        {{ formButtons.render({
          contentStrings: CONTENT_STRINGS.BUTTONS,
          saveAndBackUrl: POST_ROUTES.SAVE_AND_BACK_URL
        }) }}

      </div>

    </form>
  </div>

{% endblock %}
