{% extends 'index.njk' %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from 'govuk/components/error-summary/macro.njk' import govukErrorSummary %}
{% from "govuk/components/hint/macro.njk" import govukHint %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% import '../../components/monetary-value-input.njk' as monetaryValueInput %}
{% import '../../components/text-input.njk' as textInput %}
{% import '../../components/form-buttons.njk' as formButtons %}
{% import '../../components/fieldset-legend.njk' as fieldsetLegend %}

{% block pageTitle %}
  {{ CONTENT_STRINGS.PAGE_TITLE }}
{% endblock %}

{% block content %}

  {{ govukBackLink({
    text: CONTENT_STRINGS.LINKS.BACK,
    href: BACK_LINK,
    attributes: {
      "data-cy": DATA_CY.BACK_LINK
    }
  }) }}

  {% if validationErrors.summary %}
    {{ govukErrorSummary({
      titleText: CONTENT_STRINGS.ERROR_MESSAGES.THERE_IS_A_PROBLEM,
      errorList: validationErrors.summary,
      attributes: {
        'data-cy': 'error-summary'
      }
    }) }}
  {% endif %}

  <div class="govuk-grid-row">
    <form method="POST" data-cy="form" enctype="application/x-www-form-urlencoded" novalidate>
      <input type="hidden" name="_csrf" value="{{ csrfToken }}">

      <div class="govuk-grid-column-three-quarters-from-desktop">
        <span class="govuk-caption-xl" data-cy="heading-caption">
          {{ CONTENT_STRINGS.HEADING_CAPTION }}
        </span>
        <h1 class="govuk-heading-xl" data-cy="{{ DATA_CY.HEADING }}">{{ CONTENT_STRINGS.PAGE_TITLE }}</h1>
      </div>

      {% if application.company[FIELDS.FINANCIAL_YEAR_END_DATE.ID] %}
        <div class="govuk-grid-column-three-quarters-from-desktop">
          <h2 class="govuk-heading-m govuk-!-margin-bottom-2" data-cy="{{FIELDS.FINANCIAL_YEAR_END_DATE.ID}}-label">{{ FIELDS.FINANCIAL_YEAR_END_DATE.LABEL }}</h2>

          {{ govukHint({
            text: FIELDS.FINANCIAL_YEAR_END_DATE.HINT,
            attributes: {
            "data-cy": FIELDS.FINANCIAL_YEAR_END_DATE.ID + "-hint"
            }
          }) }}

          <p class="govuk-body" data-cy="{{FIELDS.FINANCIAL_YEAR_END_DATE.ID}}">{{ application.company[FIELDS.FINANCIAL_YEAR_END_DATE.ID] }}</p>
        </div>
      {% endif %}

      <div class="govuk-grid-column-three-quarters-from-desktop">
        {% call govukFieldset({
          legend: {
            html: fieldsetLegend.render({ id: FIELDS.ESTIMATED_ANNUAL_TURNOVER.ID, legendText: TURNOVER_LEGEND })
          }
        }) %}

          {% set annualTurnover = FIELDS.ESTIMATED_ANNUAL_TURNOVER %}
          {% set annualTurnoverId = annualTurnover.ID %}

          {{ monetaryValueInput.render({
            fieldId: annualTurnoverId,
            currencyPrefixSymbol: CURRENCY_PREFIX_SYMBOL,
            submittedValue: submittedValues[annualTurnoverId] or application.business[annualTurnoverId],
            validationError: validationErrors.errorList[annualTurnoverId]
          }) }}

          <p class-"govuk-body">
            <a class="govuk-link" data-cy="provide-alternative-currency-link" href="{{ PROVIDE_ALTERNATIVE_CURRENCY_URL }}">{{ CONTENT_STRINGS.PROVIDE_ALTERNATIVE_CURRENCY }}</a>
          </p>

          {{ textInput.render({
            id: FIELDS.PERCENTAGE_TURNOVER.ID,
            labelText: FIELDS.PERCENTAGE_TURNOVER.LABEL,
            inputClasses: "govuk-input--width-5",
            hintText: FIELDS.PERCENTAGE_TURNOVER.HINT,
            suffixText: FIELDS.PERCENTAGE_TURNOVER.SUFFIX,
            value: submittedValues[FIELDS.PERCENTAGE_TURNOVER.ID] or application.business[FIELDS.PERCENTAGE_TURNOVER.ID],
            errorMessage: validationErrors.errorList[FIELDS.PERCENTAGE_TURNOVER.ID]
          }) }}

        {% endcall %}

        {{ formButtons.render({
          contentStrings: CONTENT_STRINGS.BUTTONS,
          saveAndBackUrl: SAVE_AND_BACK_URL
        }) }}
      </div>

    </form>
  </div>

{% endblock %}
