{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% import '../../components/fieldset-legend.njk' as fieldsetLegend %}
{% import '../../components/address-fields.njk' as addressInput %}

{% call govukFieldset({
  legend: {
    html: fieldsetLegend.render({ id: FIELDS.LEGEND.ID, legendText: FIELDS.LEGEND.LEGEND }),
    isPageHeading: false
  }
}) %}

  {{ govukInput({
    id: FIELDS.NAME.ID,
    name: FIELDS.NAME.ID,
    value: submittedValues[FIELDS.NAME.ID] or application.broker[FIELDS.NAME.ID],
    label: {
      text: FIELDS.NAME.LABEL,
      classes: "govuk-body govuk-!-font-weight-bold",
      attributes: {
        id: FIELDS.NAME.ID + '-label',
        "data-cy": FIELDS.NAME.ID + "-label"
      }
    },
    classes: "govuk-input--width-20",
    attributes: {
      "data-cy": FIELDS.NAME.ID + "-input"
    },
    errorMessage: validationErrors.errorList[FIELDS.NAME.ID] and {
      text: validationErrors.errorList[FIELDS.NAME.ID].text,
      attributes: {
        "data-cy": FIELDS.NAME.ID + "-error-message"
      }
    }
  }) }}

  {{ addressInput.render({
    addressLineOne: FIELDS.ADDRESS_LINE_1,
    addressLineTwo: FIELDS.ADDRESS_LINE_2,
    town: FIELDS.TOWN,
    country: FIELDS.COUNTY,
    postcode: FIELDS.POSTCODE,
    validationErrors: validationErrors,
    submittedValues: submittedValues,
    application: application.broker
  }) }}

  {{ govukInput({
    id: FIELDS.EMAIL.ID,
    name: FIELDS.EMAIL.ID,
    value: submittedValues[FIELDS.EMAIL.ID] or application.broker[FIELDS.EMAIL.ID],
    label: {
      text: FIELDS.EMAIL.LABEL,
      classes: "govuk-body govuk-!-font-weight-bold",
      attributes: {
        id: FIELDS.EMAIL.ID + '-label',
        "data-cy": FIELDS.EMAIL.ID + "-label"
      }
    },
    classes: "govuk-input--width-20",
    attributes: {
      "data-cy": FIELDS.EMAIL.ID + "-input"
    },
    errorMessage: validationErrors.errorList[FIELDS.EMAIL.ID] and {
      text: validationErrors.errorList[FIELDS.EMAIL.ID].text,
      attributes: {
        "data-cy": FIELDS.EMAIL.ID + "-error-message"
      }
    }
  }) }}
{% endcall %}