<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">

    <p class="govuk-hint" data-cy="{{ FIELDS.ID }}-reveal-text">{{ FIELDS.ANSWER_YES_REVEAL.TEXT }}</p>

  </div>
</div>