<p>
  <span data-cy="{{ FIELDS.ID }}-hint-intro">{{ FIELDS.HINT.INTRO }}</span>
  <a class="govuk-link" href="{{ FIELDS.HINT.LINK.HREF }}" data-cy="{{ FIELDS.ID }}-hint-link">{{ FIELDS.HINT.LINK.TEXT }}</a>.
</p>