{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}

{{ govukCharacterCount({
  name: FIELDS.CONNECTION_WITH_BUYER_DESCRIPTION.ID,
  id: FIELDS.CONNECTION_WITH_BUYER_DESCRIPTION.ID,
  label: {
    text: FIELDS.CONNECTION_WITH_BUYER_DESCRIPTION.LABEL,
    classes: "govuk-label--m",
    attributes: {
      'data-cy': FIELDS.CONNECTION_WITH_BUYER_DESCRIPTION.ID + '-label',
      id: FIELDS.CONNECTION_WITH_BUYER_DESCRIPTION.ID + '-label'
    }
  },
  attributes: {
    'data-cy': FIELDS.CONNECTION_WITH_BUYER_DESCRIPTION.ID
  },
  maxlength: FIELDS.CONNECTION_WITH_BUYER_DESCRIPTION.MAXIMUM,
  value: submittedValues[FIELDS.CONNECTION_WITH_BUYER_DESCRIPTION.ID] or application.buyer.relationship[FIELDS.CONNECTION_WITH_BUYER_DESCRIPTION.ID],
  errorMessage: validationErrors.errorList[FIELDS.CONNECTION_WITH_BUYER_DESCRIPTION.ID] and {
    text: validationErrors.errorList[FIELDS.CONNECTION_WITH_BUYER_DESCRIPTION.ID].text,
    attributes: {
      "data-cy": FIELDS.CONNECTION_WITH_BUYER_DESCRIPTION.ID + "-error-message"
    }
  }
}) }}