{% set detailsHtml %}
  {% include "partials/insurance/end-buyers-description.njk" %}
{% endset %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters-from-desktop">

    {{ govukDetails({
      summaryText: CONTENT_STRINGS.END_BUYERS_DESCRIPTION.INTRO,
      html: detailsHtml,
      attributes: {
        "data-cy": "end-buyers-description"
      }
    }) }}

  </div>
</div>