<p class="govuk-body">
  <a class="govuk-link govuk-link--no-visited-state" href="{{ ENTER_ADDRESS_MANUALLY_URL }}" data-cy="enter-address-manually-link">{{ CONTENT_STRINGS.LINKS.ENTER_ADDRESS_MANUALLY }}</a>
</p>
