{% import '../../components/text-input.njk' as textInput %}

<div class="govuk-grid-row">
  {% set field = FIELDS.FIXED_SUM_AMOUNT %}
  {% set fieldId = field.ID %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      {{ textInput.render({
        id: fieldId,
        labelText: field.LABEL,
        inputClasses: "govuk-input--width-5",
        prefixText: CURRENCY_PREFIX_SYMBOL,
        errorMessage: validationErrors.errorList[fieldId],
        value: submittedValues[fieldId] or application.exportContract.agent.service.charge[fieldId]
      }) }}
    </div>
  </div>
</div>
