{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}

{{ govukCharacterCount({
  name: FIELDS.CREDIT_PERIOD_WITH_BUYER.ID,
  id: FIELDS.CREDIT_PERIOD_WITH_BUYER.ID,
  label: {
    text: FIELDS.CREDIT_PERIOD_WITH_BUYER.LABEL,
    classes: "govuk-label--m",
    attributes: {
      'data-cy': FIELDS.CREDIT_PERIOD_WITH_BUYER.ID + '-label',
      id: FIELDS.CREDIT_PERIOD_WITH_BUYER.ID + '-label'
    }
  },
  attributes: {
    'data-cy': FIELDS.CREDIT_PERIOD_WITH_BUYER.ID
  },
  maxlength: FIELDS.CREDIT_PERIOD_WITH_BUYER.MAXIMUM,
  errorMessage: validationErrors.errorList[FIELDS.CREDIT_PERIOD_WITH_BUYER.ID] and {
    text: validationErrors.errorList[FIELDS.CREDIT_PERIOD_WITH_BUYER.ID].text,
    attributes: {
      "data-cy": FIELDS.CREDIT_PERIOD_WITH_BUYER.ID + "-error-message"
    }
  }
}) }}
