{% set contentStrings = CONTENT_STRINGS.PRE_CREDIT_PERIOD_DESCRIPTION %}

{% set descriptionHtml %}
  <p class="govuk-body" data-cy="pre-credit-period-description-protects-you">{{ contentStrings.PROTECTS_YOU }}</p>
  <p class="govuk-body" data-cy="pre-credit-period-description-insures-you">{{ contentStrings.INSURES_YOU }}</p>
  <p class="govuk-body" data-cy="pre-credit-period-description-happens-before">{{ contentStrings.HAPPENS_BEFORE }}</p>
{% endset %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters-from-desktop">

    {{ govukDetails({
      summaryText: contentStrings.INTRO,
      html: descriptionHtml,
      attributes: {
        "data-cy": "pre-credit-period-description"
      }
    }) }}

  </div>
</div>
