{% extends 'index.njk' %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% block pageTitle %}
  {{ CONTENT_STRINGS.PAGE_TITLE }}
{% endblock %}

{% block content %}

  {{ govukBackLink({
    text: CONTENT_STRINGS.LINKS.BACK,
    href: BACK_LINK,
    attributes: {
      "data-cy": DATA_CY.BACK_LINK
    }
  }) }}

  <h1 class="govuk-heading-l" data-cy="{{ DATA_CY.HEADING }}">{{ CONTENT_STRINGS.HEADING }}</h1>

  <h2 class="govuk-heading-m" data-cy="using-our-service-heading">{{ CONTENT_STRINGS.USING_OUR_SERVICE.HEADING }}</h2>

  <p class="govuk-body" data-cy="using-our-service-intro">{{ CONTENT_STRINGS.USING_OUR_SERVICE.INTRO }}</p>

  <ul class="govuk-list govuk-list--bullet">
    {% for item in CONTENT_STRINGS.USING_OUR_SERVICE.LIST %}
      <li data-cy="using-our-service-list-item-{{ loop.index }}">{{ item }}</li>
    {% endfor %}
  </ul>

  <p class="govuk-body" data-cy="using-our-service-outro-website">{{ CONTENT_STRINGS.USING_OUR_SERVICE.OUTRO.WEBSITE_TEXT }}</p>

  <p class="govuk-body">
    <a class="govuk-link" data-cy="using-our-service-outro-abilityNet-link" href="{{ CONTENT_STRINGS.USING_OUR_SERVICE.OUTRO.ABILITY_NET.LINK.HREF }}">
      {{ CONTENT_STRINGS.USING_OUR_SERVICE.OUTRO.ABILITY_NET.LINK.TEXT }}
    </a>

    <span data-cy="using-our-service-outro-abilityNet-description">{{ CONTENT_STRINGS.USING_OUR_SERVICE.OUTRO.ABILITY_NET.DESCRIPTION }}</span>
  </p>

  <h2 class="govuk-heading-m" data-cy="compliance-status-heading">{{ CONTENT_STRINGS.COMPLIANCE_STATUS.HEADING }}</h2>

  <p class="govuk-body">
    <span data-cy="compliance-status-intro">{{ CONTENT_STRINGS.COMPLIANCE_STATUS.INTRO }}</span>
    <a class="govuk-link" data-cy="compliance-status-link" href="{{ CONTENT_STRINGS.COMPLIANCE_STATUS.GUIDLINES_LINK.HREF }}">{{ CONTENT_STRINGS.COMPLIANCE_STATUS.GUIDLINES_LINK.TEXT }}</a>
    <span data-cy="compliance-status-outro">{{ CONTENT_STRINGS.COMPLIANCE_STATUS.OUTRO }}</span>
    <ul class="govuk-list govuk-list--bullet">
      <li data-cy="compliance-status-list-item-1"><strong>{{ CONTENT_STRINGS.COMPLIANCE_STATUS.LIST[0] }}</strong> {{ CONTENT_STRINGS.COMPLIANCE_STATUS.LIST[1] }}</li>
      <li data-cy="compliance-status-list-item-2"><strong>{{ CONTENT_STRINGS.COMPLIANCE_STATUS.LIST[2] }}</strong> {{ CONTENT_STRINGS.COMPLIANCE_STATUS.LIST[3] }}</li>
    </ul>
  </p>

   <h2 class="govuk-heading-m" data-cy="improving-accessibility-heading">{{ CONTENT_STRINGS.IMPROVING_ACCESSIBILITY.HEADING }}</h2>

  <p class="govuk-body" data-cy="improving-accessibility-description">{{ CONTENT_STRINGS.IMPROVING_ACCESSIBILITY.DESCRIPTION }}</p>
  <p class="govuk-body" data-cy="improving-accessibility-outro">{{ CONTENT_STRINGS.IMPROVING_ACCESSIBILITY.OUTRO }}</p>

  <h2 class="govuk-heading-m" data-cy="feedback-and-contact-heading">{{ CONTENT_STRINGS.FEEDBACK_AND_CONTACT.HEADING }}</h2>

  <p class="govuk-body" data-cy="feedback-and-contact-intro">{{ CONTENT_STRINGS.FEEDBACK_AND_CONTACT.INTRO }}</p>

  <ul class="govuk-list govuk-list--bullet">
    {% for item in CONTENT_STRINGS.FEEDBACK_AND_CONTACT.LIST %}
      <li data-cy="feedback-and-contact-list-item-{{ loop.index }}">{{ item }}</li>
    {% endfor %}
  </ul>

  <p class="govuk-body" data-cy="feedback-and-contact-outro">{{ CONTENT_STRINGS.FEEDBACK_AND_CONTACT.OUTRO }}</p>

  <h2 class="govuk-heading-m" data-cy="reporting-problems-heading">{{ CONTENT_STRINGS.REPORTING_PROBLEMS.HEADING }}</h2>

  <p class="govuk-body" data-cy="reporting-problems-description">{{ CONTENT_STRINGS.REPORTING_PROBLEMS.DESCRIPTION }}</p>

  <h2 class="govuk-heading-m" data-cy="enforcement-procedure-heading">{{ CONTENT_STRINGS.ENFORCEMENT_PROCEDURE.HEADING }}</h2>

  <p class="govuk-body">
    <span data-cy="enforcement-procedure-description">{{ CONTENT_STRINGS.ENFORCEMENT_PROCEDURE.DESCRIPTION }} </span>
    <a class="govuk-link" data-cy="enforcement-procedure-link" href="{{ CONTENT_STRINGS.ENFORCEMENT_PROCEDURE.CONTACT.HREF }}">{{ CONTENT_STRINGS.ENFORCEMENT_PROCEDURE.CONTACT.TEXT }}</a>.
  </p>

  <h2 class="govuk-heading-m" data-cy="technical-info-heading">{{ CONTENT_STRINGS.TECHNICAL_INFO.HEADING }}</h2>

  <p class="govuk-body" data-cy="technical-info-description">{{ CONTENT_STRINGS.TECHNICAL_INFO.DESCRIPTION }}</p>

  <h2 class="govuk-heading-m" data-cy="preperation-of-statement-heading">{{ CONTENT_STRINGS.PREPERATION_OF_STATEMENT.HEADING }}</h2>

  <ul class="govuk-list govuk-list--bullet">
    {% for item in CONTENT_STRINGS.PREPERATION_OF_STATEMENT.LIST %}
      <li data-cy="preperation-of-statement-list-item-{{ loop.index }}">{{ item }}</li>
    {% endfor %}
  </ul>

{% endblock %}
