{% extends 'index.njk' %}
{% from 'govuk/components/back-link/macro.njk' import govukBackLink %}

{% block pageTitle %}
  {{ CONTENT_STRINGS.PAGE_TITLE }}
{% endblock %}

{% set GENERAL_ENQUIRIES = CONTENT_STRINGS.GENERAL_ENQUIRIES %}
{% set APPLICATION_ENQUIRES = CONTENT_STRINGS.APPLICATION_ENQUIRES %}

{% block content %}

 {{ govukBackLink({
    text: CONTENT_STRINGS.LINKS.BACK,
    href: BACK_LINK,
    attributes: {
      "data-cy": DATA_CY.BACK_LINK
    }
  }) }}

  <h1 class="govuk-heading-l" data-cy="{{ DATA_CY.HEADING }}">{{ CONTENT_STRINGS.PAGE_TITLE }}</h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters-from-desktop">

      <p class="govuk-body" data-cy="intro">{{ CONTENT_STRINGS.INTRO }}</p>

      <p data-cy="general-enquiries-quote-reference-number">{{ CONTENT_STRINGS.QUOTE_REFERENCE_NUMBER }}</p>

      <h2 class="govuk-heading-m govuk-!-margin-top-9" data-cy="general-enquiries-heading">{{ GENERAL_ENQUIRIES.HEADING }}</h2>

      {% include "partials/contact-details.njk" %}

      <h2 class="govuk-heading-m govuk-!-margin-top-9" data-cy="application-enquiries-heading">{{ APPLICATION_ENQUIRES.HEADING }}</h2>

      <p class="govuk-body">
        <span data-cy="application-enquiries-email-prefix">{{ APPLICATION_ENQUIRES.CONTACT_DETAILS.UNDERWRITING_EMAIL.PREFIX }}: </span>

        <a class="govuk-link" href="{{ APPLICATION_ENQUIRES.CONTACT_DETAILS.UNDERWRITING_EMAIL.VALUE }}" data-cy="application-enquiries-email-link">{{ APPLICATION_ENQUIRES.CONTACT_DETAILS.UNDERWRITING_EMAIL.TEXT }}</a>
      </p>
    </div>
  </div>

{% endblock %}
