{% extends 'index.njk' %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% block pageTitle %}
  {{ CONTENT_STRINGS.PAGE_TITLE }}
{% endblock %}

{% block content %}

 {{ govukBackLink({
    text: CONTENT_STRINGS.LINKS.BACK,
    href: BACK_LINK,
    attributes: {
      "data-cy": "back-link"
    }
  }) }}

  <h1 class="govuk-heading-l" data-cy="heading">{{ CONTENT_STRINGS.PAGE_TITLE }}</h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters-from-desktop">

      <p data-cy="who-to-contact">{{ CONTENT_STRINGS.WHO_TO_CONTACT }}</p>

      <h2 class="govuk-heading-m govuk-!-margin-top-9" data-cy="heading-general-enquiries">{{ CONTENT_STRINGS.GENERAL_ENQUIRIES.HEADING }}</h2>
      <p data-cy="telephone-general-enquiries">{{ CONTENT_STRINGS.GENERAL_ENQUIRIES.TELEPHONE.PREFIX }} {{ CONTENT_STRINGS.GENERAL_ENQUIRIES.TELEPHONE.VALUE }}</p>
      <p data-cy="email-general-enquiries">{{ CONTENT_STRINGS.GENERAL_ENQUIRIES.EMAIL.PREFIX }} {{ CONTENT_STRINGS.GENERAL_ENQUIRIES.EMAIL.VALUE }}</p>
      <p data-cy="opening-hours">{{ CONTENT_STRINGS.GENERAL_ENQUIRIES.OPENING_TIMES }}</p>
      <a
        class="govuk-link"
        href="{{ CONTENT_STRINGS.GENERAL_ENQUIRIES.CALL_CHARGES.HREF }}"
        data-cy="call-charges"
      >{{ CONTENT_STRINGS.GENERAL_ENQUIRIES.CALL_CHARGES.TEXT }}
      </a>

      <h2 class="govuk-heading-m govuk-!-margin-top-9" data-cy="heading-application-enquiries">{{ CONTENT_STRINGS.APPLICATION_ENQUIRES.HEADING }}</h2>
      <p data-cy="email-application-enquiries">{{ CONTENT_STRINGS.APPLICATION_ENQUIRES.EMAIL.PREFIX }} {{ CONTENT_STRINGS.APPLICATION_ENQUIRES.EMAIL.VALUE }}</p>
      <p data-cy="quote-reference-number">{{ CONTENT_STRINGS.APPLICATION_ENQUIRES.QUOTE }}</p>
    </div>
  </div>

{% endblock %}
