{% extends 'index.njk' %}
{% from 'govuk/components/back-link/macro.njk' import govukBackLink %}
{% import './components/customer-service-helpline.njk' as customerServiceHelpline %}

{% block pageTitle %}
  {{ CONTENT_STRINGS.PAGE_TITLE }}
{% endblock %}

{% block content %}

 {{ govukBackLink({
    text: CONTENT_STRINGS.LINKS.BACK,
    href: BACK_LINK,
    attributes: {
      "data-cy": DATA_CY.BACK_LINK
    }
  }) }}

  <h1 class="govuk-heading-l" data-cy="{{ DATA_CY.HEADING }}">{{ CONTENT_STRINGS.PAGE_TITLE }}</h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters-from-desktop">

      <p data-cy="who-to-contact">{{ CONTENT_STRINGS.WHO_TO_CONTACT }}</p>

      <h2 class="govuk-heading-m govuk-!-margin-top-9" data-cy="customer-service-heading">{{ CONTENT_STRINGS.GENERAL_ENQUIRIES.HEADING }}</h2>

      {{ customerServiceHelpline.render({
        content: CONTENT_STRINGS.GENERAL_ENQUIRIES
      }) }}

      <h2 class="govuk-heading-m govuk-!-margin-top-9" data-cy="application-enquiries-heading">{{ CONTENT_STRINGS.APPLICATION_ENQUIRES.HEADING }}</h2>
      <p data-cy="application-enquiries-email">{{ CONTENT_STRINGS.APPLICATION_ENQUIRES.EMAIL.PREFIX }} {{ CONTENT_STRINGS.APPLICATION_ENQUIRES.EMAIL.VALUE }}</p>
      <p data-cy="application-enquiries-quote-reference-number">{{ CONTENT_STRINGS.APPLICATION_ENQUIRES.QUOTE }}</p>
    </div>
  </div>

{% endblock %}
