<!DOCTYPE html>
<html lang="en" class="govuk-template ">
  <head>
    <meta charset="utf-8"/>
    <title{% if pageTitleLang %} lang="{{ pageTitleLang }}"{% endif %}>
      {% block pageTitle %}{% endblock %} - {{ meta.ORGANISATION }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta name="theme-color" content="#0b0c0c"/>

    <link rel="icon" sizes="48x48" href="/assets/images/favicon.ico">
    <link rel="icon" sizes="any" href="/assets/images/favicon.svg" type="image/svg+xml">
    <link rel="mask-icon" href="/assets/images/govuk-icon-mask.svg" color="#0b0c0c">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/govuk-apple-touch-icon-180.png">
    <link rel="apple-touch-icon" sizes="192x192" href="/assets/images/govuk-apple-touch-icon-192.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/images/govuk-apple-touch-icon-152.png">

    <link rel="stylesheet" href="/assets/css/styles.css"/>

    <meta property="og:locale" content="en_GB"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="{{ meta.TITLE }}"/>
    <meta property="og:description" content="{{ meta.ORGANISATION }}"/>
    <meta property="og:url" content="{{ meta.URL }}"/>
    <meta property="og:image" content="/assets/images/govuk-opengraph-image.png">
    <meta property="og:image:width" content="512"/>
    <meta property="og:image:height" content="512"/>
  </head>

  <body class="govuk-template__body govuk-body">
    {% include "partials/skip-link.njk" %}

    {% include "partials/cookies-banner.njk" %}

    {% include "partials/header.njk" %}

    {% include "partials/phase-banner.njk" %}

    <div class="govuk-width-container">

      <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
        {% block content %}{% endblock %}
      </main>

    </div>

    {% include "partials/footer.njk" %}

    <script src="/assets/js/jsEnabled.js" type="text/javascript" integrity="{{ SRI.JS }}" crossorigin="anonymous"></script>
    <script src="/assets/js/govukFrontend.js" type="text/javascript" integrity="{{ SRI.GOVUK }}" crossorigin="anonymous"></script>
    <script src="/assets/js/formSubmission.js" type="text/javascript" integrity="{{ SRI.FORM }}" crossorigin="anonymous"></script>
    <script src="/assets/js/cookies.js" type="text/javascript" integrity="{{ SRI.COOKIES }}" crossorigin="anonymous"></script>

    {% if cookieConsent %}
      <script src="/assets/js/googleAnalytics.js" type="text/javascript" data-campaign-ga="{{ googleAnalyticsId }}" integrity="{{ SRI.GA }}" crossorigin="anonymous"></script>

      <script src="/assets/js/googleTagManager.js" type="text/javascript" data-campaign-gtm="{{ googleTagManagerId }}" integrity="{{ SRI.GA_TAG_MANAGER }}" crossorigin="anonymous"></script>

      <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id={{ googleTagManagerId }}" height="0" width="0" class="ukef-hide-iframe"></iframe>
      </noscript>
    {% endif %}

  </body>
</html>
