{% extends 'index.njk' %}

{% block pageTitle %}
  {{ CONTENT_STRINGS.PAGE_TITLE }}
{% endblock %}

{% block content %}

  <h1 class="govuk-heading-l" data-cy="heading">{{ CONTENT_STRINGS.PAGE_TITLE }}</h1>

  <p class="govuk-body" data-cy="typed-address">{{ CONTENT_STRINGS.TYPED_ADDRESS }}</p>
  <p class="govuk-body" data-cy="pasted-address">{{ CONTENT_STRINGS.PASTED_ADDRESS }}</p>

{% endblock %}
