{% extends 'index.njk' %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from 'govuk/components/error-summary/macro.njk' import govukErrorSummary %}
{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from 'govuk/components/button/macro.njk' import govukButton %}
{% import '../../components/submit-button.njk' as submitButton %}

{% block pageTitle %}
  {{ CONTENT_STRINGS.PAGE_TITLE }}
{% endblock %}

{% block content %}

  {{ govukBackLink({
    text: CONTENT_STRINGS.LINKS.BACK,
    href: BACK_LINK,
    attributes: {
      "data-cy": DATA_CY.BACK_LINK
    }
  }) }}

  {% if validationErrors.summary %}
    {{ govukErrorSummary({
      titleText: CONTENT_STRINGS.ERROR_MESSAGES.THERE_IS_A_PROBLEM,
      errorList: validationErrors.summary
    }) }}
  {% endif %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters-from-desktop">
      <div class="govuk-grid-column-three-quarters-from-desktop govuk-!-padding-right-0 govuk-!-padding-left-0">
        <span class="govuk-caption-l" data-cy="heading-caption">{{ CONTENT_STRINGS.HEADING_CAPTION }}</span>
        <h1 class="govuk-heading-l" data-cy="{{ DATA_CY.HEADING }}">{{ CONTENT_STRINGS.PAGE_TITLE }}</h1>
      </div>
    </div>
  </div>

  <form method="POST" data-cy="form" enctype="application/x-www-form-urlencoded" novalidate>

    <input type="hidden" name="_csrf" value="{{ csrfToken }}">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half-from-desktop">

        {% set descriptionHintHtml %}

        <p class="govuk-hint" data-cy="{{ FIELDS.DESCRIPTION.ID }}-hint-intro">{{ FIELDS.DESCRIPTION.HINT.INTRO }}</p>

        <ul class="govuk-list govuk-list--bullet">
          {% for item in FIELDS.DESCRIPTION.HINT.LIST %}
            <li class="govuk-hint" data-cy="{{ FIELDS.DESCRIPTION.ID }}-hint-list-item-{{ loop.index }}">{{ item }}</li>
          {% endfor %}
        </ul>
        {% endset %}

        {{ govukCharacterCount({
          name: FIELDS.DESCRIPTION.ID,
          id: FIELDS.DESCRIPTION.ID,
          label: {
            text: FIELDS.DESCRIPTION.LABEL,
            classes: "govuk-!-font-weight-bold govuk-!-font-size-24",
            attributes: {
              'data-cy': FIELDS.DESCRIPTION.ID + '-label',
              id: FIELDS.DESCRIPTION.ID + '-label'
            }
          },
          hint: {
            html: descriptionHintHtml
          },
          attributes: {
            'data-cy': FIELDS.DESCRIPTION.ID
          },
          maxlength: FIELDS.DESCRIPTION.MAXIMUM,
          value: submittedValues[FIELDS.DESCRIPTION.ID] or application.exportContract[FIELDS.DESCRIPTION.ID],
          errorMessage: validationErrors.errorList[FIELDS.DESCRIPTION.ID] and {
            text: validationErrors.errorList[FIELDS.DESCRIPTION.ID].text,
            attributes: {
              "data-cy": FIELDS.DESCRIPTION.ID + "-error-message"
            }
          }
        }) }}

        {{ govukSelect({
          id: FIELDS.FINAL_DESTINATION.ID,
          name: FIELDS.FINAL_DESTINATION.ID,
          label: {
            text: FIELDS.FINAL_DESTINATION.LABEL,
            classes: "govuk-!-font-weight-bold govuk-!-font-size-24",
            attributes: {
              'data-cy': FIELDS.FINAL_DESTINATION.ID + '-label',
              id: FIELDS.FINAL_DESTINATION.ID + '-label'
            }
          },
          items: countries,
          classes: "govuk-grid-column-one-quarter-from-desktop",
          attributes: {
            "data-cy": FIELDS.FINAL_DESTINATION.ID + "-input"
          },
          errorMessage: validationErrors.errorList[FIELDS.FINAL_DESTINATION.ID] and {
            text: validationErrors.errorList[FIELDS.FINAL_DESTINATION.ID].text,
            attributes: {
              "data-cy": FIELDS.FINAL_DESTINATION.ID + "-error-message"
            }
          }
        }) }}
      </div>
    </div>

    <div class="govuk-button-group">
      {{ submitButton.render({
        text: CONTENT_STRINGS.BUTTONS.CONTINUE
      }) }}

      {{ govukButton({
        text: CONTENT_STRINGS.BUTTONS.SAVE_AND_BACK,
        classes: "govuk-button--secondary",
        attributes: {
          formaction: SAVE_AND_BACK_URL,
          'data-cy': 'save-and-back-button'
        }
      }) }}
    </div>

  </form>

  <script src="/assets/js/accessibleAutocomplete.js" type="text/javascript" integrity="{{ SRI.ACCESSIBILITY }}" crossorigin="anonymous"></script>

{% endblock %}
