{% extends 'index.njk' %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from 'govuk/components/error-summary/macro.njk' import govukErrorSummary %}
{% from 'govuk/components/radios/macro.njk' import govukRadios %}
{% import '../../components/form-buttons.njk' as formButtons %}

{% block pageTitle %}
  {{ CONTENT_STRINGS.PAGE_TITLE }}
{% endblock %}

{% block content %}

  {{ govukBackLink({
    text: CONTENT_STRINGS.LINKS.BACK,
    href: BACK_LINK,
    attributes: {
      "data-cy": DATA_CY.BACK_LINK
    }
  }) }}

  {% if validationErrors.summary %}
    {{ govukErrorSummary({
      titleText: CONTENT_STRINGS.ERROR_MESSAGES.THERE_IS_A_PROBLEM,
      errorList: validationErrors.summary
    }) }}
  {% endif %}

  <form method="POST" data-cy="form" enctype="application/x-www-form-urlencoded" novalidate>

    <input type="hidden" name="_csrf" value="{{ csrfToken }}">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters-from-desktop">

        <span class="govuk-caption-xl" data-cy="heading-caption">{{ CONTENT_STRINGS.HEADING_CAPTION }}</span>

        <h1 class="govuk-heading-xl" data-cy="{{ DATA_CY.HEADING }}">{{ CONTENT_STRINGS.PAGE_TITLE }}</h1>

        {% set postcodeHtml %}
          <span class="govuk-!-font-weight-bold">{{ postcode }}</span>
        {% endset %}

        {% set searchAgainHtml %}
          <a class="govuk-link" data-cy="search-again-link" href="{{ SEARCH_AGAIN_URL }}">{{ INTRO.SEARCH_AGAIN }}</a>
        {% endset %}

        <p class="govuk-intro" data-cy="intro">
          {{ INTRO.ADDRESSES_FOUND }} {{ postcodeHtml | safe }} {{ INTRO.SEPARATOR }} {{ buildingNumberOrName }}. {{ searchAgainHtml | safe }}
        </p>

        {% set legendHtml %}
          <legend class="govuk-fieldset__legend govuk-!-font-weight-bold" data-cy="{{ FIELD.ID }}-label">{{ FIELD.LABEL }}</legend>
        {% endset %}

        {{ govukRadios({
          idPrefix: FIELD.ID,
          name: FIELD.ID,
          fieldset: {
            legend: {
              html: legendHtml
            }
          },
          items: mappedAddresses,
          errorMessage: validationErrors.errorList[FIELD.ID] and {
            text: validationErrors.errorList[FIELD.ID].text,
            attributes: {
              "data-cy": FIELD.ID + "-error-message"
            }
          }
        }) }}

      </div>
    </div>

    {{ formButtons.render({
      contentStrings: CONTENT_STRINGS.BUTTONS,
      saveAndBackUrl: SAVE_AND_BACK_URL
    }) }}

  </form>

{% endblock %}
