{% extends 'index.njk' %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from 'govuk/components/error-summary/macro.njk' import govukErrorSummary %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/hint/macro.njk" import govukHint %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% import '../../components/personal-details-input.njk' as personalDetailsInput %}
{% import '../../components/form-buttons.njk' as formButtons %}

{% block pageTitle %}
  {{ CONTENT_STRINGS.PAGE_TITLE }}
{% endblock %}

{% block content %}

  {{ govukBackLink({
    text: CONTENT_STRINGS.LINKS.BACK,
    href: BACK_LINK,
    attributes: {
      "data-cy": DATA_CY.BACK_LINK
    }
  }) }}

  {% if validationErrors.summary %}
    {{ govukErrorSummary({
      titleText: CONTENT_STRINGS.ERROR_MESSAGES.THERE_IS_A_PROBLEM,
      errorList: validationErrors.summary,
      attributes: {
        'data-cy': 'error-summary'
      }
    }) }}
  {% endif %}

  <div class="govuk-grid-row">
    <form method="POST" data-cy="form" enctype="application/x-www-form-urlencoded" novalidate>
      <input type="hidden" name="_csrf" value="{{ csrfToken }}">

      <div class="govuk-grid-column-three-quarters-from-desktop">
        <span class="govuk-caption-xl" data-cy="heading-caption">
          {{ CONTENT_STRINGS.HEADING_CAPTION }}
        </span>
        <h1 class="govuk-heading-xl" data-cy="{{ DATA_CY.HEADING }}">{{ CONTENT_STRINGS.PAGE_TITLE }}</h1>

        {{ govukHint({
          text: CONTENT_STRINGS.HINT,
          attributes: {
          "data-cy": FIELDS.POLICY_CONTACT_DETAIL.ID + "-hint"
          }
        }) }}
      </div>

      <div class="govuk-grid-column-three-quarters-from-desktop govuk-!-margin-top-5">
        {% call govukFieldset({
        }) %}

          {{ personalDetailsInput.render({
            class: "govuk-!-width-one-half",
            fieldId: FIELDS.FIRST_NAME.ID,
            label: FIELDS.FIRST_NAME.LABEL,
            labelClass: "govuk-label--s",
            validationErrors: validationErrors,
            submittedValues: submittedValues
          }) }}

          {{ personalDetailsInput.render({
            class: "govuk-!-width-one-half",
            fieldId: FIELDS.LAST_NAME.ID,
            label: FIELDS.LAST_NAME.LABEL,
            labelClass: "govuk-label--s",
            validationErrors: validationErrors,
            submittedValues: submittedValues
          }) }}

          {{ personalDetailsInput.render({
            class: "govuk-!-width-one-half",
            fieldId: FIELDS.EMAIL_ADDRESS.ID,
            label: FIELDS.EMAIL_ADDRESS.LABEL,
            labelClass: "govuk-label--s",
            validationErrors: validationErrors,
            submittedValues: submittedValues
          }) }}

          {{ personalDetailsInput.render({
            class: "govuk-!-width-one-half",
            fieldId: FIELDS.POSITION.ID,
            label: FIELDS.POSITION.LABEL,
            labelClass: "govuk-label--s",
            validationErrors: validationErrors,
            submittedValues: submittedValues
          }) }}
        {% endcall %}
      </div>

      {{ formButtons.render({
        contentStrings: CONTENT_STRINGS.BUTTONS,
        saveAndBackUrl: SAVE_AND_BACK_URL
      }) }}
    </form>
  </div>

{% endblock %}
