{% extends 'index.njk' %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
  {{ CONTENT_STRINGS.PAGE_TITLE }}
{% endblock %}

{% block content %}

  {{ govukBackLink({
    text: CONTENT_STRINGS.LINKS.BACK,
    href: BACK_LINK,
    attributes: {
      "data-cy": DATA_CY.BACK_LINK
    }
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters-from-desktop">
      <h1 class="govuk-heading-xl" data-cy="{{ DATA_CY.HEADING }}">{{ CONTENT_STRINGS.PAGE_TITLE }}</h1>

      <p class="govuk-body" data-cy="list-intro">{{ CONTENT_STRINGS.LIST.INTRO }}</p>

      <ul class="govuk-list govuk-list--bullet">
        {% for item in CONTENT_STRINGS.LIST.ITEMS %}
          <li data-cy="list-item-{{ loop.index }}">{{ item }}</li>
        {% endfor %}
      </ul>

      <p class="govuk-body" data-cy="outro">{{ CONTENT_STRINGS.OUTRO }}</p>

      <div class="govuk-button-group">
        <a class="govuk-button" data-cy="start-now-link" href="{{ START_NOW_URL }}">
          {{ CONTENT_STRINGS.BUTTONS.START_NOW }}
        </a>

        <a class="govuk-button govuk-button--secondary" data-cy="all-sections-link" href="{{ ALL_SECTIONS_URL }}">
          {{ CONTENT_STRINGS.BUTTONS.START_DIFFERENT_SECTION }}
        </a>
      </div>

    </div>
  </div>

{% endblock %}
