{% extends 'index.njk' %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from 'govuk/components/error-summary/macro.njk' import govukErrorSummary %}
{% from 'govuk/components/radios/macro.njk' import govukRadios %}
{% import '../../components/text-input.njk' as textInput %}
{% import '../../components/form-buttons.njk' as formButtons %}

{% block pageTitle %}
  {{ CONTENT_STRINGS.PAGE_TITLE }}
{% endblock %}

{% block content %}

  {{ govukBackLink({
    text: CONTENT_STRINGS.LINKS.BACK,
    href: BACK_LINK,
    attributes: {
      "data-cy": DATA_CY.BACK_LINK
    }
  }) }}

  {% if validationErrors.summary %}
    {{ govukErrorSummary({
      titleText: CONTENT_STRINGS.ERROR_MESSAGES.THERE_IS_A_PROBLEM,
      errorList: validationErrors.summary,
      attributes: {
        'data-cy': 'error-summary'
      }
    }) }}
  {% endif %}


  <form method="POST" data-cy="form" enctype="application/x-www-form-urlencoded" novalidate>

    <input type="hidden" name="_csrf" value="{{ csrfToken }}">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters-from-desktop">
        <span class="govuk-caption-xl" data-cy="heading-caption">{{ CONTENT_STRINGS.HEADING_CAPTION }}</span>

        <h1 class="govuk-heading-xl" data-cy="{{ DATA_CY.HEADING }}">{{ CONTENT_STRINGS.PAGE_TITLE }}</h1>
      </div>
    </div>


    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters-from-desktop">
        {{ textInput.render({
          id: FIELDS.NAME.ID,
          labelText: FIELDS.NAME.LABEL,
          labelClasses: "govuk-body govuk-!-font-weight-bold govuk-!-font-size-24",
          inputClasses: "govuk-input--width-20 govuk-!-margin-bottom-5",
          value: submittedValues[FIELDS.NAME.ID] or application.policy[FIELDS.NAME.ID],
          errorMessage: validationErrors.errorList[FIELDS.NAME.ID]
        }) }}
      </div>
    </div>

    {{ govukRadios({
      idPrefix: FIELDS.LOCATION.ID,
      name: FIELDS.LOCATION.ID,
      fieldset: {
        legend: {
          text: FIELDS.LOCATION.LABEL,
          classes: "govuk-body govuk-!-font-weight-bold govuk-!-font-size-24"
        }
      },
      errorMessage: validationErrors.errorList[FIELDS.LOCATION.ID] and {
        text: validationErrors.errorList[FIELDS.LOCATION.ID].text,
        attributes: {
          "data-cy": FIELDS.LOCATION.ID + "-error-message"
        }
      },
      classes: "govuk-radios--inline",
      items: [
        {
          label: {
            attributes: {
              id: FIELDS.LOCATION.ID + '-' + FIELDS.LOCATION.OPTIONS.UK.ID + '-label',
              'data-cy': FIELDS.LOCATION.ID + '-' + FIELDS.LOCATION.OPTIONS.UK.ID + '-label'
            }
          },
          value: FIELDS.LOCATION.OPTIONS.UK.VALUE,
          text: FIELDS.LOCATION.OPTIONS.UK.TEXT,
          checked: submittedValues[FIELDS.LOCATION.ID] === FIELDS.LOCATION.OPTIONS.UK.ID,
          attributes: {
            "data-cy": FIELDS.LOCATION.ID + '-' + FIELDS.LOCATION.OPTIONS.UK.ID + "-input"
          }
        },
        {
          label: {
            attributes: {
              id: FIELDS.LOCATION.OPTIONS.INTERNATIONALLY.ID  + '-label',
              'data-cy': FIELDS.LOCATION.ID + '-' + FIELDS.LOCATION.OPTIONS.INTERNATIONALLY.ID + '-label'
            }
          },
          value: FIELDS.LOCATION.OPTIONS.INTERNATIONALLY.VALUE,
          text: FIELDS.LOCATION.OPTIONS.INTERNATIONALLY.TEXT,
          checked: submittedValues[FIELDS.LOCATION.ID] === FIELDS.LOCATION.OPTIONS.INTERNATIONALLY.ID,
          attributes: {
            "data-cy": FIELDS.LOCATION.ID + '-' + FIELDS.LOCATION.OPTIONS.INTERNATIONALLY.ID + "-input"
          }
        }
      ]
    }) }}

    {{ formButtons.render({
      contentStrings: CONTENT_STRINGS.BUTTONS,
      saveAndBackUrl: SAVE_AND_BACK_URL
    }) }}

  </form>

{% endblock %}
