{% extends 'index.njk' %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from 'govuk/components/error-summary/macro.njk' import govukErrorSummary %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from 'govuk/components/button/macro.njk' import govukButton %}
{% import '../../components/date-input.njk' as dateInput %}
{% import '../../components/policy-currency-code-hint.njk' as policyCurrencyCodeHint %}
{% import '../../components/submit-button.njk' as submitButton %}

{% block pageTitle %}
  {{ CONTENT_STRINGS.PAGE_TITLE }}
{% endblock %}

{% block content %}

  {{ govukBackLink({
    text: CONTENT_STRINGS.LINKS.BACK,
    href: BACK_LINK,
    attributes: {
      "data-cy": DATA_CY.BACK_LINK
    }
  }) }}

  {% if validationErrors.summary %}
    {{ govukErrorSummary({
      titleText: CONTENT_STRINGS.ERROR_MESSAGES.THERE_IS_A_PROBLEM,
      errorList: validationErrors.summary
    }) }}
  {% endif %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <span class="govuk-caption-l" data-cy="heading-caption">{{ CONTENT_STRINGS.HEADING_CAPTION }}</span>
      <h1 class="govuk-heading-l" data-cy="{{ DATA_CY.HEADING }}">{{ CONTENT_STRINGS.PAGE_TITLE }}</h1>
    </div>
  </div>

  <form method="POST" id="form" novalidate>

    <input type="hidden" name="_csrf" value="{{ csrfToken }}">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters-from-desktop">

        {% set dayId = FIELDS.REQUESTED_START_DATE.ID + '-day' %}
        {% set monthId = FIELDS.REQUESTED_START_DATE.ID + '-month' %}
        {% set yearId = FIELDS.REQUESTED_START_DATE.ID + '-year' %}

        {{ dateInput.render({
          fieldId: FIELDS.REQUESTED_START_DATE.ID,
          label: FIELDS.REQUESTED_START_DATE.LABEL,
          hint: FIELDS.REQUESTED_START_DATE.HINT,
          error: validationErrors.errorList[FIELDS.REQUESTED_START_DATE.ID],
          submittedAnswers: submittedValues or application.policy
        }) }}

        {{ govukInput({
          label: {
            text: FIELDS.TOTAL_MONTHS_OF_COVER.LABEL,
            classes: "govuk-!-font-weight-bold govuk-!-font-size-24",
            attributes: {
              id: FIELDS.TOTAL_MONTHS_OF_COVER.ID + '-label',
              'data-cy': FIELDS.TOTAL_MONTHS_OF_COVER.ID + '-label'
            }
          },
          hint: {
            text: FIELDS.TOTAL_MONTHS_OF_COVER.HINT,
            attributes: {
              'data-cy': FIELDS.TOTAL_MONTHS_OF_COVER.ID + '-hint'
            }
          },
          classes: "govuk-input--width-4 govuk-!-margin-bottom-4",
          attributes: {
            'data-cy': FIELDS.TOTAL_MONTHS_OF_COVER.ID + '-input'
          },
          id: FIELDS.TOTAL_MONTHS_OF_COVER.ID,
          name: FIELDS.TOTAL_MONTHS_OF_COVER.ID,
          inputmode: "numeric",
          pattern: "[0-9]*",
          spellcheck: false,
          value: submittedValues[FIELDS.TOTAL_MONTHS_OF_COVER.ID] or application.policy[FIELDS.TOTAL_MONTHS_OF_COVER.ID],
          errorMessage: validationErrors.errorList[FIELDS.TOTAL_MONTHS_OF_COVER.ID] and {
            text: validationErrors.errorList[FIELDS.TOTAL_MONTHS_OF_COVER.ID].text,
            attributes: {
              "data-cy": FIELDS.TOTAL_MONTHS_OF_COVER.ID + "-error-message"
            }
          }
        }) }}

        {{ govukInput({
          label: {
            text: FIELDS.TOTAL_SALES_TO_BUYER.LABEL,
            classes: "govuk-!-font-weight-bold govuk-!-font-size-24",
            attributes: {
              id: FIELDS.TOTAL_SALES_TO_BUYER.ID + '-label',
              'data-cy': FIELDS.TOTAL_SALES_TO_BUYER.ID + '-label'
            }
          },
          hint: {
            text: FIELDS.TOTAL_SALES_TO_BUYER.HINT,
            attributes: {
              'data-cy': FIELDS.TOTAL_SALES_TO_BUYER.ID + '-hint'
            }
          },
          classes: "govuk-input--width-10 govuk-!-margin-bottom-4",
          attributes: {
            'data-cy': FIELDS.TOTAL_SALES_TO_BUYER.ID + '-input'
          },
          id: FIELDS.TOTAL_SALES_TO_BUYER.ID,
          name: FIELDS.TOTAL_SALES_TO_BUYER.ID,
          inputmode: "numeric",
          pattern: "[0-9]*",
          prefix: {
            text: "£",
            attributes: {
              'data-cy': FIELDS.TOTAL_SALES_TO_BUYER.ID + '-prefix'
            }
          },
          spellcheck: false,
          value: submittedValues[FIELDS.TOTAL_SALES_TO_BUYER.ID] or application.policy[FIELDS.TOTAL_SALES_TO_BUYER.ID],
          errorMessage: validationErrors.errorList[FIELDS.TOTAL_SALES_TO_BUYER.ID] and {
            text: validationErrors.errorList[FIELDS.TOTAL_SALES_TO_BUYER.ID].text,
            attributes: {
              "data-cy": FIELDS.TOTAL_SALES_TO_BUYER.ID + "-error-message"
            }
          }
        }) }}

        {% set maximumBuyerWillOweId = FIELDS.MAXIMUM_BUYER_WILL_OWE.ID %}
        {% set MAXIMUM_HINT = FIELDS.MAXIMUM_BUYER_WILL_OWE.HINT %}

        {% set maximumBuyerWillOweHintHtml %}
          <p data-cy="{{ maximumBuyerWillOweId }}-hint-for-example">{{ MAXIMUM_HINT.FOR_EXAMPLE }}</p>
          <p data-cy="{{ maximumBuyerWillOweId }}-hint-no-decimals">{{ MAXIMUM_HINT.NO_DECIMALS }}</p>
        {% endset %}

        {{ govukInput({
          label: {
            text: FIELDS.MAXIMUM_BUYER_WILL_OWE.LABEL,
            classes: "govuk-!-font-weight-bold govuk-!-font-size-24",
            attributes: {
              id: FIELDS.MAXIMUM_BUYER_WILL_OWE.ID + '-label',
              'data-cy': FIELDS.MAXIMUM_BUYER_WILL_OWE.ID + '-label'
            }
          },
          hint: {
            html: maximumBuyerWillOweHintHtml
          },
          classes: "govuk-input--width-10 govuk-!-margin-bottom-4",
          attributes: {
            'data-cy': FIELDS.MAXIMUM_BUYER_WILL_OWE.ID + '-input'
          },
          id: FIELDS.MAXIMUM_BUYER_WILL_OWE.ID,
          name: FIELDS.MAXIMUM_BUYER_WILL_OWE.ID,
          inputmode: "numeric",
          pattern: "[0-9]*",
          prefix: {
            text: "£",
            attributes: {
              'data-cy': FIELDS.MAXIMUM_BUYER_WILL_OWE.ID + '-prefix'
            }
          },
          spellcheck: false,
          value: submittedValues[FIELDS.MAXIMUM_BUYER_WILL_OWE.ID] or application.policy[FIELDS.MAXIMUM_BUYER_WILL_OWE.ID],
          errorMessage: validationErrors.errorList[FIELDS.MAXIMUM_BUYER_WILL_OWE.ID] and {
            text: validationErrors.errorList[FIELDS.MAXIMUM_BUYER_WILL_OWE.ID].text,
            attributes: {
              "data-cy": FIELDS.MAXIMUM_BUYER_WILL_OWE.ID + "-error-message"
            }
          }
        }) }}

        {% set currencyCodeHintHtml %}
          {{ policyCurrencyCodeHint.render({
            id: FIELDS.POLICY_CURRENCY_CODE.ID,
            hint: FIELDS.POLICY_CURRENCY_CODE.HINT
          }) }}
        {% endset %}

        {{ govukSelect({
          id: FIELDS.POLICY_CURRENCY_CODE.ID,
          name: FIELDS.POLICY_CURRENCY_CODE.ID,
          label: {
            text: FIELDS.POLICY_CURRENCY_CODE.LABEL,
            classes: "govuk-!-font-weight-bold govuk-!-font-size-24",
            attributes: {
              'data-cy': FIELDS.POLICY_CURRENCY_CODE.ID + '-label',
              id: FIELDS.POLICY_CURRENCY_CODE.ID + '-label'
            }
          },
          hint: {
            html: currencyCodeHintHtml
          },
          items: currencies,
          classes: "govuk-grid-column-one-quarter-from-desktop",
          attributes: {
            "data-cy": FIELDS.POLICY_CURRENCY_CODE.ID + "-input"
          },
          errorMessage: validationErrors.errorList[FIELDS.POLICY_CURRENCY_CODE.ID] and {
            text: validationErrors.errorList[FIELDS.POLICY_CURRENCY_CODE.ID].text,
            attributes: {
              "data-cy": FIELDS.POLICY_CURRENCY_CODE.ID + "-error-message"
            }
          }
        }) }}

      </div>
    </div>

    <div class="govuk-button-group">
      {{ submitButton.render({
        text: CONTENT_STRINGS.BUTTONS.CONTINUE
      }) }}

      {{ govukButton({
        text: CONTENT_STRINGS.BUTTONS.SAVE_AND_BACK,
        classes: "govuk-button--secondary",
        attributes: {
          formaction: SAVE_AND_BACK_URL,
          'data-cy': 'save-and-back-button'
        }
      }) }}
    </div>

  </form>

{% endblock %}
