{% extends 'index.njk' %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from 'govuk/components/error-summary/macro.njk' import govukErrorSummary %}
{% from "govuk/components/label/macro.njk" import govukLabel %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% import '../../components/accessible-autocomplete-select.njk' as accessibleAutoCompleteSelect %}
{% import '../../components/form-buttons.njk' as formButtons %}

{% block pageTitle %}
  {{ CONTENT_STRINGS.PAGE_TITLE }}
{% endblock %}

{% block content %}

  {{ govukBackLink({
    text: CONTENT_STRINGS.LINKS.BACK,
    href: BACK_LINK,
    attributes: {
      "data-cy": DATA_CY.BACK_LINK
    }
  }) }}

  {% if validationErrors.summary %}
    {{ govukErrorSummary({
      titleText: CONTENT_STRINGS.ERROR_MESSAGES.THERE_IS_A_PROBLEM,
      errorList: validationErrors.summary,
      attributes: {
        'data-cy': 'error-summary'
      }
    }) }}
  {% endif %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters-from-desktop">
      <span class="govuk-caption-xl" data-cy="heading-caption">{{ CONTENT_STRINGS.HEADING_CAPTION }}</span>

      <h1 class="govuk-heading-xl" data-cy="{{ DATA_CY.HEADING }}">{{ CONTENT_STRINGS.PAGE_TITLE }}</h1>
    </div>
  </div>

  <form method="POST" data-cy="form" enctype="application/x-www-form-urlencoded" novalidate>

    <input type="hidden" name="_csrf" value="{{ csrfToken }}">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters-from-desktop">

        {{ govukInput({
          label: {
            text: FIELDS.COMPANY_NAME.LABEL,
            classes: "govuk-!-font-weight-bold govuk-!-font-size-24",
            attributes: {
              id: FIELDS.COMPANY_NAME.ID + '-label',
              'data-cy': FIELDS.COMPANY_NAME.ID + '-label'
            }
          },
          hint: {
            text: FIELDS.COMPANY_NAME.HINT,
            attributes: {
              'data-cy': FIELDS.COMPANY_NAME.ID + '-hint'
            }
          },
          classes: "govuk-input--width-20",
          attributes: {
            'data-cy': FIELDS.COMPANY_NAME.ID + '-input'
          },
          id: FIELDS.COMPANY_NAME.ID,
          name: FIELDS.COMPANY_NAME.ID,
          value: submittedValues[FIELDS.COMPANY_NAME.ID] or application.policy.jointlyInsuredParty[FIELDS.COMPANY_NAME.ID],
          errorMessage: validationErrors.errorList[FIELDS.COMPANY_NAME.ID] and {
            text: validationErrors.errorList[FIELDS.COMPANY_NAME.ID].text,
            attributes: {
              "data-cy": FIELDS.COMPANY_NAME.ID + "-error-message"
            }
          }
        }) }}

        <div class="govuk-form-group">
          {{ govukLabel({
            for: FIELDS.COUNTRY.ID,
            classes: "govuk-!-font-weight-bold govuk-!-font-size-24",
            text: FIELDS.COUNTRY.LABEL,
            attributes: {
              id: FIELDS.COUNTRY.ID + "-label",
              "data-cy": FIELDS.COUNTRY.ID + "-label"
            }
          }) }}

          <div class="govuk-input--width-20">
            {{ accessibleAutoCompleteSelect.render({
              errorMessage: validationErrors.errorList[FIELDS.COUNTRY.ID].text,
              fieldId: FIELDS.COUNTRY.ID,
              integrity: SRI.ACCESSIBILITY,
              options: countries
            }) }}
          </div>
        </div>

        {{ govukInput({
          label: {
            text: FIELDS.COMPANY_NUMBER.LABEL,
            classes: "govuk-!-font-weight-bold govuk-!-font-size-24",
            attributes: {
              id: FIELDS.COMPANY_NUMBER.ID + '-label',
              'data-cy': FIELDS.COMPANY_NUMBER.ID + '-label'
            }
          },
          hint: {
            text: FIELDS.COMPANY_NUMBER.HINT,
            attributes: {
              'data-cy': FIELDS.COMPANY_NUMBER.ID + '-hint'
            }
          },
          classes: "govuk-input--width-20",
          attributes: {
            'data-cy': FIELDS.COMPANY_NUMBER.ID + '-input'
          },
          id: FIELDS.COMPANY_NUMBER.ID,
          name: FIELDS.COMPANY_NUMBER.ID,
          value: submittedValues[FIELDS.COMPANY_NUMBER.ID] or application.policy.jointlyInsuredParty[FIELDS.COMPANY_NUMBER.ID],
          errorMessage: validationErrors.errorList[FIELDS.COMPANY_NUMBER.ID] and {
            text: validationErrors.errorList[FIELDS.COMPANY_NUMBER.ID].text,
            attributes: {
              "data-cy": FIELDS.COMPANY_NUMBER.ID + "-error-message"
            }
          }
        }) }}

      </div>
    </div>

    {{ formButtons.render({
      contentStrings: CONTENT_STRINGS.BUTTONS,
      saveAndBackUrl: SAVE_AND_BACK_URL
    }) }}

  </form>

{% endblock %}
