{% extends 'index.njk' %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from 'govuk/components/error-summary/macro.njk' import govukErrorSummary %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% import '../../components/monetary-value-input.njk' as monetaryValueInput %}
{% import '../../components/fieldset-legend.njk' as fieldsetLegend %}
{% import '../../components/form-buttons.njk' as formButtons %}

{% block pageTitle %}
  {{ CONTENT_STRINGS.PAGE_TITLE }}
{% endblock %}

{% block content %}

  {{ govukBackLink({
    text: CONTENT_STRINGS.LINKS.BACK,
    href: BACK_LINK,
    attributes: {
      "data-cy": DATA_CY.BACK_LINK
    }
  }) }}

  {% if validationErrors.summary %}
    {{ govukErrorSummary({
      titleText: CONTENT_STRINGS.ERROR_MESSAGES.THERE_IS_A_PROBLEM,
      errorList: validationErrors.summary
    }) }}
  {% endif %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters-from-desktop">
      <span class="govuk-caption-l" data-cy="{{ DATA_CY.HEADING_CAPTION }}">{{ CONTENT_STRINGS.HEADING_CAPTION }}</span>

      <h1 class="govuk-heading-xl" data-cy="{{ DATA_CY.HEADING }}">{{ CONTENT_STRINGS.PAGE_TITLE }}</h1>
    </div>
  </div>

  <form method="POST" data-cy="form" enctype="application/x-www-form-urlencoded" novalidate>

    <input type="hidden" name="_csrf" value="{{ csrfToken }}">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters-from-desktop">

        {{ monetaryValueInput.render({
          fieldId: FIELDS.TOTAL_CONTRACT_VALUE.ID,
          label: FIELDS.TOTAL_CONTRACT_VALUE.LABEL,
          hintText: FIELDS.TOTAL_CONTRACT_VALUE.HINT,
          currencyPrefixSymbol: CURRENCY_PREFIX_SYMBOL,
          submittedValue: submittedValues[FIELDS.TOTAL_CONTRACT_VALUE.ID] or application.policy[FIELDS.TOTAL_CONTRACT_VALUE.ID],
          validationError: validationErrors.errorList[FIELDS.TOTAL_CONTRACT_VALUE.ID]
        }) }}

        {% set hintHtml %}
          <p class="govuk-hint" data-cy="{{ FIELDS.REQUESTED_CREDIT_LIMIT.ID }}-hint-intro">{{ FIELDS.REQUESTED_CREDIT_LIMIT.HINT.INTRO }}</p>
          <p class="govuk-hint" data-cy="{{ FIELDS.REQUESTED_CREDIT_LIMIT.ID }}-hint-outro">{{ FIELDS.REQUESTED_CREDIT_LIMIT.HINT.OUTRO }}</p>  
        {% endset %}

        {{ monetaryValueInput.render({
          fieldId: FIELDS.REQUESTED_CREDIT_LIMIT.ID,
          label: FIELDS.REQUESTED_CREDIT_LIMIT.LABEL,
          hintHtml: hintHtml,
          currencyPrefixSymbol: CURRENCY_PREFIX_SYMBOL,
          submittedValue: submittedValues[FIELDS.REQUESTED_CREDIT_LIMIT.ID] or application.policy[FIELDS.REQUESTED_CREDIT_LIMIT.ID],
          validationError: validationErrors.errorList[FIELDS.REQUESTED_CREDIT_LIMIT.ID]
        }) }}

      </div>
    </div>

    {{ formButtons.render({
      contentStrings: CONTENT_STRINGS.BUTTONS,
      saveAndBackUrl: SAVE_AND_BACK_URL
    }) }}

  </form>

{% endblock %}
