{% extends 'index.njk' %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from 'govuk/components/error-summary/macro.njk' import govukErrorSummary %}
{% import '../../components/date-input.njk' as dateInput %}
{% import '../../components/currency-radio-inputs.njk' as currencyRadios %}
{% import '../../components/form-buttons.njk' as formButtons %}

{% block pageTitle %}
  {{ CONTENT_STRINGS.PAGE_TITLE }}
{% endblock %}

{% block content %}

  {{ govukBackLink({
    text: CONTENT_STRINGS.LINKS.BACK,
    href: BACK_LINK,
    attributes: {
      "data-cy": DATA_CY.BACK_LINK
    }
  }) }}

  {% if validationErrors.summary %}
    {{ govukErrorSummary({
      titleText: CONTENT_STRINGS.ERROR_MESSAGES.THERE_IS_A_PROBLEM,
      errorList: validationErrors.summary
    }) }}
  {% endif %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters-from-desktop">
      <div class="govuk-grid-column-three-quarters-from-desktop govuk-!-padding-right-0 govuk-!-padding-left-0">
        <span class="govuk-caption-l" data-cy="heading-caption">{{ CONTENT_STRINGS.HEADING_CAPTION }}</span>
        <h1 class="govuk-heading-l" data-cy="{{ DATA_CY.HEADING }}">{{ CONTENT_STRINGS.PAGE_TITLE }}</h1>
      </div>
    </div>
  </div>

  <form method="POST" data-cy="form" enctype="application/x-www-form-urlencoded" novalidate>

    <input type="hidden" name="_csrf" value="{{ csrfToken }}">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters-from-desktop">

        {% set dayId = FIELDS.REQUESTED_START_DATE.ID + '-day' %}
        {% set monthId = FIELDS.REQUESTED_START_DATE.ID + '-month' %}
        {% set yearId = FIELDS.REQUESTED_START_DATE.ID + '-year' %}

        {{ dateInput.render({
          fieldId: FIELDS.REQUESTED_START_DATE.ID,
          label: FIELDS.REQUESTED_START_DATE.LABEL,
          hint: FIELDS.REQUESTED_START_DATE.HINT,
          error: validationErrors.errorList[FIELDS.REQUESTED_START_DATE.ID],
          submittedAnswers: submittedValues or application.policy
        }) }}

        {{ dateInput.render({
          fieldId: FIELDS.CONTRACT_COMPLETION_DATE.ID,
          label: FIELDS.CONTRACT_COMPLETION_DATE.LABEL,
          hint: FIELDS.CONTRACT_COMPLETION_DATE.HINT,
          error: validationErrors.errorList[FIELDS.CONTRACT_COMPLETION_DATE.ID],
          submittedAnswers: submittedValues or application.policy
        }) }}

        {{ currencyRadios.render({
          id: FIELDS.POLICY_CURRENCY_CODE.ID,
          legend: FIELDS.POLICY_CURRENCY_CODE.LEGEND,
          hint: FIELDS.POLICY_CURRENCY_CODE.HINT,
          supportedCurrencies: currencies,
          alternativeCurrencies: alternativeCurrencies,
          errors: validationErrors.errorList,
          submittedValue: submittedValues[FIELDS.POLICY_CURRENCY_CODE.ID] or application.policy[FIELDS.POLICY_CURRENCY_CODE.ID],
          alternativeCurrencyFieldId: FIELDS.ALTERNATIVE_CURRENCY_CODE.ID
        }) }}

      </div>
    </div>

    {{ formButtons.render({
      contentStrings: CONTENT_STRINGS.BUTTONS,
      saveAndBackUrl: SAVE_AND_BACK_URL
    }) }}

  </form>

{% endblock %}
