<p data-cy="{{FIELDS.DETAILS.ID}}-line-1">{{ CONTENT_STRINGS.LINE_1 }}</p>

<p data-cy="{{FIELDS.DETAILS.ID}}-line-2">
  {{ CONTENT_STRINGS.LINE_2 }} <a class="govuk-link" href="{{CONTENT_STRINGS.LINKS.EXTERNAL.APPROVED_BROKER_LIST}}" data-cy="{{FIELDS.DETAILS.ID}}-link">{{CONTENT_STRINGS.LINK_TEXT}}</a>
</p>

<p data-cy="{{FIELDS.DETAILS.ID}}-line-3">{{ CONTENT_STRINGS.LINE_3 }}</p>

<p data-cy="{{FIELDS.DETAILS.ID}}-line-4">{{ CONTENT_STRINGS.LINE_4 }}</p>


