<p data-cy="{{FIELDS.DETAILS.ID}}-line-1">{{ FIELDS.DETAILS.LINE_1 }}</p>

<p data-cy="{{FIELDS.DETAILS.ID}}-line-2">
  {{ FIELDS.DETAILS.LINE_2 }} <a class="govuk-link" href="{{FIELDS.DETAILS.LINK}}" data-cy="{{FIELDS.DETAILS.ID}}-link">UKEF's list of approved brokers.</a>
</p>

<p data-cy="{{FIELDS.DETAILS.ID}}-line-3">{{ FIELDS.DETAILS.LINE_3 }}</p>

<p data-cy="{{FIELDS.DETAILS.ID}}-line-4">{{ FIELDS.DETAILS.LINE_4 }}</p>


