{% from "govuk/components/header/macro.njk" import govukHeader %}

{{ govukHeader({
  homepageUrl: "https://www.gov.uk",
  serviceName: CONTENT_STRINGS.PRODUCT.DESCRIPTION,
  serviceUrl: "/",
  attributes: {
    "data-cy": "header"
  }
}) }}
