{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{% set bannerHtml %}
  <span data-cy="phase-banner-text">This is a new service - your <a class="govuk-link" href="{{FEEDBACK}}" data-cy="phase-banner-feedback-link">feedback</a> will help us to improve it.</span>
{% endset %}

<div class="govuk-width-container" role="complementary">
  {{ govukPhaseBanner({
    tag: {
      text: "alpha"
    },
    attributes: {
      "data-cy": "phase-banner"
    },
    html: bannerHtml
  }) }}
</div>
