{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{% set bannerHtml %}
  <span data-cy="phase-banner-text">{{ CONTENT_STRINGS.PHASE_BANNER.PREFIX }} <a class="govuk-link" href="{{ FEEDBACK_ROUTE }}" data-cy="phase-banner-feedback-link">{{ CONTENT_STRINGS.PHASE_BANNER.LINK_TEXT }}</a> {{CONTENT_STRINGS.PHASE_BANNER.SUFFIX}}</span>
{% endset %}

<div class="govuk-width-container" role="complementary">
  {{ govukPhaseBanner({
    tag: {
      text: "Alpha"
    },
    attributes: {
      "data-cy": "phase-banner"
    },
    html: bannerHtml
  }) }}
</div>
