{% extends 'index.njk' %}
{% from 'govuk/components/button/macro.njk' import govukButton %}

{% block pageTitle %}
  {{ CONTENT_STRINGS.PAGE_TITLE }}
{% endblock %}

{% block content %}

  <h1 class="govuk-heading-xl" data-cy="heading">{{ CONTENT_STRINGS.PAGE_TITLE }}</h1>

  <p>yo: {{ accountEmail }}</p>

      
{% endblock %}
