{% extends 'index.njk' %}
{% from 'govuk/components/button/macro.njk' import govukButton %}

{% block pageTitle %}
  {{ CONTENT_STRINGS.PAGE_TITLE }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl" data-cy="heading">{{ CONTENT_STRINGS.PAGE_TITLE }}</h1>

      <p class="govuk-body" data-cy="body">{{ CONTENT_STRINGS.BODY }}</p>

      <form method="POST" id="form" novalidate>

        <input type="hidden" name="_csrf" value="{{ csrfToken }}">

        <div class="govuk-button-group">
          {{ govukButton({
            text: CONTENT_STRINGS.BUTTONS.REACTIVATE_ACCOUNT,
            attributes: {
              'data-cy': 'submit-button',
              id: 'submit-button'
            }
          }) }}
        </div>

      </form>
        
    </div>
  </div>

{% endblock %}
