{% from "govuk/components/error-message/macro.njk" import govukErrorMessage %}

{% macro render(params) %}

  {% set errorMessage = params.errorMessage %}
  {% set fieldId = params.fieldId %}
  {% set integrity = params.integrity %}
  {% set options = params.options %}

  {% if errorMessage %}
    {{ govukErrorMessage({
      text: errorMessage,
      attributes: {
        "data-cy": fieldId + "-error-message"
      }
    }) }}
  {% endif %}

  <select class="govuk-select" id="{{ fieldId }}" name="{{ fieldId }}">
    <option value="" disabled selected></option>

    {% for option in options %}
      {% if option.selected %}
        <option value="{{ option.value }}" selected>{{ option.text }}</option>
      {% else %}
        <option value="{{ option.value }}">{{ option.text }}</option>
      {% endif %}
    {% endfor %}
  </select>

  <script src="/assets/js/accessibleAutocomplete.js" type="module" integrity="{{ integrity }}" crossorigin="anonymous"></script>

{% endmacro %}
