{% from 'govuk/components/button/macro.njk' import govukButton %}

{% macro render(params) %}

  {% set fieldId = params.fieldId %}
  {% set options = params.options %}
  {% set integrity = params.integrity %}

  <select class="govuk-select" id="{{ fieldId }}" name="{{ fieldId }}">
    <option value="" disabled selected></option>

    {% for option in options %}
      {% if option.selected %}
        <option value="{{ option.value }}" selected>{{ option.text }}</option>
      {% else %}
        <option value="{{ option.value }}">{{ option.text }}</option>
      {% endif %}
    {% endfor %}
  </select>

  <script src="/assets/js/accessibleAutocomplete.js" type="module" integrity="{{ integrity }}" crossorigin="anonymous"></script>

{% endmacro %}
