{% from "govuk/components/input/macro.njk" import govukInput %}

{% macro render(params) %}

  {% set ID = params.ID %}
  {% set LABEL = params.LABEL %}
  {% set application = params.application %}
  {% set validationErrors = params.validationErrors %}
  {% set submittedValues = params.submittedValues %}

  {{ govukInput({
    id: ID,
    name: ID,
    value: submittedValues[ID] or application[ID],
    label: {
      text: LABEL,
      classes: "govuk-body govuk-!-font-weight-bold",
      attributes: {
        "data-cy": ID + "-label"
      }
    },
    classes: "govuk-input--width-20",
    attributes: {
      "data-cy": ID
    },
    errorMessage: validationErrors.errorList[ID] and {
      text: validationErrors.errorList[ID].text,
      attributes: {
        "data-cy": ID + "-error"
      }
    }
  }) }}

{% endmacro %}
