{% import './text-input.njk' as textInput %}

{% macro render(params) %}

  {% set id = params.id %}
  {% set label = params.label %}
  {% set application = params.application %}
  {% set validationErrors = params.validationErrors %}
  {% set submittedValues = params.submittedValues %}

  {{ textInput.render({
    id: id,
    labelText: label,
    labelClasses: "govuk-body govuk-!-font-weight-bold",
    inputClasses: "govuk-input--width-20",
    value: submittedValues[id] or application[id],
    errorMessage: validationErrors.errorList[id]
  }) }}

{% endmacro %}
