{% macro render(params) %}

  {% set ID = params.id %}
  {% set HINT = params.hint %}

  <p data-cy="{{ ID }}-hint-intro">{{ HINT.INTRO }}</p>

  <ul class="govuk-list govuk-list--bullet">
    {% for ITEM in HINT.LIST %}
      <li class="govuk-hint" data-cy="{{ ID }}-hint-list-item-{{ loop.index }}">{{ ITEM }}</li>
    {% endfor %}
  </ul>
  
{% endmacro %}
