{% macro render(params) %}
  {% set content = params.content %}

  <p data-cy="customer-service-telephone">{{ content.TELEPHONE.PREFIX }} {{ content.TELEPHONE.VALUE }}</p>
  <p data-cy="customer-service-email">{{ content.EMAIL.PREFIX }} {{ content.EMAIL.VALUE }}</p>
  <p data-cy="customer-service-opening-hours">{{ content.OPENING_TIMES }}</p>

  <a
    class="govuk-link"
    href="{{ content.CALL_CHARGES.HREF }}"
    data-cy="customer-service-call-charges"
  >{{ content.CALL_CHARGES.TEXT }}
  </a>

{% endmacro %}
