{% macro render(params) %}

  {% set id = params.id %}
  {% set legendText = params.legendText %}
  {% set isPageHeading = params.isPageHeading %}

  {% if isPageHeading %}
    <legend class="govuk-fieldset__legend">
      <h1 data-cy="heading" class="govuk-heading-l" id="heading">{{ legendText }}</h1>
    </legend>

    {% else %}
    <legend class="govuk-label--m" id="{{ id }}-legend" data-cy="{{ id }}-legend">{{ legendText }}</legend>
  {% endif %}

{% endmacro %}
