{% macro render(params) %}

  {% set id = params.id %}
  {% set legendText = params.legendText %}

  <legend class=govuk-label--m id="{{ id }}-heading" data-cy="{{ id }}-heading">{{ legendText }}</legend>

{% endmacro %}