{% from "govuk/components/input/macro.njk" import govukInput %}

{% macro render(params) %}

  {% set fieldId = params.fieldId %}
  {% set label = params.label %}
  {% set hintText = params.hintText %}
  {% set hintHtml = params.hintHtml %}
  {% set currencyPrefixSymbol = params.currencyPrefixSymbol %}
  {% set submittedValue = params.submittedValue %}
  {% set validationError = params.validationError %}

 {# 
  Default the prefix to be empty.
  If there is no currencyPrefixSymbol provided,
  The currency is a non-standard supported currency.
  Therefore, we do not want to display currency prefix.
  Otherwise, generate a prefix object as per govukInput structure.
 #}
  {% set prefix = {} %}

  {% if currencyPrefixSymbol %}
    {% set prefix = {
      text: currencyPrefixSymbol,
      attributes: {
        'data-cy': fieldId + '-prefix'
      }
    } %}
  {% endif %}

  {{ govukInput({
    label: {
      text: label,
      classes: "govuk-!-font-weight-bold govuk-!-font-size-24",
      attributes: {
        id: fieldId + '-label',
        'data-cy': fieldId + '-label'
      }
    },
    hint: {
      text: hintText,
      html: hintHtml,
      attributes: {
        'data-cy': fieldId + '-hint'
      }
    },
    classes: "govuk-input--width-10 govuk-!-margin-bottom-4",
    attributes: {
      'data-cy': fieldId + '-input'
    },
    id: fieldId,
    name: fieldId,
    inputmode: "numeric",
    pattern: "[0-9]*",
    prefix: prefix,
    spellcheck: false,
    value: submittedValue,
    errorMessage: validationError and {
      text: validationError.text,
      attributes: {
        "data-cy": fieldId + "-error-message"
      }
    }
  }) }}
  

{% endmacro %}
