{% import './text-input.njk' as textInput %}

{% macro render(params) %}

  {% set fieldId = params.fieldId %}
  {% set label = params.label %}
  {% set hintText = params.hintText %}
  {% set hintHtml = params.hintHtml %}
  {% set currencyPrefixSymbol = params.currencyPrefixSymbol %}
  {% set submittedValue = params.submittedValue %}
  {% set validationError = params.validationError %}
  {% set legendClass = params.legendClass %}

 {#
  Default the prefix to be empty.
  If there is no currencyPrefixSymbol provided,
  The currency is a non-standard supported currency.
  Therefore, we do not want to display currency prefix.
  Otherwise, generate a prefix object as per govukInput structure.
 #}
  {% set prefix = {} %}

  {% if currencyPrefixSymbol %}
    {% set prefix = {
      text: currencyPrefixSymbol,
      attributes: {
        'data-cy': fieldId + '-prefix'
      }
    } %}
  {% endif %}

  {% if legendClass %}
    {% set labelClass = legendClass %}
  {% else %}
    {% set labelClass = "govuk-!-font-weight-bold govuk-!-font-size-24" %}
  {% endif %}

  {{ textInput.render({
    id: fieldId,
    labelText: label,
    labelClasses: labelClass,
    inputClasses: "govuk-input--width-10 govuk-!-margin-bottom-4",
    hintText: hintText,
    hintHtml: hintHtml,
    prefixText: currencyPrefixSymbol,
    inputmode: "numeric",
    pattern: "[0-9]*",
    spellcheck: false,
    value: submittedValue,
    errorMessage: validationError
  }) }}

{% endmacro %}
