{% from "govuk/components/input/macro.njk" import govukInput %}

{% macro render(params) %}

  {% set class = params.class %}
  {% set fieldId = params.fieldId %}
  {% set label = params.label %}
  {% set labelClass = params.labelClass %}
  {% set hint = params.hint %}
  {% set submittedValues = params.submittedValues %}
  {% set validationErrors = params.validationErrors %}

  {{ govukInput({
    id: fieldId,
    name: fieldId,
    value: submittedValues[fieldId],
    label: {
      text: label,
      classes: labelClass,
      attributes: {
        "data-cy": fieldId + "-label"
      }
    },
    hint: {
      text: hint,
      attributes: {
        'data-cy': fieldId + '-hint'
      }
    },
    classes: class,
    attributes: {
      "data-cy": fieldId + '-input'
    },
    errorMessage: validationErrors.errorList[fieldId] and {
      text: validationErrors.errorList[fieldId].text,
      attributes: {
        "data-cy": fieldId + "-error-message"
      }
    }
  }) }}

{% endmacro %}
