{% from "govuk/components/tag/macro.njk" import govukTag %}

{% macro render(params) %}

  {% set ID = params.id %}
  {% set HINT = params.hint %}

  <p>
    <span data-cy="{{ ID }}-hint-usually-issues">{{ HINT.USUALLY_ISSUES }}</span>
    <span data-cy="{{ ID }}-hint-different-currency">{{ HINT.NEED_DIFFERENT_CURRENCY }}</span>
    <a
      class="govuk-link"
      href="{{ HINT.APPLY_USING_FORM.HREF }}"
      data-cy="{{ ID }}-hint-link"
    >{{ HINT.APPLY_USING_FORM.TEXT }}</a>
  </p>
  
{% endmacro %}
