{% from 'govuk/components/button/macro.njk' import govukButton %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% import './yes-no-radio-buttons.njk' as yesNoRadioButtons %}
{% import '../components/submit-button.njk' as submitButton %}

{% macro render(params) %}

  {% set application = params.application %}
  {% set conditionalNo = params.conditionalNo %}
  {% set conditionalYes = params.conditionalYes %}
  {% set CONTENT_STRINGS = params.CONTENT_STRINGS %}
  {% set continueButtonText = params.continueButtonText %}
  {% set customContentHTML = params.customContentHTML %}
  {% set errorMessage = params.errorMessage %}
  {% set fieldId = params.fieldId %}
  {% set FIELDS = params.FIELDS %}
  {% set legendText = params.legendText %}
  {% set hasHintHtml = params.hasHintHtml %}
  {% set hintText = params.hintText %}
  {% set horizontalRadios = params.horizontalRadios %}
  {% set legendClass = params.legendClass %}
  {% set legendText = params.legendText %}
  {% set saveAndBackButtonText = params.saveAndBackButtonText %}
  {% set saveAndBackUrl = params.saveAndBackUrl %}
  {% set submittedAnswer = params.submittedAnswer %}
  {% set submittedValues = params.submittedValues %}
  {% set validationErrors = params.validationErrors %}

  {% if conditionalYes %}
    {% set conditionalYesHtml %}
      {% include conditionalYes %}
    {% endset %}
  {% endif %}

  {% if conditionalNo %}
    {% set conditionalNoHtml %}
      {% include conditionalNo %}
    {% endset %}
  {% endif %}

  {% if hasHintHtml %}
    {% set hintHtml %}
      {% include hasHintHtml %}
    {% endset %}
  {% endif %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters-from-desktop">
      {{ yesNoRadioButtons.render({
        fieldId: fieldId,
        legendText: legendText,
        legendClass: legendClass,
        hintText: hintText,
        hintHtml: hintHtml,
        submittedAnswer: submittedAnswer,
        errorMessage: errorMessage,
        horizontalRadios: horizontalRadios,
        conditionalYesHtml: conditionalYesHtml,
        conditionalNoHtml: conditionalNoHtml
      }) }}
    </div>
  </div>

  {% if customContentHTML %}
    {% include customContentHTML %}
  {% endif %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters-from-desktop">
      <div class="govuk-button-group">
        {{ submitButton.render({
          text: continueButtonText
        }) }}

        {% if saveAndBackUrl %}
          {{ govukButton({
            text: saveAndBackButtonText,
            classes: "govuk-button--secondary",
            attributes: {
              'data-cy': 'save-and-back-button',
              'formaction': saveAndBackUrl
            }
          }) }}
        {% endif %}
      </div>
    </div>
  </div>

{% endmacro %}