{% from "govuk/components/tag/macro.njk" import govukTag %}

{% macro render(params) %}

  {% set dataCy = params.dataCy %}
  {% set status = params.status %}
  {% set tagClasses = params.tagClasses %}
 
  {% set classes %}
  {% endset %}

  {% if status === "Cannot start yet" or status === "Not started yet" %}
    {% set classes = tagClasses.GREY %}
  {% endif %}

  {% if status === "In progress" %}
    {% set classes = tagClasses.BLUE %}
  {% endif %}

  {% if status === "Completed" %}
    {% set classes = tagClasses.TURQUOISE %}
  {% endif %}

  {% if status === "Completed" %}
    {% set classes = "govuk-tag--green" %}
  {% endif %}

  {% if status === "Submitted to UKEF" %}
    {% set classes = tagClasses.GREEN %}
  {% endif %}

  {{ govukTag({
    text: status,
    classes: classes,
    attributes: {
      "data-cy": dataCy
    }
  }) }}

{% endmacro %}
