{% import '../components/status-tag.njk' as statusTag %}

{% macro render(params) %}

  {% set row = params.row %}
 
  <div class="govuk-summary-list__row">

    <dt class="ukef-task-list--key-cell">
      <p class="govuk-body govuk-!-margin-bottom-0">
        {% if row.href %}
          <a class="govuk-link govuk-link--no-visited-state" href="{{ row.href }}">
            {{ row.title }}
          </a>

          {% else %}
            {{ row.title }}
        {% endif %}
      </p>
    </dt>

    <dd class="govuk-summary-list__actions">
      {{ statusTag.render({
        status: row.status,
        href: row.href
      }) }}
    </dd>
  </div>

{% endmacro %}
