{% import '../components/task-list-row.njk' as taskListRow %}

{% macro render(params) %}

  {% set groups = params.groups %}

  {% for group in groups %}

    {% set headingClass = "govuk-heading-m" %}
    {% set hintClass = "govuk-hint" %}

    {% if group.hint %}
      {% set headingClass = headingClass + " govuk-!-margin-bottom-0" %}
      {% set hintClass = hintClass + " govuk-!-margin-top-0" %}
    {% endif %}
    
    <h2 class="{{ headingClass }}" data-cy="task-list-group-heading-{{ group.title }}">{{ loop.index }}. {{ group.title }}</h2>
    <p class="{{ hintClass }}" data-cy="task-list-group-hint-{{ group.hint }}">{{ group.hint }}</p>

    <dl class="govuk-summary-list ukef-task-list">
      {% for task in group.tasks %}

        {{ taskListRow.render({
          task: task,
          groupTitle: group.title
        }) }}

      {% endfor %}
    </dl>

  {% endfor %}

{% endmacro %}
