{% extends 'index.njk' %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from 'govuk/components/error-summary/macro.njk' import govukErrorSummary %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from 'govuk/components/button/macro.njk' import govukButton %}
{% import '../components/yes-no-radio-buttons.njk' as yesNoRadioButtons %}

{% block pageTitle %}
  {{ CONTENT_STRINGS.PAGE_TITLE }}
{% endblock %}

{% block content %}

  {{ govukBackLink({
    text: CONTENT_STRINGS.LINKS.BACK,
    href: BACK_LINK,
    attributes: {
      "data-cy": "back-link"
    }
  }) }}

  {% if validationErrors.summary %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: validationErrors.summary
    }) }}
  {% endif %}

  <form method="POST" novalidate>

    <input type="hidden" name="_csrf" value="{{ csrfToken }}">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters-from-desktop">

        {{ yesNoRadioButtons.render({
          fieldId: FIELD_ID,
          heading: CONTENT_STRINGS.HEADING,
          submittedAnswer: submittedValues[FIELD_ID],
          errorMessage: validationErrors.errorList[FIELD_ID]
        }) }}

      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters-from-desktop">

        {% set detailsHtml %}
          <p data-cy="details-body-1">{{ CONTENT_STRINGS.DETAILS.BODY_1 }}</p>
          <p data-cy="details-body-2">{{ CONTENT_STRINGS.DETAILS.BODY_2 }}</p>
        {% endset %}

        {{ govukDetails({
          summaryText: CONTENT_STRINGS.DETAILS.INTRO,
          html: detailsHtml,
          attributes: {
            "data-cy": "details"
          }
        }) }}

      </div>
    </div>

    {{ govukButton({
      text: CONTENT_STRINGS.BUTTONS.CONTINUE,
      attributes: {
        'data-cy': 'submit-button'
      }
    }) }}

  </form>

{% endblock %}
