{% extends 'index.njk' %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from 'govuk/components/error-summary/macro.njk' import govukErrorSummary %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% import '../components/yes-no-radio-buttons.njk' as yesNoRadioButtons %}
{% import '../components/submit-button.njk' as submitButton %}

{% block pageTitle %}
  {{ CONTENT_STRINGS.PAGE_TITLE }}
{% endblock %}

{% block content %}

  {{ govukBackLink({
    text: CONTENT_STRINGS.LINKS.BACK,
    href: BACK_LINK,
    attributes: {
      "data-cy": DATA_CY.BACK_LINK
    }
  }) }}

  {% if validationErrors.summary %}
    {{ govukErrorSummary({
      titleText: CONTENT_STRINGS.ERROR_MESSAGES.THERE_IS_A_PROBLEM,
      errorList: validationErrors.summary
    }) }}
  {% endif %}

  <form method="POST" data-cy="form" enctype="application/x-www-form-urlencoded" novalidate>

    <input type="hidden" name="_csrf" value="{{ csrfToken }}">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters-from-desktop">

        {{ yesNoRadioButtons.render({
          fieldId: FIELD_ID,
          legendText: CONTENT_STRINGS.PAGE_TITLE,
          submittedAnswer: submittedValues[FIELD_ID],
          errorMessage: validationErrors.errorList[FIELD_ID]
        }) }}

      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters-from-desktop">

        {% set detailsHtml %}
          <p data-cy="details-body-1">{{ CONTENT_STRINGS.DETAILS.BODY_1 }}</p>
          <p data-cy="details-body-2">{{ CONTENT_STRINGS.DETAILS.BODY_2 }}</p>
        {% endset %}

        {{ govukDetails({
          summaryText: CONTENT_STRINGS.DETAILS.INTRO,
          html: detailsHtml,
          attributes: {
            "data-cy": "buyer-body"
          }
        }) }}

      </div>
    </div>

    {{ submitButton.render({
      text: CONTENT_STRINGS.BUTTONS.CONTINUE
    }) }}

  </form>

{% endblock %}
