{% extends 'index.njk' %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% import '../components/details-text.njk' as detailsText %}

{% block pageTitle %}
  {{ CONTENT_STRINGS.PAGE_TITLE }}
{% endblock %}

{% block content %}

  {{ govukBackLink({
    text: CONTENT_STRINGS.LINKS.BACK,
    href: BACK_LINK,
    attributes: {
      "data-cy": "back-link"
    }
  }) }}

  <h1 class="govuk-heading-l" data-cy="heading">{{ CONTENT_STRINGS.HEADING }}</h1>

  <p class="govuk-body" data-cy="body-1">{{ CONTENT_STRINGS.REASON.BODY_1 }}</p>

  <p class="govuk-body" data-cy="body-2">{{ CONTENT_STRINGS.REASON.BODY_2 }}</p>

  {{detailsText.render({
    items: CONTENT_STRINGS.ACTION
  }) }}

{% endblock %}
