{% extends 'index.njk' %}
{% from 'govuk/components/button/macro.njk' import govukButton %}

{% block pageTitle %}
  {{ CONTENT_STRINGS.PAGE_TITLE }}
{% endblock %}

{% block content %}

  <h1 class="govuk-heading-l" data-cy="heading">{{ CONTENT_STRINGS.PAGE_TITLE }}</h1>

  <p class="govuk-body" data-cy="reason">{{ CONTENT_STRINGS.REASON }}</p>

  <form method="POST" novalidate>

    <input type="hidden" name="_csrf" value="{{ csrfToken }}">

    {{ govukButton({
      text: CONTENT_STRINGS.LINKS.START_AGAIN.TEXT,
      attributes: {
        'data-cy': 'submit-button'
      }
    }) }}

  </form>

{% endblock %}
