{% extends 'index.njk' %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from 'govuk/components/error-summary/macro.njk' import govukErrorSummary %}
{% from "govuk/components/label/macro.njk" import govukLabel %}
{% from "govuk/components/hint/macro.njk" import govukHint %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/error-message/macro.njk" import govukErrorMessage %}
{% import '../components/text-input.njk' as textInput %}
{% import '../components/submit-button.njk' as submitButton %}

{% block pageTitle %}
  {{ CONTENT_STRINGS.PAGE_TITLE }}
{% endblock %}

{% block content %}

  {{ govukBackLink({
    text: CONTENT_STRINGS.LINKS.BACK,
    href: BACK_LINK,
    attributes: {
      "data-cy": DATA_CY.BACK_LINK
    }
  }) }}

  {% if validationErrors.summary %}
    {{ govukErrorSummary({
      titleText: CONTENT_STRINGS.ERROR_MESSAGES.THERE_IS_A_PROBLEM,
      errorList: validationErrors.summary
    }) }}
  {% endif %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters-from-desktop">

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-three-quarters-from-desktop">
            <h1 class="govuk-heading-l" data-cy="{{ DATA_CY.HEADING }}">{{ CONTENT_STRINGS.PAGE_TITLE }}</h1>
          </div>
        </div>

      </div>
    </div>

    <form method="POST" data-cy="form" enctype="application/x-www-form-urlencoded" novalidate>

      <input type="hidden" name="_csrf" value="{{ csrfToken }}">

      {% if isSinglePolicyType %}
        {{ textInput.render({
          id: FIELDS.POLICY_LENGTH.ID,
          labelText: FIELDS.POLICY_LENGTH.LABEL,
          labelClasses: "govuk-!-font-weight-bold govuk-!-font-size-24",
          inputClasses: "govuk-input--width-4 govuk-!-margin-bottom-4",
          suffixText: "months",
          spellcheck: false,
          inputmode: "numeric",
          pattern: "[0-9]*",
          value: submittedValues[FIELDS.POLICY_LENGTH.ID],
          errorMessage: validationErrors.errorList[FIELDS.POLICY_LENGTH.ID]
        }) }}
      {% endif %}

      <fieldset class="govuk-fieldset">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds-from-desktop">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <span class="govuk-fieldset__legend--m" data-cy="{{ FIELDS.AMOUNT_CURRENCY.ID }}-legend">{{ FIELDS.AMOUNT_CURRENCY.LEGEND }}</span>
            </legend>
          </div>
        </div>

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-three-quarters-from-desktop">
            {{ govukLabel({
              for: FIELDS.CURRENCY.ID,
              classes: "govuk-heading-l",
              text: FIELDS.CURRENCY.LABEL,
              attributes: {
                id: FIELDS.CURRENCY.ID + "-label",
                "data-cy": FIELDS.CURRENCY.ID + "-label"
              }
            }) }}
          </div>
        </div>

        {{ govukSelect({
          id: FIELDS.CURRENCY.ID,
          name: FIELDS.CURRENCY.ID,
          items: currencies,
          classes: "govuk-grid-column-one-quarter-from-desktop",
          attributes: {
            "data-cy": FIELDS.CURRENCY.ID + "-input"
          },
          errorMessage: validationErrors.errorList[FIELDS.CURRENCY.ID] and {
            text: validationErrors.errorList[FIELDS.CURRENCY.ID].text,
            attributes: {
              "data-cy": FIELDS.CURRENCY.ID + "-error-message"
            }
          }
        }) }}


        {% if isSinglePolicyType %}
          {{ textInput.render({
            id: FIELDS.CONTRACT_VALUE.ID,
            labelText: FIELDS.CONTRACT_VALUE.LABEL,
            hintText: FIELDS.CONTRACT_VALUE.HINT,
            inputClasses: "govuk-!-width-one-third",
            spellcheck: false,
            value: submittedValues[FIELDS.CONTRACT_VALUE.ID],
            errorMessage: validationErrors.errorList[FIELDS.CONTRACT_VALUE.ID]
          }) }}
        {% endif %}

        {% if isMultiplePolicyType %}
          {{ textInput.render({
            id: FIELDS.MAX_AMOUNT_OWED.ID,
            hintText: FIELDS.MAX_AMOUNT_OWED.HINT,
            labelText: FIELDS.MAX_AMOUNT_OWED.LABEL,
            inputClasses: "govuk-!-width-one-third",
            spellcheck: false,
            value: submittedValues[FIELDS.MAX_AMOUNT_OWED.ID],
            errorMessage: validationErrors.errorList[FIELDS.MAX_AMOUNT_OWED.ID]
          }) }}
        {% endif %}

      </fieldset>

      {{ govukSelect({
        id: FIELDS.PERCENTAGE_OF_COVER.ID,
        name: FIELDS.PERCENTAGE_OF_COVER.ID,
        label: {
          text: FIELDS.PERCENTAGE_OF_COVER.LABEL,
          classes: "govuk-!-font-weight-bold govuk-!-font-size-24",
          attributes: {
            id: FIELDS.PERCENTAGE_OF_COVER.ID + "-label",
            "data-cy": FIELDS.PERCENTAGE_OF_COVER.ID + "-label"
          }
        },
        hint: {
          text: FIELDS.PERCENTAGE_OF_COVER.HINT,
          attributes: {
            'data-cy': FIELDS.PERCENTAGE_OF_COVER.ID + '-hint'
          }
        },
        items: percentageOfCover,
        classes: "govuk-grid-column-one-quarter-from-desktop",
        attributes: {
          "data-cy": FIELDS.PERCENTAGE_OF_COVER.ID + "-input"
        },
        errorMessage: validationErrors.errorList[FIELDS.PERCENTAGE_OF_COVER.ID] and {
          text: validationErrors.errorList[FIELDS.PERCENTAGE_OF_COVER.ID].text,
          attributes: {
            "data-cy": FIELDS.PERCENTAGE_OF_COVER.ID + "-error-message"
          }
        }
      }) }}

      {% if isMultiplePolicyType %}

        {% set creditPeriodHintHtml %}
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds-from-desktop">
              <p class="govuk-!-margin-0" data-cy="{{ FIELDS.CREDIT_PERIOD.ID }}-hint">{{ FIELDS.CREDIT_PERIOD.HINT[0].text }} <a class="govuk-link" href="{{ FIELDS.CREDIT_PERIOD.HINT[1].href }}" data-cy="{{ FIELDS.CREDIT_PERIOD.ID }}-hint-link">{{ FIELDS.CREDIT_PERIOD.HINT[1].text }}</a> {{ FIELDS.CREDIT_PERIOD.HINT[2].text }}</p>
            </div>
          </div>
        {% endset %}

        {{ govukSelect({
          id: FIELDS.CREDIT_PERIOD.ID,
          name: FIELDS.CREDIT_PERIOD.ID,
          label: {
            text: FIELDS.CREDIT_PERIOD.LABEL,
            classes: "govuk-!-font-weight-bold govuk-!-font-size-24",
            attributes: {
              id: FIELDS.CREDIT_PERIOD.ID + "-label",
              "data-cy": FIELDS.CREDIT_PERIOD.ID + "-label"
            }
          },
          hint: {
            html: creditPeriodHintHtml
          },
          items: creditPeriod,
          classes: "govuk-grid-column-one-quarter-from-desktop",
          attributes: {
            "data-cy": FIELDS.CREDIT_PERIOD.ID + "-input"
          },
          errorMessage: validationErrors.errorList[FIELDS.CREDIT_PERIOD.ID] and {
            text: validationErrors.errorList[FIELDS.CREDIT_PERIOD.ID].text,
            attributes: {
              "data-cy": FIELDS.CREDIT_PERIOD.ID + "-error-message"
            }
          }
        }) }}

      {% endif %}

      {{ submitButton.render({
        text: CONTENT_STRINGS.BUTTONS.CONTINUE
      }) }}

    </form>

{% endblock %}
