{% extends 'index.njk' %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from 'govuk/components/error-summary/macro.njk' import govukErrorSummary %}
{% from 'govuk/components/radios/macro.njk' import govukRadios %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from 'govuk/components/button/macro.njk' import govukButton %}
{% from "govuk/components/error-message/macro.njk" import govukErrorMessage %}

{% block pageTitle %}
  {{ CONTENT_STRINGS.PAGE_TITLE }}
{% endblock %}

{% block content %}

  {{ govukBackLink({
    text: CONTENT_STRINGS.LINKS.BACK,
    href: BACK_LINK,
    attributes: {
      "data-cy": "back-link"
    }
  }) }}

  {% if validationErrors.summary %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: validationErrors.summary
    }) }}
  {% endif %}

  {% set class = "govuk-form-group" %}

  {% if validationErrors.errorList[FIELD_ID] %}
    {% set class = "govuk-form-group govuk-form-group--error" %}
  {% endif %}

  <form method="POST" novalidate>

    <input type="hidden" name="_csrf" value="{{ csrfToken }}">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters-from-desktop">
        {{ govukRadios({
          classes: "govuk-radios--inline",
          idPrefix: FIELD_ID,
          name: FIELD_ID,
          fieldset: {
            legend: {
              html: "<h1 class='govuk-heading-l' id='heading' data-cy='heading'>" + CONTENT_STRINGS.HEADING + "</h1>"
            }
          },
          items: [
            {
              value: true,
              text: "Yes",
              label: {
                attributes: {
                  "data-cy": "yes"
                }
              },
              attributes: {
                "data-cy": "yes-input"
              },
              checked: submittedValues[FIELD_ID] === true
            },
            {
              value: false,
              text: "No",
              label: {
                attributes: {
                  "data-cy": "no"
                }
              },
              checked: submittedValues[FIELD_ID] === false
            }
          ],
          errorMessage: validationErrors.errorList[FIELD_ID]and {
            text: validationErrors.errorList[FIELD_ID].text,
            attributes: {
              "data-cy": "inline-error-message"
            }
          }
        }) }}

      </div>
    </div>

    {{ govukButton({
      text: CONTENT_STRINGS.BUTTONS.CONTINUE,
      attributes: {
        'data-cy': 'submit-button'
      }
    }) }}

    {% set detailsHtml %}
      {% include "partials/uk-goods-and-services-description.njk" %}

      <p data-cy="goods-services-will-calculate-thoroughly">{{ CONTENT_STRINGS.WILL_CALCULATE_THOROUGHLY }}</p>
    {% endset %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters-from-desktop">

        {{ govukDetails({
          summaryText: CONTENT_STRINGS.UK_GOODS_AND_SERVICES_DESCRIPTION.INTRO,
          html: detailsHtml,
          attributes: {
            "data-cy": "goods-services"
          }
        }) }}

      </div>
    </div>

  </form>

{% endblock %}
