{% extends 'index.njk' %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% block pageTitle %}
  {{ CONTENT_STRINGS.PAGE_TITLE }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters-from-desktop">

      {% set titleHtml %}
        <span class="govuk-heading-xl govuk-!-display-inline-block ukef-white-text" data-cy="{{ DATA_CY.HEADING }}">{{ CONTENT_STRINGS.PAGE_TITLE }}</span>
      {% endset %}

      {% set panelHtml %}
        <h2 class="govuk-heading-xl ukef-white-text" data-cy="sub-heading">{{ CONTENT_STRINGS.QUOTE.SUB_HEADING }}</h2>

        {{ govukSummaryList({
          classes: 'govuk-!-text-align-left',
          rows: SUMMARY_LIST
        }) }}
      {% endset %}

      {{ govukPanel({
        titleHtml: titleHtml,
        html: panelHtml
      }) }}

      </div>
  </div>

  {% set insetTextHtml %}
    <ul class="govuk-list">
      <li class="govuk-!-margin-bottom-3" data-cy="notice-list-item-1">{{ CONTENT_STRINGS.NOTICE_1 }}</li>
      <li class="govuk-!-margin-bottom-3" data-cy="notice-list-item-2">{{ CONTENT_STRINGS.NOTICE_2 }}</li>
      <li class="govuk-!-margin-bottom-0" data-cy="notice-list-item-3">{{ CONTENT_STRINGS.NOTICE_3 }}</li>
    </ul>
  {% endset %}

  {{ govukInsetText({
    html: insetTextHtml
  }) }}

  <h3 class="govuk-heading-m" data-cy="what-happens-next-heading">{{ CONTENT_STRINGS.WHAT_HAPPENS_NEXT.HEADING }}</h3>

  <p class="govuk-body">
    <span data-cy="what-happens-next-intro-you-can">{{ CONTENT_STRINGS.WHAT_HAPPENS_NEXT.INTRO.CAN_NOW_SUBMIT }}</span>
    <a class="govuk-link govuk-link--no-visited-state" href="{{ CONTENT_STRINGS.WHAT_HAPPENS_NEXT.INTRO.FULL_APPLICATION.HREF }}" data-cy="what-happens-next-full-application-link">{{ CONTENT_STRINGS.WHAT_HAPPENS_NEXT.INTRO.FULL_APPLICATION.TEXT }}</a>.
  </p>

  <p class="govuk-body" data-cy="what-happens-next-intro-timeframe">{{ CONTENT_STRINGS.WHAT_HAPPENS_NEXT.INTRO.TIMEFRAME }}</p>
  <p class="govuk-body" data-cy="what-happens-next-intro-can-get-help">{{ CONTENT_STRINGS.WHAT_HAPPENS_NEXT.INTRO.CAN_GET_HELP }}</p>

  <h4 data-cy="what-happens-next-finance-managers-heading">{{ CONTENT_STRINGS.WHAT_HAPPENS_NEXT.EXPORT_FINANCE_MANAGERS.HEADING }}</h4>

  <p class="govuk-body">
    <span data-cy="what-happens-next-finance-managers-available">{{ CONTENT_STRINGS.WHAT_HAPPENS_NEXT.EXPORT_FINANCE_MANAGERS.AVAILABLE }}</span>
    <a class="govuk-link govuk-link--no-visited-state" href="{{ CONTENT_STRINGS.WHAT_HAPPENS_NEXT.EXPORT_FINANCE_MANAGERS.NEAREST_EFM.HREF }}" data-cy="what-happens-next-finance-managers-link">{{ CONTENT_STRINGS.WHAT_HAPPENS_NEXT.EXPORT_FINANCE_MANAGERS.NEAREST_EFM.TEXT }}</a>.
  </p>

  <h4 data-cy="what-happens-next-brokers-heading">{{ CONTENT_STRINGS.WHAT_HAPPENS_NEXT.BROKERS.HEADING }}</h4>

  <p class="govuk-body" data-cy="what-happens-next-brokers-act-as">{{ CONTENT_STRINGS.WHAT_HAPPENS_NEXT.BROKERS.ACT_AS }}</p>
  
  <p class="govuk-body">
    <span data-cy="what-happens-next-brokers-they-receive-intro">{{ CONTENT_STRINGS.WHAT_HAPPENS_NEXT.BROKERS.THEY_RECEIVE.INTRO }}</span>
    <a class="govuk-link govuk-link--no-visited-state" href="{{ CONTENT_STRINGS.WHAT_HAPPENS_NEXT.BROKERS.THEY_RECEIVE.LINK.HREF }}" data-cy="what-happens-next-brokers-link">{{ CONTENT_STRINGS.WHAT_HAPPENS_NEXT.BROKERS.THEY_RECEIVE.LINK.TEXT }}</a>
    <span data-cy="what-happens-next-brokers-outro">{{ CONTENT_STRINGS.WHAT_HAPPENS_NEXT.BROKERS.THEY_RECEIVE.OUTRO }}</span>
  </p>

  <p><a class="govuk-link govuk-link--no-visited-state" href="{{ CONTENT_STRINGS.LINKS.START_AGAIN.HREF }}" data-cy="start-again">{{ CONTENT_STRINGS.LINKS.START_AGAIN.TEXT }}</a></p>
  <p><a class="govuk-link govuk-link--no-visited-state" href="{{ CONTENT_STRINGS.LINKS.EXTERNAL.FEEDBACK }}" data-cy="feedback">{{ CONTENT_STRINGS.LINKS.GIVE_FEEDBACK }}</a></p>

{% endblock %}
