{% import '../../../../components/yes-no-radio-buttons.njk' as yesNoRadioButtons %}

{% set conditionalNoHtml %}
  {% include "partials/insurance/declarations/modern-slavery/conditional-reasons/aware-of-existing-slavery.njk" %}
{% endset %}

{% set fieldId = FIELDS.IS_NOT_AWARE_OF_EXISTING_SLAVERY.ID %}

{#
  When a submitted answer that is not saved in the database has a value of value,
  to ensure that the "no" radio is checked,
  we need to manually set the submittedAnswer after the application field.
  Otherwise, if we do the following:
  submittedValues[fieldId] or application.declaration.modernSlavery[fieldId]
  It will always go to the application field, because the first value is false.
#}
{% set submittedAnswer = application.declaration.modernSlavery[fieldId] %}

{% if submittedValues[fieldId] === false %}
  {% set submittedAnswer = submittedValues[fieldId] %}
{% endif %}

{{ yesNoRadioButtons.render({
  fieldId: fieldId,
  legendText: FIELDS.IS_NOT_AWARE_OF_EXISTING_SLAVERY.LABEL,
  legendClass: 'govuk-fieldset__legend--s',
  legendSpan: true,
  errorMessage: validationErrors.errorList[fieldId],
  dataCyLegend: fieldId + '-legend',
  horizontalRadios: HORIZONTAL_RADIOS,
  conditionalNoHtml: conditionalNoHtml,
  submittedAnswer: submittedAnswer
}) }}
