{% import '../../../../components/yes-no-radio-buttons.njk' as yesNoRadioButtons %}

{% set conditionalNoHtml %}
  {% include "partials/insurance/declarations/modern-slavery/conditional-reasons/cannot-adhere-to-all-requirements.njk" %}
{% endset %}

{% set fieldId = FIELDS.WILL_ADHERE_TO_ALL_REQUIREMENTS.ID %}

{#
  When a submitted answer has a boolean value of false,
  to ensure that the "no" radio is checked,
  we need to manually set the submittedAnswer to the false boolean.
  Otherwise, nunjucks will not have a submittedAnswer variable of false
  and submittedAnswer would be empty.
#}
{% set submittedAnswer = submittedValues[fieldId] or application.declaration.modernSlavery[fieldId] %}

{% if submittedValues[fieldId] === false %}
  {% set submittedAnswer = submittedValues[fieldId] %}
{% endif %}

{{ yesNoRadioButtons.render({
  fieldId: fieldId,
  legendText: FIELDS.WILL_ADHERE_TO_ALL_REQUIREMENTS.LABEL,
  legendClass: 'govuk-fieldset__legend--s',
  legendSpan: true,
  errorMessage: validationErrors.errorList[fieldId],
  dataCyLegend: fieldId + '-legend',
  horizontalRadios: HORIZONTAL_RADIOS,
  conditionalNoHtml: conditionalNoHtml,
  submittedAnswer: submittedAnswer
}) }}
